.caBackgroundContainer{
    width:100%;
    /* main-height:100vh; */
    display: flex;
}
.mainBackground{
    background-image: url("../img/Background.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    display: flex;
    box-sizing: border-box;
    flex: 1 1;
    justify-content: flex-end;
}
.cs_div{
    width: 27vw;
}
.div{
width: 100vw;
height: 100vh;
}
.box{
background:white;
width: 33%;
min-height: 80%;
box-shadow: 0px 4px 16px rgba(0, 87, 218, 0.12);

border-radius: 10px;
display: flex;
flex-wrap: wrap;
margin-top: 110px;
margin-bottom: 22px;
margin-right: 60px;
height: fit-content;
}
.maindiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
}
 .div1{
    width: 100%;
    margin-left: 35%;
    margin-top: 2%;
    height: 10%;
}
.div2{
    height: 3%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.div2_3{
    margin-right: 0%;
}
.div2_4{
    width: 100%;
}
.headline{
font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
text-transform: uppercase;
color: #4E1DE4;
}
.gender{
    width: 100%;
}
.pic{
    margin-top: 8.2%;
}


.nameInput, .genderDiv, .emailInput, .contactInput, .collegeInput,  .clgstateInput, .yearInput, .addCollegeInput, .reasonInput, .passwordInput,.cnfpasswordInput
{
    display: -webkit-inline-box;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 17px;
    /* identical to box height */
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-wrap: wrap;
}
 .emailInput, .contactInput, .clgstateInput, .yearInput,.passwordInput, .cnfpasswordInput
{
    width: 40%;
    padding: 20px;
}
.name{
    height: 20%;
}
.nameInput{
    width: 100%;
    padding: 20px;

}
.genderDiv{
    padding: 0%;
    margin-left: 20px;
    margin-top: -2%;
    margin-bottom: 1%;
      width:100%;
    
}
.college1{height: 40%;}
.collegeInput{display: flex;
flex-wrap: wrap;}
.collegeInput,  .reasonInput{
    width: 100%;
    padding: 20px
}
.addCollegeInput{
    width: 100%;
    padding:23px;
}
.label_gender
{
    margin-right: 1%;
    color: rgba(0, 0, 0, 0.4);;
    font-weight: normal;
}
.label_gender1{
    color: rgba(0, 0, 0, 0.4);;
    font-weight: normal;
}
.branchInput, .collegeInput
{
    width: 100%;
    padding: 20px;
}
.checkbox_input
{
    border: 1.5px solid #252CAB;
    box-sizing: border-box;
    border-radius: 2px;
}
.textInput, .textInput1
{
    outline: none;
    padding-top: 10px;
    border: none;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.54);
}
.textInput1{margin-bottom: 6%; width: 84%;}
.lineInput{
    outline: none;
    padding-top: 10px;
    border: none;
    border-bottom: 1px solid #4E1DE4;
    width: 25%;
    margin-left: 7%;

}
.underlineInput, .underlineInput1{
    outline: none;
    padding-top: 10px;
    border: none;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.54);
    width: 81%;
   

}
.underlineInput1{margin-right: 8%;}
.gender
{
    margin-bottom: 10px;
    z-index: 0;
}
.registerButton
{
    outline: none;
    background: #252CAB;
    border: none;
    /* padding: 8px; */
    width: 88%;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    height: 52px;
    cursor: pointer;
    border-radius: 4px;
}
.registerButton_div
{
    width: 40%;
    margin-left: 35%;
    margin-bottom: 16px;
    margin-top: 16px;
}
@media screen and (max-width:850px){
    .mainBackground{
    background: linear-gradient(92.21deg, #00B9E1 0%, #5B05E8 101.18%);
    display: flex;
    justify-content: center;
}
    .box{
        display: inline-flex;
    width: 94%;
    height: fit-content;
    position: unset;
    margin-top: 24%;
    margin-right: 0px;

}
.nameInput,.name,.genderDiv,.nameInput, .emailInput, .contactInput, .clgstateInput, .yearInput, .passwordInput,
.cnfpasswordInput
{width: 100%}
.textInput1, .textInput, .underlineInput, .underlineInput1{margin-bottom: 0%;
width: 100%;}
.nameInput, .genderDiv, .emailInput, .contactInput, .collegeInput,  .clgstateInput, .yearInput, .addCollegeInput, .reasonInput, .passwordInput,
.cnfpasswordInput{
    font-size: 14px;
}
.emailInput{
    margin-top: -7%;
}
.div1{
    margin-left: 28%;
}
.label_gender
{
    margin-right: 5%;}
    .registerButton{width: 85%;
    font-size: 18px;}
    .registerButton_div{width:44%;margin-left: 29%;}
    .registerButton{width: 95%;}
    .genderDiv{margin-bottom: 4%;
        margin-top: 2%;}
}

.cs_div{
    width: 27vw;
}

@media only screen and (min-width:300px) and (max-width:450px){

    .cs_div{
        width: 82vw;
    }
}
@media only screen and (min-width:500px) and (max-width:850px){
    .box{
        margin-top: 15%;
        height: fit-content;
    }
    .registerButton{margin-bottom: 7%;
    }
    .cs_div{
        width: 82vw;
    }
}
@media only screen and (min-width:850px) and (max-width:1500px) {
    .box{
        width:44%;
        min-height: 75%;
        height: fit-content;
    }
    .cs_div{
        width: 27vw;
    }
    .genderDiv{
        width: 100%;
    margin-bottom: -6%;
    margin-top: 2%;
}
.textInput, .textInput1{
    margin-right: 14%;
    width: 86%;
}
    .gender{  width: 100%;  margin-top: -5%; margin-bottom: 7%;}
    .underlineInput, .underlineInput1,.textInput1{width: 86%;}
    .label_gender,.label_gender1{
        margin-right: 5%;
    }
    .registerButton{margin-top: -3%;
    }

}

@media only screen and (min-width:1200px) and (max-width:1480px){

    .cs_div{
        width: 37vw;
    }
}
