.mainDivContainer 
{
       overflow-x: hidden;
    background-color: white;
}
/* div.container::-webkit-scrollbar-track { */
/*   box-shadow: inset 0 0 5px grey; */ 
/*   border-radius: 10px; */
/* } */
/* /1* Handle *1/ */
/* div.container::-webkit-scrollbar-thumb { */
/*   background: red; */ 
/*   border-radius: 10px; */
/* } */
/* div.container::-webkit-scrollbar { */
/*   width: 20px; */
/* } */
.container
{
    white-space: no-wrap;
    /*display: -webkit-inline-box;*/
    width: fit-content;
    overflow: scroll;
    text-overflow: ellipsis;
    text-align: center;
    margin-top: 8vh;
    position: relative;
    display: -webkit-inline-box;
}
div.container::-webkit-scrollbar {
    width: 0 !important
}
.outerbox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.leftArrow
{
    cursor: pointer;
    position: absolute;
    top: 174px;
    z-index: 1;
}
.rightArrow
{
    cursor: pointer;
    top: 174px;
    bottom: 170px;
    right: 0px;
    z-index: 1;
    position: absolute;
    transform: rotateY(180deg);
}
.karwaancontent{
    text-align: center;
    width: 75vw;
    margin: auto;
    align-items: center;
    font-family: Montserrat;
    font-style: normal;
    font-size: 16px;
    margin-top: 1vh;
}

.city{
    font-family: Alegreya; 
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #000000;

}
.karwaan{
    display: flex;
    justify-content: center;
} 
  .karwaan_img{
    width: 10%;
    height: 10%;;
}
.cloudcontainer{
    width: 100vh;
    /*margin-top: -4vh;*/
    
}
.cloudcontainer img {
    width: 100vw;
}
@media only screen and (max-width: 768px) {

    .cloudcontainer{
        margin-top: -1vh;
    }

    .cloudcontainer img {
        width: 100vw;
        margin-top: -25px;
    }
    .karwaan_img{
    margin-top: 10%;
    width: 25%;
    height: 15%;
}

.city{
    font-size: 20px;
}
    
}
