.container{
    width: 100%;
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.backgroundImage{
    background: url('../../../associatewithus/Common/img/background.png') ;
    /* background-image: url("../../img/background.png"); */
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.wraper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card{
    /* overflow: hidden; */
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.5);
    /* border-radius: 10px; */
    /* border: 1px solid white; */
    width: 435px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.formCard{
    box-sizing: border-box;
    padding: 6%;
}

.header{
    display: flex;
    justify-content: center;
    text-decoration-line: underline;
    color:white;
 }

.header > label{
font-family: playfire display;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 22px;
/* identical to box height */
text-transform: uppercase;

color: white;

}
 
 .Form{
     display: flex;
     flex-direction: column;
     box-sizing: border-box;
     padding: 7.5%;
     padding-top: 10%;
 }
.Form input{
    display: flex;
    padding: 5px;   
    display: flex;
    padding: 5px;
    width: 100%;
    background: none;
    color: white;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    margin-bottom: 15%;
}

.heading{
font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 17.5px;
line-height: 17px;
/* identical to box height */
margin: 0;
text-transform: uppercase;

color: white;

}

.submit{
    display: flex;
    justify-content: center;
    
}
.login_button {
    width: 50%;
    font-family: Lato;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    background: white;
    border-radius: 10px;
    color: #FFFFFF;
    border: none;
    color:blue;
    padding: 10px;
    outline: 0 none;

 }
.footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;   
}

.resend{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    
}

.forgotPass{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    
}

.link{
    padding-bottom: 6px;
    text-decoration: none;
    font-size: 18px;
    color: white;
}

@media screen and (max-width:768px)
{
     .container{

        display: flex;
        justify-content: center;
        flex-direction: column;
        /* background: linear-gradient(93.64deg, #00B9E1 0%, #5B05E8 101.18%); */
     }

    /* .backgroundImage{
        display: none;
    } */

    .wraper{
        display: flex;
        justify-content: center;
        /* flex-direction: column; */
        /* width: auto; */   
        padding:0;
        margin-right: 0;
    }

    .card{
        width: 300px;
        height: 350px;
    }

      .header > label{
          font-size: 20px;
          line-height: 20px;
      }
      .Form{
          padding-top: 17.5%;
      }

    .link{
        font-size: 14px;
    }
    
    .submit{
        padding-top: 10px;
    }
    button{
        font-size: 18px;
        line-height: 18px;
    }
    .heading{
        font-size: 15.5px;
        line-height: 0;
    }
   .footer{
       padding-top: 5%;

   }

}