.maindiv{
    background:#1c364d;
    width: 100vw;
    height: 100vh;
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;


}
.main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c364d;
}
.div2{
    width: 300px;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

background: #334A5F;
box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.24);
border-radius: 4px;
}
.div3{
    display: none;
    height: 100px;
    width: 100px;
    height: 100px;
    background-color: #bbb;
    border-radius: 50%;
   
    margin-top: 10%;
}
.div4{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text2{
    font-family: Lato;
    font-size: 24px;
    color: #FFFFFF;
}



.div4_3{
    width: 100%
}
.text{
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    font-family: Lato;
}
.div5,.div5_2{
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    display: flex;
}
.div5_2{
    padding-bottom: 2%
}
.text3{
    font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 29px;
text-align: center;

color: #FFFFFF;
}

.text1{
    
    font-family: Lato;
font-style: normal;
font-weight: 900;
font-size: 14px;
line-height: 17px;


color: rgba(255, 255, 255, 0.54);}

.text3{
font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;
text-align: center;

color: #FFFFFF;
}
.div4_2{
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
   
}
.div4_1{
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}
.cancle{
    position: absolute;
    left: 4%;
    top: 6%
}
.cancle_button{
    color: aliceblue
}

