.Father{
    min-height: 100vh;
    background-color:#1c364d; 
}
.maindiv{
    width: 70%;
    margin-left: 30%;
    min-height: 100vh;
    /* background-color:#1c364d; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    
}
table {
    border-collapse: collapse;
    width: 100%;
    
  }
  
  th, td {
    text-align: center;
    padding: 8px;
    
  }
  .participater{
    background: #334A5F;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
  }
  .rank,.share,.score,.likes{
      width: 10%
  }
  .name{
      width: 18%;
  }
  .institute{width: 20%}
  .header{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    
}
.ca_leaderboard_note {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    margin: 0;
}
.text{
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #FFFFFF;

}
.leaderboard_popup
{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
}
.hide{
    display: none;
}
@media screen and (max-width: 855px){
    .maindiv{
        width: 100%;
        height: 100vh;
        background-color: #1c364d;
       
        margin-left: 0%;
    }
    .institute,.share,.likes,.hidden{display: none}
    table{
        margin-top: 14%;
    }
    .ca_leaderboard_note{
        margin-left: 0;
    }
}


  
  



