.maindiv {
    background-color: black;
    min-height: 100vh;
    display: flex;
    width: 70%;
    margin-left: 30%;
    flex-direction: row;
    flex-wrap: wrap;
     justify-content: space-evenly;
     /* padding-bottom: 6vh; */
    align-items: center;
}

.headerdiv{
    width: 100%;
    text-align: center;
}
.header{ 
    font-family: Lato;
font-size: 24px;
line-height: 36px;
/* margin-top: 9vh; */
color: #FFFFFF;
}
.cardDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* width: 100%; */
    margin-top: 5%;
    cursor: pointer;
}
.card{
    width: 400px;
height: 340px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #FFFFFF;
box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.25);
border-radius: 4px;
}
.cardImg{
    background-color: antiquewhite;
    width: 400px;
height: 265.8px;
border-radius: 4px 4px 0px 0px;
}
.cardContent{
    width: 400px;
    height: 74.16px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
}
.cardContentHeader{
    font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 34px;
align-items: center;
color: #1C364D;
text-transform: uppercase;
}
.cardPrice{
    font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;
color: #000000;

}
.priceDiv{
    width: 90px;
height: 28px;
    border: 1.25px solid #1C364D;
box-sizing: border-box;
border-radius: 4px;
display: flex;
justify-content: center;
align-items: center;
}
.hide{
    display: none;
}
.note{
    color:red;
    width:80%;
}
@media screen and (max-width:768px){
    .maindiv{
        width: 100vw;
        margin-left: 0%;
        padding-top: 8vh;
        padding-bottom:0;
    }
    .card{width: 328px;
        height: 276px;
    margin-bottom: 10%;}
        .cardImg,.img{
            width: 328px;
height: 217.95px;
        }
        .cardContent{
            width: 328px;
            height: 58.05px
        }
        .priceDiv{
            width: 64px;
height: 22px;
        }
        .header{text-align:center}
        .popupMaindiv{
            width: 300px;
height: 270px;
        }
        .popup{
           margin-left: 0%;
        }
        .hide{
            display: none
        }
       .cardContentHeader{
           font-size: 18px;
       }




}
@media only screen and (max-width:320px){

    .card{width: 280px;
        height: 230px;
    margin-bottom: 10%;}
        .cardImg{
            width: 280px;
height: 180px;
        }
        .cardContent{
            width: 280px;
            height: 50px
        }
        .priceDiv{
            width: 64px;
height: 22px;
        }
        
  
}
.popupMaindiv{
width: 672px;
height: 342px;
background: #000406;
box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.4);
border-radius: 5px;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
}
.popupContent1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size:14px;
}
.popupContent2{
    width: 75%;
    font-size:10px;
}
.cardContentHeader1{
    font-family: Proxima Nova;
font-size: 30px;
line-height: 30px;

color: #FFFFFF;
margin-top: -6%;
}
.cardContent1{
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 129%;
/* or 18px */

text-align: center;

color: rgba(255, 255, 255, 0.87);

}
.popupContent{
    width: 100%;
}


.popup{
    display: flex;
    width: 70%;
    margin-left: 30%;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100vh;
    z-index: 10;
    top: 0;
    left: 0;
    background:#000000ab;
}
.cancle{
    width: 90%;
    display: flex;
    justify-content: flex-end;
}
.cancleText{
    cursor: pointer;
    color: #FFFFFF;
    height: 0;
    margin-top: 0;
    font-size: 24px;
}
.terms{
    display: flex;
    justify-content: center;
    align-items:center;
    cursor: pointer;
    color: white;
    line-height: 14px;

}
.checkbox{
    width: 51px;
    margin: 0;
    height: 19px;
}
.buttonDiv{
    margin-top: 3%;
}
.pay_button{
    width: 150px;
    height: 39px;
    cursor: pointer;
    font-size: 21px;
    border-radius: 4px;
    border-style: none;
}

@media only screen and (max-width:768px){
    .popup{
        display: flex;
        margin-left: 0%;
        justify-content: center;
        align-items: center;
        position: fixed;
        height: 100vh;
        width: 100%;
        z-index: 10;
        top: 0;
    background:#000000ab;;
        
    }
    .terms{
        font-size: 14px;
    }
    .checkbox{
        height:14px;
        width:35px;
    }
    .popupMaindiv{
        width: 300px;
        height: 295px;
    }
    .cardContentHeader1{
        font-size: 18px;
    }
    .popupContent2{
        width: 80%;
    }
    
.cardContent1,.note{
    font-size: 10px;
    line-height:12px;
}
.cancle{
    width: 90%;
    display: flex;
    justify-content: flex-end
}
.cancleText{
    color: #FFFFFF;
    height: 0;
    margin-top: -4px;
    font-size: 20px;
    
}
}