.aboutUsMainWrapper{
  width:100vw;
  min-height: 100vh;
  display:flex;
  /* padding-top:20vh; */
  position: relative;
  /* top: 20vh; */
  background-color:#10071C;
  /* z-index: -1; */
}
.canvas{
  position: absolute;
  top:0px;
  left:0px;
  z-index:20;
}
.lanternContainer{
  /* display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; */
  position: relative;
  top:0px;
  left:0px;
  width:30%;
  min-height: 100%;
  z-index:100;
  animation: fly 5s ease-in-out infinite;
}
.number{
 font-weight: 500;
 font-size:27px;
}
.info{
  font-weight: 100;
  font-size:21px;
}
.l1{
  height:auto;
  width:300px;
  position: absolute !important;
  top:10vh !important ;
  left:15vw !important;
  animation:fly1 4s ease-in-out infinite !important;
}
.l2{
  height: auto;
  width:300px;
  position: absolute!important;
  top:32vh !important;
  left:-2vw !important;
}
.l5{
  height:auto;
  width:500px;
  position: absolute !important;
  top:3% !important;
  left:-10% !important;
}
.l3{
  height: auto;
  width:300px;
  position: absolute !important;
  top:51vh !important;
  left:-5% !important;
}
.l4{
  height: auto;
  width:300px;
  position: absolute;
  top:56%!important;
  left:47% !important;
}
.aboutUsMain{
  width: 50%;
  margin-left: 14%;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.headingContainer{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color:#fff;
  font-family: playfair Display;
  font-size:38px;
  font-weight: bold;
  line-height: 51px;

  text-transform: uppercase;
}
.infoOuterContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.infoContainer{
  display: flex; 
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
  width: 15vw;
  height: 11vh;

}
.aboutImage{
  height:44px;
  width:44px;
}
.infoRight{
  display: flex;
  flex-direction: column;
  align-items: center;
  color:#552d69;
  margin: 0; 
  
  font-size:22px;
}
.infoRight>p{
  margin:0px;
}

.thomsoInfoContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  color:#fff;
  font-size:18px;
  font-family: lato;
  z-index: 1000;
}
.more{
  cursor: pointer;
 color: rgba(255, 255, 255, 0.5);
  transition:all 1s ease-in;
}
.less{
  color:#fff;
  cursor: pointer;
  display:none;
  transition:all 2s ease-in;
}
.hidetext{
  /* font-size:18px; */
  transform: translate(0);
  transition:all 1s ease-in;
}
.showtext{
  transform: translate(200%);
display:none;
  transition:all 1s ease-in;
}
.thumbnail{
  width: 28vw;
  height: 30vh;
  margin-top:5vh;
  transition: margin 1s ease-in-out;
}
@media only screen and (max-width:768px){
  .lanternContainer{
    /* display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; */
    position: relative;
    top:0px;
    left:0px;
    width:30%;
    min-height: 100%;
    z-index:100;
    animation: none;
  }
  .number{
    font-weight: 500;
    font-size:16px;
   }
   .info{
     font-weight: 100;
     font-size:14px;
   }
  .thumbnail{
    display: none;
  }
  .aboutUsMain{
    height:60vh !important;
    width:60%;
    margin-left:35%;
  }
  .headingContainer{
    font-size:30px;
  }
  .infoContainer{
    width: 15vw;
    /* height: 11vh; */
    align-items: center;
    flex-direction: column;
  }
  .aboutImage{
    height:36px;
    width:36px;
  }
  .infoRight{
    font-size:18px;
  }
  .thomsoInfoContainer{
    font-size:20px;
  }
}


@media only screen and (max-width:500px){
 
 .aboutUsMainWrapper{
   min-height: auto;
 }
  .thumbnail{
    display: none;
  }
  .aboutUsMain{
    min-height:auto;
    width:60%;
    margin-left:17px;
  }
  .headingContainer{
    font-size:20px;
  }
  .infoContainer{
    width: 18vw;
    /* height: 11vh; */
    align-items: center;
    flex-direction: column;
  }
  .aboutImage{
    height:22px;
    width:22px;
  }
  .infoRight{
    font-size:10px;
  }
  .thomsoInfoContainer{
    font-size:10px;
  }.hidetext{
    font-size:10px;
    transition:all 2s ease-in;
    margin:auto;
  
  }
  .l1{
    height:auto;
    width:100px;
    position: absolute !important;
    top:10vh !important ;
    left:15vw !important;
    
  }
  .l2{
    height: auto;
    width: 138px;
    position: absolute!important;
    top: 22vh !important;
    left: -6vw !important;
  }
  .l5{
    height:auto;
    width:200px;
    position: absolute !important;
    top:13% !important;
    left:-51% !important;
  }
  .l3{
    height: auto;
    width:100px;
    position: absolute !important;
    top:32vh !important;
    left:-5% !important;
  }
  .l4{
    height: auto;
    width:100px;
    position: absolute;
    top:40%!important;
    left:45% !important;
  }
  

}

@media only screen and (min-width:500px) and (max-width:900px){
 
  .lanternContainer{
    left:44px;
  }
  .aboutUsMainWrapper{
    min-height: auto;
  }
   .thumbnail{
     display: none;
   }
   .aboutUsMain{
     min-height:auto;
     width:60%;
     margin-left:17px;
   }
   .headingContainer{
     font-size:20px;
   }
   .infoContainer{
     width: 18vw;
     /* height: 11vh; */
     align-items: center;
     flex-direction: column;
   }
   .aboutImage{
     height:22px;
     width:22px;
   }
   .infoRight{
     font-size:10px;
   }
   .thomsoInfoContainer{
     font-size:10px;
   }
   .l1{
     height:auto;
     width:100px;
     position: absolute !important;
     top:10vh !important ;
     left:15vw !important;
   }
   .l2{
     height: auto;
     width: 138px;
     position: absolute!important;
     top: 22vh !important;
     left: -6vw !important;
   }
   .l5{
     height:auto;
     width:200px;
     position: absolute !important;
     top:13% !important;
     left:-51% !important;
   }
   .l3{
     height: auto;
     width:100px;
     position: absolute !important;
     top:32vh !important;
     left:-5% !important;
   }
   .l4{
     height: auto;
     width:100px;
     position: absolute;
     top:40%!important;
     left:45% !important;
   }
   
 
 }




 @keyframes fly{
   0%{
     transform: translateY(50px);
   }
   50%{
    transform: translateY(0px);
   }
   100%{
    transform: translateY(50px);
   }
 }
 @keyframes fly1{
  0%{
    transform: translateX(15px);
  }
  50%{
   transform: translateX(0px);
  }
  100%{
   transform: translateX(15px);
  }
}