.container{
    width: 100%;
    /* height: 25vh; */
    /* background:linear-gradient(187.63deg, rgba(0, 0, 0, 0.8) 19.48%, #000000 74.8%); */
    display: flex;
    box-sizing: border-box;  
    min-height: auto;    
}
.outercontainer{
    background:linear-gradient(187.63deg, rgba(0, 0, 0, 0.8) 19.48%, #000000 74.8%);
    margin-top: 2%;
}

.footer{
    width: 100%;
    height: auto;
}
.wraper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2.5% 5% 2% 5%;
}

.contactUs{
    display: flex;
    flex-flow: column;
    width:fit-content;
}

.contactUs > label{
    display: flex;
justify-content: center;
flex-direction: column;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 22px;
color:#FFFFFF;
letter-spacing: 0.05em;

}


.contactUs > .para1{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
color:#FFFFFF;
margin: none;
text-transform: lowercase;

}

.followUs{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.followUs >label{
flex-flow: column;
flex-direction: column;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 22px;
text-transform: uppercase;
color: #FFFFFF;
letter-spacing: 0.05em;


}

.btn{
    display: flex;
    justify-content: space-around;
}

.icons{
    /*margin-left: 12px;*/
    margin-right: 25px;
    margin-top: 25px;
}

.getDirection{
    display: flex;
    flex-flow: column;
    width:fit-content;
    

}

.getDirection > label{
display: flex;
flex-flow: column;
flex-direction: column;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 22px;
text-transform: uppercase;
color: #FFFFFF;
letter-spacing: 0.05em;
}

.getDirection > .para2{
   
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #FFFFFF;
    margin: none; 
}
    

  /* media querries*/    
    @media only screen and (max-width:700px)
    {
     .container{
         width: 100%;
         /* height: 60vh; */
        

     }
     .iconImg{
         width: 25px;
     }
     .contactUs{
        padding: 0px 0px 15px;
     }
     .getDirection{
        padding: 0px 0px 15px;
     }

     .wraper{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        padding: 3.5% 0% 7% 9%;
    }

    .followUs{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: flex-start;
    }

    .contactUs > label{
        font-size: 20px;
        line-height: 26px;
    }

    .contactUs > .para1{
        font-size: 14px;
        
    }

    .followUs > label{
          font-size: 20px;
      }

     .getDirection > label{
         font-size: 20px;
         line-height: 22px;
     }

     .getDirection > .para2{
         font-size: 14px;
     }


  }
 



















 