@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@font-face{
    font-family: amarillo;
    src: url(../img/Amarillo.woff);
}
 .main_img{
     width:100vw;
     position: absolute;
     height:calc(100vw / 1.48);
     top:0;
     /* z-index: -1; */
     z-index: 2;
 }
 .canvas{
     position: absolute;
     top:0px;
     left:0px;
     z-index:20;
 }

 .main_img2{
     width:100vw;
     position: absolute;
     height:calc(100vw / 1.48);
     top:0;
     left:-10px;
     width:calc(100vw + 10px);
     z-index: 0;
 }
 .main{
     /* z-index: 200; */
     height:calc(100vw / 1.48);
     position: relative;
     overflow: hidden;
 }
 .mainIn{
     position :absolute;
     top:24vh;
     left:10vw;
 }
 .thomsoHeadingContainer{
     display: flex;
     justify-content: center;
     align-items: flex-start;
     flex-direction: column;
     /* z-index:200; */
 }
 .thomsoHeading{
     height:18vh;
 }
 .thomsoTheme{
     color:#fff;
     font-size:4.5vh;
     font-family:amarillo;
     text-transform: lowercase;

 }
 .thomsoDate{
     color:#fff;
     font-size:3.5vh;
     font-weight:bold;
        margin-top: 0;
        font-family:lato;
 }
 .linksContainer{
    display:flex;
    justify-content: space-between;
    width:120%;
    z-index:100 ;
 }
 .linksContainer>a{
     text-decoration: none;
     font-family: lato;
     background-color: rgba(255, 255, 255, 0.9);
     color:#4d3973;
     text-transform:uppercase;
     font-weight:bolder;
    border-radius: 2px;
    padding: 2vh 2vw;
    width:33%;
    font-size:2vh;
    z-index: 400;
    text-align: center;
    }

 .grass{
     width:100% !important;
     height: 200px !important;
    position: absolute  !important;
    top:100vh !important;
    /* z-index:2; */
 }
 /* .cat_down{
     height: calc((100vw / 1.48 - (70vh))); 
     left: -4vw; 
     bottom:0;
    position:  relative;
    width: auto;
    bottom:-30vh;
     top:calc(100vw / 1.48 - 60vh);

}
.cat_up{
    height: calc((100vw / 1.48 - (70vh)));
    left: 24vw;
    position: absolute;
    bottom: 0;
    width: auto;
    bottom: 0;
} */


.cat{
    width:calc(35vw);
    height: auto;
    position:absolute;
    top:calc( 100vw / 1.48 - 26.92vw);
    left:-40px;
    z-index: 2;
}
.cat2{
    width:calc(15vw);
    height: auto;
    position:absolute;
    top:calc( 100vw / 1.48 - 26.92vw);
    left:26vw;
    z-index: 2;
    /* width:400px;
    height: 400px;
    position:absolute;
    top:70vh;
    left:80vw; */

}

.flag{
    width:calc(23vw);
    height: auto;
    position:absolute;
    top:calc( 100vw / 1.48 - 45.9vw);
    left:54.3vw;
    z-index:3
}
.ballon2{
    position: absolute;
    width:300px;
    top:30px;
    left:50px;
    z-index:5;

}
.ballon3{
    position: absolute;
    width:300px;
    top:30px;
    left:50px;
    z-index:5;
}

.lights{
     position: absolute;
    width:116vw;
    top:-5vw;
    left:24vw;
    z-index:1;
    opacity: .5;
    animation-name: spin;
    animation-duration: 90s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin:50% 50%;
}
.lights2{
    position: absolute;
    width:84vw;
    top:-10vh;
    left:40vw;
    z-index:1;
    animation-name: spin2;
  animation-duration: 12s;
  animation-delay: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
    /* animation: rotate 1.2s ease-in-out; */
    transform-origin:right bottom;
}
.lights3{
    position: absolute;
    width:84vw;
    top:-10vh;
    left:40vw;
    z-index:1;
    animation-name: spin3;
  animation-duration: 12s;
  animation-delay: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
    /* animation: rotate 1.2s ease-in-out; */
    transform-origin:right bottom;
    
}
.lights4{
    position: absolute;
    width:84vw;
    top:-10vh;
    left:40vw;
    z-index:1;
    animation-name: spin4;
  animation-duration: 12s;
  animation-delay: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
    /* animation: rotate 1.2s ease-in-out; */
    transform-origin:0% 0%;
    
}
/* @media only screen and (max-width:1300px)
{
    .linksContainer>a{
        font-size: 14px;
    }
     .thomsoHeading{
        height:20vh;
        width:auto;
    }
} */


@media only screen and (max-width:768px){


   
   .lights{
    position: absolute;
   width:116vw;
   top:-5vw;
   left:24vw;
   z-index:1;
   opacity: 1;
   animation-name: spin;
   animation-duration: 100s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
   transform-origin:50% 50%;
}
    .thomsoHeading{
        height: 5vh;
    }
    .mainIn{
        top:7vh;
    }
    .thomsoTheme{
        font-size:1.5vh;
        MARGIN-TOP: 3PX;
        line-height: 16px;
        margin-bottom: 6px;
    }
    .linksContainer>a{
        padding: 0.5vh 6vw;
        font-size:8px;
        BORDER-RADIUS: 1PX;
        width: fit-content;
    }
    .thomsoDate{
        font-size: 1vh;
        margin-top: 0;
    }
    .ca{
        display: none;
    }

}

/* @media only screen and (max-width:900px ) and (min-width:500px){
    .thomsoHeading{
        height: 15vh;
    }
    .mainIn{
        margin-top: 10vh;
    }
    .thomsoTheme{
        font-size: 10px;
        line-height: 16px;
        margin-bottom:6px;
    }
    .linksContainer>a{
        padding:1vh 8vw;
        font-size: 8px;
        width: fit-content;
    }
    .ca{
        display: none;
    }

} */



 @keyframes spin{
    from{
        transform: rotate(0deg);
        
    }
    to{
        transform:rotate(360deg);
    }
} 
