@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
body{
    overflow-x: hidden;
}
.majorAttractionsOuterContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    position: relative;  
    background-color:#10071C
}

.bg{
    position: absolute;
    top:-20px;
    left:0px;
    width:100%;
}

.headingContainer{
    height: 5vh;
    box-sizing: border-box;
    color: #fff;
    padding-top:26vh;
    padding-left: 6vw;
    font-family: Playerfair Display;
    font-weight: 600;
    font-size: 48px;
    line-height:54px;
}

.majorAttractionsInContainer{
    width: 5%;
    margin: 2.92% 0px;
    margin:2px;
}
.majorAttractionMain{
    position: absolute;
    width: 10%;
    height: 100%;
}
.leftArrow{ 
    position: absolute;
    cursor: pointer;
    top:56vh;
    left: 8vw;
    z-index:20;
    border-radius: 50%;
}

.rightArrow{
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    top:56vh;
    right:8vw;
    z-index:5;
    transform:rotate(180deg);
}
.majorAttractionsContainer{
    margin-top:5vh;
    overflow: hidden;
    width:fit-content;
    /* border:3px solid blue; */
    width:500rem;
    margin-left:12.5vw;
 
}
.cardMain{
   display: inline-block;
   width: 50vw;
   height:48vh;
   position: relative;
   margin-left:12.5vw;
   /* border:3px solid red; */
   /* float: left; */
}



.imageInView{
    position: absolute;
    width:39.4%;
    height: 100%;
    z-index: 2;
    transform: translateX(5%);
    
    transition: transform .9s ease-in-out;
}
.canvas{
    position: absolute;
    top:0px;
    left:0px;
    z-index:20;
  }
.imageNotInViewleft{
    position: absolute;
    width:39.4%;
    height: 100%;
    z-index: 2;
    transform: translateX(20%);
    transition: transform .9s ease-in-out;
    filter: grayscale(100%);

}
.imageNotInViewright{
    position: absolute;
    width:39.4%;
    height: 100%;
    z-index: 2;
    transform: translateX(155%);
    transition: transform .9s ease-in-out;
    filter: grayscale(100%);

}

.contentNotInView{
    position: absolute;
    width:61%;
    height: 100%;
    top:0px;
    left:39%;
    transition: all 1s ease-in-out;
    background-color: white;
    transform: translateX(-20%);
    transition: all 1.2s ease-in-out;

}


.contentNotInView :nth-child(1){
    height:26%;
    margin:0px;
    font-weight: bold;
    font-size:35px;
    padding-left:33px;
    padding-top:29px;
    font-family : 'Lato', sans-serif;
    text-transform: uppercase;

}
.contentNotInView :nth-child(2){
    height:70%;
    margin:0px;
    padding: 0 38px;
    font-size:18px;
    text-align:justify;
    font-family: 'Lato', sans-serif;
}





.contentInView{
    position: absolute;
    width:61%;
    height: 100%;
    top:0px;
    left:39%;
    background-color: white;
    transform: translateX(0%);   
    transition: all .6s ease-in-out;

}
.contentInView :nth-child(1){
    height:30%;
    height:26%;
    margin:0px;
    display:flex;
    padding-left:33px;
    padding-top:29px;
  
    font-weight: bold;
    font-size:35px;
    text-transform: uppercase;

    font-family : 'Lato', sans-serif;
}
.contentInView :nth-child(2){
    height: 70%;
    margin:0px;
    font-size:18px;
    padding: 0 38px;
    text-align:justify;
    font-family: 'Lato', sans-serif;

}

    @media only screen and (min-width:768px) and (max-width:1000px){
    
        .cardMain{
            width: 50vw;
            height:40vh;
            position: relative;
            margin-left:12.5vw;
            }
        .headingContainer{
            font-size: 36px;
            line-height: 253px;
            padding-top: 9vh;
            padding-left: 6vw;
            
        }
        .leftArrow{
            position: absolute;
            top:56%;
            left: 10%;
            z-index:200;
            width:60px;
            height: 60px;
        
        }
        
        .rightArrow{
            position: absolute;
            top:56%;
            right:10%;
            z-index:200;
            transform:rotate(180deg);
            width:60px;
            height: 60px;
        }

        .majorAttractionsContainer{
            margin:auto;
            overflow: hidden;
            width:fit-content;
            /* border:3px solid blue; */
            width:500rem;
            margin-left:12.5vw;
         
        }
    .contentNotInView{
        position: absolute;
        width:61%;
        height: 100%;
        top:0px;
        left:39%;
        transition: all 1s ease-in-out;
        background-color: white;

    }


    .contentNotInView :nth-child(1){
        height:30%;
        margin:0px;
        padding-left:10px;
        padding-top:16px;
        font-weight: bold;
        font-size:25px;
        font-family : 'Lato', sans-serif;

    }
    .contentNotInView :nth-child(2){
        height:70%;
        margin:0px;
        padding: 0px 10px;
        font-size:12px;
        font-family: 'Lato', sans-serif;


    }


    .contentInView{
        position: absolute;
        width:61%;
        height: 100%;
        top:0px;
        left:39%;
        transition: all 1.5s ease-in-out,translation .1s;
        background-color: white;

    }
    .contentInView :nth-child(1){
        height:30%;
        margin:0px;
        padding-left:10px;
        padding-top:16px;
        font-weight: bold;
        font-size:25px;
        font-family : 'Lato', sans-serif;
    }
    .contentInView :nth-child(2){
        height: 70%;;
        margin:0px;
        padding: 0px 10px;
        font-size:12px;
        font-family: 'Lato', sans-serif;

    }


    }

@media only screen and (max-width:768px){
    .majorAttractionsOuterContainer{
        height:48vh ;
    }
    .cardMain{
        width: 50vw;
        height:calc(20vh);
        position: relative;
        margin-left:12.5vw;
         }
    .headingContainer{
        font-size: 20px;
        line-height: 50px;
        padding-top: 10vh;
        padding-left: 4vw;
    }
     .leftArrow{
        position: absolute;
        top:54%;
        left: 10%;
        z-index:200;
        widows: 45px;
        height: 45px;
    
    }
    
    .rightArrow{
        position: absolute;
        top:54%;
        right:7%;
        z-index:500;
        transform:rotate(180deg);
        width:45px;
        height: 45px;
    }


.contentNotInView{
    position: absolute;
    width:61%;
    height: 100%;
    top:0px;
    left:39%;
    transition: all 1s ease-in-out;
    background-color: white;

}

.majorAttractionsContainer{
    margin:auto;
    overflow: hidden;
    width:fit-content;
    /* border:3px solid blue; */
    width:500rem;
    margin-left:12.5vw;
 
}
.contentNotInView :nth-child(1){
    height:30%;
    margin:0px;
    padding-left:10px;
    padding-top:16px;
    font-weight: bold;
    font-size:12px;
    font-family : 'Lato', sans-serif;

}
.contentNotInView :nth-child(2){
    height:70%;
    margin:0px;
    padding: 0px 10px;
    font-size:5.5px;
    font-family: 'Lato', sans-serif;


}


.contentInView{
    position: absolute;
    width:61%;
    height: 100%;
    top:0px;
    left:39%;
    transition: all 1.5s ease-in-out,translation .1s;
    background-color: white;

}
.contentInView :nth-child(1){
    height:30%;
    margin:0px;
    padding-left:10px;
    padding-top:16px;
    font-weight: bold;
    font-size:12px;
    font-family : 'Lato', sans-serif;
}
.contentInView :nth-child(2){
    height: 70%;;
    margin:0px;
    padding: 0px 10px;
    font-size:5.5px;
    font-family: 'Lato', sans-serif;

}
}

