.zonalsContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  /* background: linear-gradient(180deg, #10071C 0%, #10071C 100%); */

}
.headingContainer {
  width: 100%;
  min-height: 18vh;
  box-sizing: border-box;
  padding: 40px;
  display: flex;
}

.imageLink{
  display: flex;
  justify-content: center;
}
.headingContainer > p {
  margin: auto;
  font-family: "Pacifico", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 39px;
  /* identical to box height */
  color: #fff;
}
.zonalsMain {
  width: 75%;
  height: fit-content;
  margin: 0 auto;
  display: flex;
  flex: 1;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.participantZonals{
  background-image: url(../img/backgroundimg.png);
  background-size: cover !important;
 width: 70% !important;
 margin:0 !important;
 min-height: 100vh !important;
 padding-top: 4%;
 justify-content: space-evenly !important;
 margin-left: 30% !important 
}


.zonalsHomeMain{
  min-height: 80vh;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  flex: none;
  /* align-items: flex-end !important; */
  position: absolute;
}
.imgTextContainer {
  position: relative;
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  padding: 0px 1%;
  margin: 1.8%;
  /* width:21.47%; */
  align-items: center;
  /* height: 35.27%; sx*/
  width: 235.21px;
  height: 190.84px;
  justify-content: flex-end;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.zonalsHomeImgTextContainer {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(12px);
  cursor: pointer;
}
.homeZonalsImgTextContainer {
  background: #ffffff;
}

.imgTextContainer img {
  /* width:89.29%; */
  width: 180px;
  height: 200px;
}
.imgTextContainer > p {
  margin: 0;
  margin-bottom: 10px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 34px;
  /* identical to box height */
  text-transform: capitalize;
  color: #000000;
}

/* @media screen and (max-width:1040px){
    .zonalsContainer{
        height: 135vh;
        justify-content: space-around;
    }
    
} */
@media screen and (min-width: 1526px) {
  .imgTextContainer {
    margin: 2.9% 4.7%;
  }
  .zonalsMain{
    height: fit-content;
    margin: 0 auto;
    display: flex;
    flex: 1;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

  }
  
}
@media only screen and (max-width: 500px) {
  .participantZonals{
    margin-left:0 !important;
    width: 100% !important;
    padding-top:15% !important;
    height: 100vh !important;
  }
  .imgTextContainer img {
    width: 100px;
    height: 119px;
  }
  .imgTextContainer {
    width: 130px;
    height: 112.13px;
  }
  .zonalsContainer {
    min-height: 100vh;
  }

  .zonalsMain{
    /* height: fit-content; */
    /* min-height: 100vh; */
    min-width: 90vw;
    justify-content: space-around;
  }
  .headingContainer > p {
    font-size: 30px;
    line-height: 42px;
    font-style: normal;
    font-weight:100;
  }
}

@media only screen and (max-width: 420px) {
  .imgTextContainer img {
    width: 100px;
    height: auto;
  }
  .imgTextContainer {
    /* width: 42.8%;
        height:21.5%; */
    width: 130px;
    height: 112.63px;
    margin:0;
  }
  .zonalsContainer {
    min-height: 100vh;
  }
  .imgTextContainer > p {
    font-size: 14px;
    line-height: 19px;
  }
  /* .zonalsMain {
   
  } */
  .headingContainer {
    padding: 20px;
      
  }
  .headingContainer > p {
    font-size: 30px;
    line-height: 42px;
    font-style: normal;
    font-weight:100;
  }
}
@media  only screen and (max-height:420px){

  .imgTextContainer{
    margin-bottom:14%;
  }
}
