.Main{
    margin-left:30%;
    min-height:100vh;
    background-color:#1c364d;
    background-size:cover;
}
.head{
    color:#fff;
    text-align: center;
    font-family: lato;
    font-weight: bold;
    text-transform: capitalize;
    margin-top:0;
    padding-top:3%;
}
.content{
    color:#fff;
    font-family: lato;
    font-size: 20px;
    font-weight: normal;
}
.list_element{
    padding:2% 0;
}
@media only  screen and (max-width:768px){
    .Main{
        margin-left:0;
    }
    .head{
        padding-top:19%;
    }
}