.AdminNavBar{
    display: flex;
    background-color: blue;
    color: #ffffff;
    height: 10vh;
    align-items: center;
    overflow: hidden;
    justify-content: center;
}
.Banglore, .Pune, .Delhi, .jaipur, .Lucknow, .nepal, .Logout{
    text-decoration: none;
    color: white;
    padding: 3.9vw;
    font-family: Lato;
    font-style: normal;
    font-size: 25px;
    font-weight: 800;
    
}
a:hover{
    background-color: rgb(5, 5, 109);
}
