.container{
    background-image: url('../../../../components/home/src/img/backgroundimg.png');
    width: 100%;
    height: 150vh;
    background-attachment: fixed;
    position: absolute;
    background-size: cover; 
    
}
.container img{
    margin-left: 30px;
    margin-top: 15px;
}
ul{
    list-style-type: none;
}
.zonals{
    position: absolute;
width: 71px;
height: 22px;
left: 693px;
top: 38px;

font-family: Lato;
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 22px;
/* identical to box height */

text-transform: uppercase;

color: #FFFFFF;
}
.events{
    
position: absolute;
width: 68px;
height: 22px;
left: 817px;
top: 38px;

font-family: Lato;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
/* identical to box height */

text-transform: uppercase;

color: #FFFFFF;
}
.associate{
    position: absolute;
    width: 186px;
    height: 22px;
    left: 940px;
    top: 38px;
    
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    
    text-transform: uppercase;
    
    color: #FFFFFF;
}
.sponsers{
    position: absolute;
width: 91px;
height: 22px;
left: 1156px;
top: 38px;

font-family: Lato;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
/* identical to box height */

text-transform: uppercase;

color: #FFFFFF;
}
.about{
    position: absolute;
width: 63px;
height: 22px;
left: 1301px;
top: 38px;

font-family: Lato;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
/* identical to box height */

text-transform: uppercase;

color: #FFFFFF;
}

