.outerBox{
    background-image: url('../../../associatewithus/Common/img/background.png');
    background-repeat: no-repeat;
    display: flex;
    height: 100vh;
    background-size: cover;

}
.outercontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.container{
    display: flex;
    justify-content: space-around;
    width: 35%;
}
.registerBtn , .loginBtn{
    width: 155px;
    height: 44px;
    border-radius: 2px;
    background: #fff;
    border: none;
    outline: none;
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
    opacity: .5;
    text-transform: uppercase;
    background-color: white;
}

@media screen and (max-width:768px){
    .container{
        width: 100%;
    }
}
