.formOuterContainer{
    width:100%;
    box-sizing: border-box;
    padding: 0 10%;
    /* margin-top: -15%; */
    min-height:100vh;
    display: flex;
    align-items: center;
    background:url('../img/night.png'); 
}
.new1{
    background: #FFFFFF;
	border: 1.3px solid #4E1DE4;
    box-shadow: 0px 4px 16px rgba(0, 87, 218, 0.12);
    border-radius: 10px;
    min-width: 40%;
    width:50%;
    /* margin-left: 50%; */
    /* margin-top: 10%; */
    /* margin-right: 10%; */
}
.new2{
	text-align: center;background: #FFFFFF;
	padding-top: 2%;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;background: #FFFFFF;background: #FFFFFF;background: #FFFFFF;background: #FFFFFF;background: #FFFFFF;background: #FFFFFF;background: #FFFFFF;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #4E1DE4;
}
.new3{
    color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-flow: row wrap;
    height: 100%;
}
.new4{
	font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    /* width: 40%; */
    margin:5% 0 0 5%;
}
.new5{
	border: 1px solid transparent;
	border-bottom: 0.5px solid rgba(0, 0, 0, 0.54);
	font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    width: 85%;
}
.new6{
    position: relative;
    /* left: 30%; */
    /* margin: 5% 0 3% 0; */
    background: #0057DA;
    border: 0 solid #FFFFFF;
    border-radius: 10px;
    width: 100%;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5% 1% 1.5% 1%;
    color: #FFFFFF;
}
.new7{
    display: inline;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 5px;
    color: #000000;
    margin-right: 5px;
    color: rgba(0, 0, 0, 0.4);
}
.new5:focus{
	outline: none;
}
.new8{
	border: 1px solid transparent;
	border-bottom: 0.5px solid rgba(0, 0, 0, 0.54);
	font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    width: 80%;
}
.new9{
    /* margin: 0%; */
	/* width: 6%; */
}


.new10{
	margin-top: 1%;
}
.new11{   
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 5%;

}
.inputContainer{
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}
.inputTGT{
    min-width:20%;
    width: 25%;
    display:flex;
    justify-content: center;
    align-items: center
}
.inputTGT>p{
    flex:1
}
.new12{
    align-items: center;
    display: flex;
    justify-content: center;
    border: 1px solid #252CAB;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 15px;
    height: 152%;
    margin: 1% 0 0 6%;
    width: 32%;
}
.new13{
    align-items: center;
    display: flex;
    justify-content: center;
    border: 1px solid #252CAB;
    box-sizing: border-box;
    border-radius: 4px;
    height: 152%;
    width: 33%;
    margin: 1% 3% 0 0;
    color:white;
    background: #252CAB;
}
.new14{
    margin: 3% 5% 5% 30%;
}
.new15{
    margin-left: 25%;

}
.new16{
     display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}
.new17{
    margin:auto;
    width:70%;
    display:flex;
    justify-content: space-between;
}
@media only screen and (max-width: 430px) {
	.new3{
		display: flex;
		flex-direction: column;
	}
	.new7{
		font-size: 14px;
	}
	.new1{
        width:100%; 
        
		margin:0%;
        margin-top: 10%;
    }
	.new4{
		width: 100%;
		height: 55px;
		line-height: 25px;
	}
	.new5{
		width: 90%;
		line-height: 25px;
		height: 20px;
	}
	.new8{
		width: 90%;
		line-height: 25px;
		height: 20px;
	}
	.new2{
		font-size: 14px;
	}
	.new9{
		margin-left: -1%;
    }
    .new15{
        margin-left: 0%;
    
    }
    .inputTGT{
        width: 35%;
    }
    .new12,.new13{
        width: 50%
    }
    .new14{
        margin: 3% 5% 5% 5%;
    }.formOuterContainer{
        padding: 0%;
    }
} 
.mainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: #272a5e;
    height: 150vh;
    margin-top: -18vh;
}

.container {
    /*top: -3%;*/
    min-height:100vh;
    width: 85vw;
    position: relative;
    display: flex;
    flex-direction: column;
    background: #e5e5e5;
}

.header {
    align-self: center;
    display: flex;
}

.header > p {
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.05em;
    padding-left: 60px;
}

.genInfo {
    display: flex;
    align-self: flex-start;
    align-content: center;
    flex-direction: column;
    flex-flow: column;
    /*width: 30%;*/
    width: 38%;
}

.genInfo > p {
    flex: 1;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.05em;
    padding: 1.5% 0 1.5% 0;
    border-radius: 0 18px 18px 0;
    background: rgba(0, 0, 0, 0.1);
    color: #272a5e;
}

.userInput {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    width: 85%;
    
}

.inputArea {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    box-sizing: border-box;
    /*padding: 0 0 0 12%;*/
    padding: 0 0 0 16%;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #000000;
    
}

.inputArea input {
    flex: 1;
    text-align: center;
    font-size: 18px;
    font-family: Lato;
    background: #ffffff;
    border: 1px solid #272a5e;
    box-sizing: border-box;
    box-shadow: inset 0px 1px 6px rgba(0, 0, 0, 0.03);
    border-radius: 20.5px;
    margin-bottom: 22.5px;
    outline: 0 none;
    margin-left: 4%;
}

.inputArea label {
    font-size: 18px;
    width: 30%;
}

.compBox {
    display: flex;
    align-self: flex-start;
    width: 37%;
}

.compBox > p {
    flex: 1;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.05em;
    padding: 1.5% 22.5% 1.5% 0;
    border-radius: 0 18px 18px 0;
    background: rgba(0, 0, 0, 0.1);
    color: #272a5e;
}

.Form {
    box-sizing: border-box;
    padding: 0 0 0 6%;
    width: 100%;
}

.radioBtn {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #000000;
    width: 100%;
}
.radioBtn label {
    flex: 1;
    letter-spacing: 0.035em;
    padding-left: 30px;
}

.chkbox {
    display: flex;
    width: 100%;
    font-size: 18px;
}

.chkbox input {
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
   /* line-height: 29px;*/
   margin-bottom: 25px;

}

.chkbox {
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    box-sizing: border-box;
    padding: 0 0 0 8%;

}

.tgtChkbox {
    box-sizing: border-box;
    padding: 0 0 0 6%;
    margin-top: 5px;
}

.tgtChkbox input{
    color:gray;
}

.tgtChkboxDisabled {
    box-sizing: border-box;
    padding: 0 0 0 6%;
    margin-top: 5px;
}
.tgtChkbox > label{
    padding-left: 15px;
}
.tgtChkboxDisabled > label{
    color:rgba(0, 0, 0, 0.35);
    padding-left: 15px;
}

.submit {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}

.submit button {
    position: absolute;
    bottom: -50px;
    left: 0px;
    width: 100%;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    /* identical to box height, or 26px */
    border: none;
    align-items: center;
    text-align: center;
    letter-spacing: 0.025em;

    color: #ffffff;
    height: 50px;
    background: #1387d5;
    cursor: pointer;
}

/* MEDIA QUERIES.....*/

/* @media only screen 
and  (min-device-width:320px) 
and  (max-device-width:350px)
{
    .mainDiv{
        height: 130vh;
    }
    .container{
        height: 115vh;
        width:85vw
    }
  
    .header{
       margin-top: -12px;
     }

    .header > p{
        font-size: 18px;
    }

    .genInfo{
        width:95%;
        margin-top: -20px;
    }

    .genInfo > p{
        font-size: 16px;
        padding: 0 2.5px 2.5px 0;
    }
   
   .inputArea{
       flex-direction: column;
    }

    .inputArea > label{
        font-size: 14.5px;
        padding: 0 0 0 2%;
        flex-direction: column;
        width: 100%;
       /* margin: 5px;*/
       /* margin-top: 10px;
    
    }

    .inputArea input{
        font-size: 16px;
        flex-direction: column;
        width: 110%;
        margin: 5px;
    }

    .compBox > p{
        display: flex;
        font-size: 16px;
        padding: 0 0 1px 20px;
    }
    .compBox{
        width: 92%;
    }

    .radioBtn > label{
        font-size: 14.5px;
    }

    .tgtChkbox{
        font-size: 15px;
    }
     .tgtChkbox{
        padding-left: 6%;
        margin-top: 2.5px;
    }
     
     
     .tgtChkboxDisabled{
        padding-left: 6%;
        margin-top: 2.5px;
    }
     
     
    .tgtChkboxDisabled > label{
        font-size: 15px;
    }
    .submit button{
        font-size: 15px;
        height: 35px;
        top: 654px;
    }
} */ 
@media only screen and (max-width: 768px) {
    .header > p {
        height: 0;
        font-size: 24px;
    }

    .genInfo {
        width: 55%;
    }

    .genInfo > p {
        font-size: 20px;
    }

    .inputArea {
        font-size: 16px;
        padding: 0 0 0 8%;
        flex-direction: column;
        width: 100%;
        margin: 5px;
    }
    .inputArea label {
        margin: 5px;
    }
    .compBox {
        width: 55%;
    }
    .compBox > p {
        font-size: 20px;
    }
    .mainDiv{
        margin-top: -6vh;
    }
}

@media only screen 
and  (min-device-width:360px) 
and  (max-device-width:374px)
{  
    .mainDiv{
        height: 125vh;
    }
    .container{
       
        width: 85vw
    }
  
    .header{
       margin-top: -12px;
     }

    .header > p{
        font-size: 18px;
    }

    .genInfo{
        width:95%;
    }

    .genInfo > p{
        font-size: 16px;
        padding: 2.5px 2.5px 5px 0;
    }

    .inputArea{
            flex-direction: column;
     }
    .inputArea > label{
        font-size: 14.5px;
        padding: 0 0 0 2%;
        flex-direction: column;
        width: 100%;
       /* margin: 5px;*/
       margin-top: 10px;
    
    }

    .inputArea input{
        font-size: 16px;
        flex-direction: column;
        width: 110%;
    }

    .compBox > p{
        display: flex;
        font-size: 16px;
        padding: 3px 0 4px 30px;
    }
    .compBox{
        width: 96%;
    }

    .radioBtn > label{
        font-size: 14.5px;
    }

    .tgtChkbox{
        font-size: 15px;
    }

    .tgtChkbox{
        padding-left: 6%;
        margin-top: 2.5px;
    }
     
     .tgtChkboxDisabled{
        padding-left: 6%;
        margin-top: 2.5px;
    }
     
     
    .tgtChkboxDisabled > label{
        font-size: 15px;
    }
    .submit button{
        font-size: 15px;
        height: 35px;
        top: 695px;
    }
}

@media only screen 
and  (min-device-width:375px) 
and  (max-device-width:410px)
{
    .mainDiv{
        height: 120vh;
    }
    /* .container{
        height: 105vh;
    } */
  
    .header{
       margin-top: -12px;
     }

    .header > p{
        font-size: 18px;
    }

    .genInfo{
        width:95%;
        margin-top: -20px;
    }

    .genInfo > p{
        font-size: 16px;
        padding:4px 0 4px 3px;
    }
   
   .inputArea{
       flex-direction: column;
    }

    .inputArea > label{
        font-size: 14.5px;
        padding: 0 0 0 2%;
        flex-direction: column;
        width: 100%;
       /* margin: 5px;*/
       margin-top: 10px;
    
    }

    .inputArea input{
        font-size: 16px;
        flex-direction: column;
        width: 120%;
        margin: 5px;
    }

    .compBox > p{
        display: flex;
        font-size: 16px;
        padding: 5px 0 5px 40px;
    }
    .compBox{
        width: 95%;
    }

    .radioBtn > label{
        font-size: 14.5px;
    }

    .tgtChkbox{
        font-size: 15px;
    }
     .tgtChkbox{
        padding-left: 6%;
        margin-top: 2.5px;
    }
     
     
     .tgtChkboxDisabled{
        padding-left: 6%;
        margin-top: 2.5px;
    }
     
     
    .tgtChkboxDisabled > label{
        font-size: 15px;
    }
    .submit button{
        font-size: 15px;
        height: 35px;
        top: 700px;
    }
}
@media only screen 
and  (min-device-width:411px) 
and  (max-device-width:414px)
{
    .mainDiv{
        height: 110vh;
    }
    .container{
        top: -1.5px;
        height: 100vh;
    }
  
    .header{
       margin-top: -5px;
     }

    .header > p{
        font-size: 18px;
    }

    .genInfo{
        width:95%;
        margin-top: -20px;
    }

    .genInfo > p{
        font-size: 16px;
        padding:5px 0 7px 0px;
        margin-top: 32px;    
    }

   .inputArea{
       flex-direction: column;
    }

    .inputArea > label{
        font-size: 14.5px;
        padding: 0 0 0 1%;
        flex-direction: column;
        width: 100%;
       /* margin: 5px;*/
    }

    .inputArea input{
        font-size: 16px;
        flex-direction: column;
        width: 110%;
        margin: 5px;
    }

    .compBox > p{
        display: flex;
        font-size: 16px;
        padding: 5px 0 5px 40px;
    }
    .compBox{
        width: 95%;
    }


    .radioBtn > label{
        font-size: 14.5px;
    }

    .tgtChkbox{
        font-size: 15px;
    }
     .tgtChkbox{
        padding-left: 6%;
        margin-top: 2.5px;
    }
     
     
     .tgtChkboxDisabled{
        padding-left: 6%;
        margin-top: 2.5px;
    }
     
     
    .tgtChkboxDisabled > label{
        font-size: 15px;
    }
    .submit button{
        font-size: 15px;
        height: 35px;
        top: 712px;
    }
}

