.container{
    background-color: rgba(39, 42, 94, 0.9);
    width: 100%;
    height: 100vh;
    position: relative;
    background-attachment: fixed;
    overflow: hidden;
    z-index: -5;
}
.backgroundText{
    top:50%;
    left: 50%;
    position: absolute;
    text-transform: uppercase;
    font-size: 100px;
    color: rgba(255, 255, 255, 0.2);

}
.backgroundText > p{
    top:50%;
    left: 50%;
    position: absolute;
    font-size: 100px;
    color: rgba(255, 255, 255, 0.2);

}
.IndiaGate{
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    /* position: fixed; */
    z-index: -1;
}
.IndiaGate img{
    width: auto;
    height: 66vh;
}

.cloud{
    position: absolute;
    width:100vw;
    bottom: -25px;
}
.cloud img {
    width:100vw;
}
.RegisterButton{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; 
  /* top: 90vh; */
  top: -8vh;
  z-index: 0;
  background-color: white;
  height: 0vh;
 
 
}
.RegisterButton .register{
    border-radius: 4px;
    border: 1.5px solid #272A5E;
    background:#272A5E;
    color: white;
    font-family: Lato;
    font-size: 20px;
    height: 50px;
    width: 250px;
    text-align: center;
    border: none;
     z-index: 1;
     cursor: pointer;
     outline: 0 none;
    
}
.register a{
    text-decoration: none;
    color: white;
}

@media only screen and (max-width:768px)
{
    .container{
        height: fit-content;
        z-index: 0;
    }

    .IndiaGate{
       width: 100%;
       margin-bottom: 40px;
       margin-top: 108px;
       min-height: fit-content;
       position: unset;
       }
    
.IndiaGate img{
    width: 60%;
    height: auto;
   }

.cloud{
    width:100%;
}
.cloud img {
    width:100vw;
    height:25vh;
}
.RegisterButton{
    top:0px;
}
 
.RegisterButton .register{
    width: 175px;
    font-size: 16px;
    height: 36px;
}
}

/* @media only screen and (max-width:800px)
{.IndiaGate{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 60vh;
    width: 100%;
    
}
.IndiaGate img{
    width: 140px;
    height: 158.28px;
   }

.cloud{
    position: absolute;
    width:100vw;
    height: 488.11px;
    top:30vh;
}
.cloud img {
    width:100vw;
}
}
@media only screen and (min-width:1000px){
    /* .IndiaGate{
        display: flex;
        justify-content:center;
        align-items: center;
        height: 50vh;
        width: 100%;
        
    } */
    /* .IndiaGate img{
        width: 260px;
        height: 290.28px;
       }
       .cloud{
        position: absolute;
        width:100vw;
        height: 488.11px;
        top:100vh;
    }
} */ 
/* @media only screen and (min-width:1300px){
     .IndiaGate{
        display: flex;
        justify-content:center;
        align-items: center;
        height: 120vh;
        width: 100%;
        
    } 
    .IndiaGate img{
        width: 318.5px;
height: 360px;
       }
       .cloud{
        position: absolute;
        width:100vw;
        height: 488.11px;
        top:100vh;
    }
} */
