/* .formOuterContainer{ */
/*     display: flex; */
/*     width: 100%; */
/*     justify-content: center; */
/*     align-items: center; */
/*     box-sizing: border-box; */
/*     background: #272a5e; */
/*     height: 100vh; */
/* } */
/* .formContainer{ */
/*     width: 80.91%; */
/*     height: 80%; */
/*     display: flex; */
/*     flex-flow: column; */
/*     background: rgba(255, 255, 255, 0.95); */
/* } */
/* .headingContainer{ */
/*     display: flex; */
/*     justify-content: center; */
/* } */
/* .headingContainer p{ */
/*     font-family: Lato; */
/*     font-size: 28px; */
/*     line-height: 34px; */
/*     white-space: nowrap; */
/*     /1* identical to box height *1/ */
/*     text-align: center; */
/*     color: #000000; */
/* } */
/* .formInHeadingContainer{ */
/*     display: flex; */
/*     text-align: center   ; */
    
/*     /1* justify-content: center; *1/ */
/*     /1* padding:10px 20px; *1/ */
/* } */
/* .formInHeadingContainer>div{ */
/*     width: 37.2%; */
/*     border-top-right-radius: 100px ; */
/*     border-bottom-right-radius: 100px; */
/*     background: rgba(0, 0, 0, 0.1); */
/* } */
/* .formInHeadingContainer p{ */
/*     font-family: Lato; */
/*     font-size: 28px; */
/*     line-height: 34px; */
/*     white-space: nowrap; */
/*     /1* identical to box height *1/ */
/*     text-align: center; */
/*     color: #272A5E; */

/*     margin: 0; */
    
/*     padding: 0px 0px; */
/*     /1* margin: auto; */
/*     flex: 1 *1/ */

/* } */
/* .generalInformationData{ */
/*     margin:auto; */
/*     width: 80%; */
/*     text-align:center; */
/*     /1* box-shadow:0 2px 3px #ccc; *1/ */
/*     /1* padding:10px; *1/ */
/*     box-sizing:border-box; */
/* } */

/* @media(min-width:600px){ */
/*     .generalInformationData{ */
/*         width: 100%; */
/*     } */
/* } */














.formOuterContainer 
{
    background-image: url('../img/night.png');
    background-position: top;
    background-size: cover;
    min-height: 200vh;
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}
.title
{
    margin: 0px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    text-transform: uppercase;
    color: #252CAB;
    text-align: center;
    padding: 25px;
}

.formMainDiv
{
    position: relative;
    margin: 40px 0px 40px 181px;
    width: 590px;
    /* min-height: 100vh; */
    background: white;
}
.nameInput, .genderDiv, .emailInput, .contactInput, .collegeInput, .branchInput
{
    display: -webkit-inline-box;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 17px;
    /* identical to box height */
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.4);  
}
.nameInput, .genderDiv, .emailInput, .contactInput
{
    width: 40%;
    padding: 20px;
}
.label_gender
{
    color: black;
    font-weight: normal;
}
 .collegeInput
{
    width: 100%;
    padding: 20px;
}
.branchInput{
    margin-bottom: 2.5%;
    width: 100%;
    padding: 20px;
}
.date_main_div
{
    text-align: center;
    /* margin: 10px; */
    height: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.date_child_div
{
    display: inline;
    border-radius: 4px;
    /* color: white; */
    width: 200px;
    /* height: 32px; */
    border: 1px solid #252CAB;
    box-sizing: border-box;
    border-radius: 4px 0px 0px 4px;
    padding: 9px;
    color: #252CAB;
    cursor: pointer;
    /* margin-top: 5%; */
}
.date_child_div_selected
{
    background: #252CAB;
    display: inline;
    /* background: #252CAB; */
    border-radius: 4px;
    /* color: white; */
    width: 200px;
    border: 1px solid #252CAB;
    box-sizing: border-box;
    border-radius: 4px 0px 0px 4px;
    padding: 9px;
    color: white;
    font-size: 18px;
    /* margin-top:5%; */
}
.venueHeading
{
    text-align: center;
    color: #252CAB;
    font-size: 17px;
    margin-top: 8%;
}
.registerButton
{
    outline: none;
    background: #252CAB;
    border: none;
    padding: 12px;
    width: 100%;
    color: white;
    text-transform: uppercase;
    font-size:26px;
    height: 52px;
    font-weight: bold;
    cursor: pointer;
}
.registerButton_div
{
    width: 100%;
    position: absolute;
    bottom: -50px;
}
.events_container
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.nukkadNatak_main_div,  .mrthomso_main_div
{
    font-family: Lato;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #000000;
    width: 40%;
    margin: 20px;
}

.thomsoTalent_main_div{
    font-family: Lato;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #000000;
    width: 40%;
    margin:  20px;
    /* margin-left: 50%; */
}
.nukkadNatak_main_div label, .thomsoTalent_main_div label .mrthomso_main_div label
{
    font-family: Lato;
    font-size: 14px;
    /* identical to box height */
    text-transform: uppercase;
    color: #000000;
    line-height: 30px;
    margin: 10px;
}
.inputContainer
{
    margin-left: 20px;
}
.checkbox_input
{
    border: 1.5px solid #252CAB;
    box-sizing: border-box;
    border-radius: 2px;
}
.textInput
{   width: 230px;
    outline: none;
    padding-top: 10px;
    border: none;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.54);

    font-family: Lato;
    font-style: normal;
    font-weight: normal; 
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 2.5%;
}

.clgtextInput{
    width: 510px;
    outline: none;
    padding-top: 10px;
    border: none;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.54);

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color:#000000;
    margin-bottom: 2.5%;
}
.gender
{
    margin-bottom: 10px;
    display: inline-block;

}
.hideError
{
    visibility: hidden;
}
.bands_main_div
{
    margin: 20px;
}
@media only screen and (max-width:800px){
    .formOuterContainer
    {
        justify-content: center;
    }
    .firstChild 
    {
        display: flex;
        justify-content:center;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .formMainDiv
    {
        width: 90%;
        margin-left: 0px;
        margin-right: 0px;
    }
    .nameInput, .genderDiv, .emailInput, .contactInput
    {
        width: 90%;
    }
    .nukkadNatak_main_div, .thomsoTalent_main_div, .mrthomso_main_div
    {
        width: 100%;
    }
    .nukkadNatak_main_div,.mrthomso_main_div,.thomsoTalent_main_div{
          margin-left: 20px;
          margin-bottom: 20px;
      }
     .date_main_div{
         height: 5px;
         margin-top: 12%;
     }

     .date_child_div_selected{
         font-size: 18px;
         margin-bottom: 2%;
     }
  
     .venueHeading{
         font-size: 18px;
         margin-top: 20%;
     }
    .clgtextInput{
        width: 230px;
    }
}






