.maincontainer{
    width: 100%;
    height: 100vh;
    justify-content: flex-end;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    padding-top: 30px;
}
.formcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin-top: 79px;
}

.form{
    width: 44vw;
    height: fit-content;
    color: rgba(255, 255, 255, 0.4);
    background:black;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

.form .header{
    font-family:playfair display;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}
.associateform{
    /* margin-left: 7%; */
    padding: 45px;
}
.inputbox , .msg{
    border:none;
    margin-top: 7px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.54);
    background: none;
    /* font-size: 20px; */
    width: 15vw;
}
  .inputbox{
    font-family: Lato;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    text-transform: uppercase;
    color: white;
    outline: none;
}
/* .invalid{
    
}  */
.row1{
    display: flex;
    width: 98%;
    margin-bottom: 5.2%;
}
.col{
    width: 50vw;
    margin-right:15%; 
}
.col1{
    width: 100%;
}
label{
    font-size: 15px;
    font-weight: 200;
}
.msg{
    width: 38vw;
    outline: none;
    font-family: Lato;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
   color:#fff;
}
.registerButton{
    background:white;
    border-radius: 2px;
    height: 52px;
    width: 100vw;
    color: black;
    font-size: 20px;
    font-style: Lato;
    text-transform: uppercase;
    line-height: 24px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    /* font-size: 20px; */
    cursor: pointer;
    
}
.register{
    display: flex;
}
.selectedconnect{
    border: none;
    outline: none;
    border-bottom: .5px solid rgba(255, 255, 255, 0.4);
    background: transparent;
    font-size: 14px;
    color: white;
    margin-top: 5px;
}
 .connectoption{
    border-color: blue;
    background:darkgray;
    font-size: 16px;
    color: white;
}
.connectoption:hover{
    background:darkgray;
    
  }
/* .invalid{
    border:red;
} */
.invalid{
    border-bottom-color:rgb(255,0,0,.5)
}  
.inputInfo{
    background: none;
    border: none;
    outline: none;
   width: 16.3vw;
   color: white;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.4);
    color: #fff;
}
@media only screen and (max-width: 768px) {
    .form{
        width: 90vw;
        height: fit-content;
        /* height: 69%; */
    }
    .inputInfo{
        width: 70vw;
    }
    .row1{
        display: unset;
    }
    .inputbox{
        width: 70vw;
        font-size: 16px;

    }
    label{
        font-size: 14px;
    } 
    .msg{
        width: 70vw;
    }
    .col{
        margin-bottom:9%;

    }
    .register{
        display: flex;
        justify-content: center;
        padding: 2%;
        
    }
    .selectedconnect{
        font-size: 16px;
    }
    .registerButton{
        width: 34vw;
        height: 4vh;
        border: none;
        font-size: 19px;
    }
    .associateform{
        padding: 35px;
    }
    
}


/* @media only screen and (min-width: 300px) and (max-width: 360px){
.form{
    margin-top: 27%;
}
} */
