.maincontainer{
    width: 100%;
    height: 100vh;
    justify-content: flex-end;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    padding-bottom: 30px;
}
.formcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.form{
    width: 44vw;
    height: fit-content;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.4);
}

.form .header{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #252CAB;
}
.associateform{
    /* margin-left: 7%; */
    padding: 45px;
}
.inputBox {
    border:none;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.4);;
    background: none;
    
    width: 15vw;
}
  .inputBox{
    font-family: Lato;
    font-style: normal;
    /* font-weight: bold; */
    font-size: 15px;
    line-height: 17px;
    /* identical to box height */
    text-transform: uppercase;
    color: black;
    outline: none;
} 
.row1{
    display: flex;
    width: 98%;
    margin-bottom: 2.2%;
}
.col{
    width: 50vw;
    margin-right:22%; 
}
.col1{
    width: 100%;
}
label{
    font-size: 14px;
    font-weight: 200;
}
.college{
    width: 38.5vw;
    margin-bottom: 3.2%;
    font-family: Lato;
    font-style: normal;
    font-size: 19px;
    line-height: 17px;

}
.registerButton{
    background: #252CAB;
    border-radius: 0px 0px 4px 4px;
    height: 68px;
    width: 100vw;
    color: white;
    font-size: 26px;
    font-style: Lato;
    text-transform: uppercase;
    line-height: 24px;
    cursor: pointer;
    border: none;
}
.register{
    display: flex;
}
.radio{
    display: flex;
    width: 16vw;
    color: black;
    font-size: 15px;
}
@media only screen and (max-width: 768px) {
    .form{
        width: 90vw;
        height: fit-content;
        /* height: 69%; */
    }
    .row1{
        display: unset;
    }
    .inputBox{
        width: 70vw;
        font-size: 14px;

    }
    label{
        font-size: 15px;
    } 
    .college{
        width: 70vw;
        margin-bottom: 5%;
    }
    .col{
        margin-bottom:9%;

    }
    .register{
        display: flex;
        justify-content: center;
        padding: 2%;
        
    }
    .registerButton{
        width: 34vw;
        height: 4vh;
        border: none;
        font-size: 19px;
    }
    .associateform{
        padding: 35px;
    }
    .radio{
        width: 64vw;
    }
}


@media only screen and (min-width: 300px) and (max-width: 360px){
.form{
    margin-top: 35%;
}
}
