
/* .box{
    display: flex;
    width: 300px;
    height: 390px;
    background: #313131;
    border-radius: 4px;

} */
.imgbox{
    /* background: transparent; */
    width: 280px;
    /* height:234px; */
    border-radius: 4px;
}
.infobox{
    border-radius: 4px;
    background:  #313131;
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.outerbox{
    padding:20px;
}
.mname{
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
padding-left: 34px;
color: #FFFFFF;
}
.photo{
    width: 280px;
    height: 235px;
}
.phDetails{

     
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
padding-left: 34px;
/* identical to box height */


color: #FFFFFF;
 }
.mailDetails{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    padding-left: 34px;
    /* identical to box height */
    
    
    color: #FFFFFF;
    
}
@media(max-width:768px){
    .outerbox{
        /* padding: 50px; */
        padding: 0px 0px 48px 0px;
    }
    .imgbox{
        width: 280px;
        /* height: 233.34px; */
    }
    .infobox{
        width: 280px;
        height: 116.66px;
    }
    .photo{
        width: 280px;
        height: 233.34px;
    }
}