.outercontainer{
    background: black;
    display: flex;
    width: 70%;
   min-height: 100vh;
    margin-left: 30%;
    justify-content: center;
    /* align-items: center; */
}
.container{
    display: flex;
    padding:10px;
    /* background: white; */
     width: 90%; 
    height: auto;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
@media screen and (max-width:768px){
    .outercontainer{
        width: 100%;
        margin: 0px;
        height: auto;
    }
    .container{
        justify-content: center;
        flex-direction: column;
        padding: 97px 0px 0px 0px;
    }
}