.popupContainer {
  width: 30%;
  height: fit-content;
  box-sizing: border-box;
  padding: 1.8%;
  display: flex;
  flex-direction: column;
  background: rgba(44, 48, 118, 0.97);
  border-radius: 6px;
}
.popupMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.buttonContainer {
  display: flex;
  justify-content: flex-end;
}
.buttonContainer > button {
  border: none;
  background: none;
  margin: 0;
  cursor: pointer;
}
.popupMain > img {
  width: 130px;
}
.linkContainer {
  background: #ffffff;
  box-shadow: 0px 2px 12px rgba(48, 4, 78, 0.3);
  border-radius: 4px;
  padding: 10px 15px;
}
.popupMain a {
  text-decoration: none;
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;

  color: #34387a;
}
.congratulations {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0;
  color: #ffffff;
}
.successMessage {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.verifyMessage {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.errMessage {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;
  color:white;
}
@media (max-width: 768px) {
  .popupMain > img {
    width: 100px;
  }
  .buttonContainer img {
    width: 25px;
  }
  .popupContainer {
    width: 70%;
  }
  .congratulations {
    font-size: 24px;
    line-height: 29px;
  }
  .successMessage {
    font-size: 15px;
    line-height: 18px;
  }

  .verifyMessage {
    font-size: 14px;
    line-height: 18px;
  }

  .errMessage {
    font-size: 15px;
    line-height: 18px;
  }
  .linkContainer {
    padding: 10px 15px;
  }
  .popupMain a {
    font-size: 12px;
    line-height: 14px;
  }
}
