.container{
    background: url('../../../associatewithus/Common/img/background.png') center center/cover;
    /* width: 100%;  */
    min-height:100vh;
    /* background-size: cover; */
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-attachment: fixed;
    /* left: 0; */
    /* top: 0; */
    background-size: cover;
}
.trouble{
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    color: #fff;
    text-decoration: none;
}

.wraper{
   min-height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   box-sizing: border-box;
   margin-top: 6.5%;
   overflow-x: hidden;
   margin-bottom: 1%;
}
.box{
    background:transparent;
    width: 600px;
    /* height:700px; */
    /* box-shadow: 0px 4px 16px #fff; */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.5);
    }
 .boxContent{
     display: flex;
     flex-direction: column;
     box-sizing: border-box;
     padding-left:3%;
     padding-right: 3%;
     padding-top: 5%;
     padding-bottom: 4%;
 }   
.mainDiv{
    display: flex;
    justify-content: center;
    overflow-x: hidden;
 }
.headline{
    font-family: playfire display;
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
/* identical to box height */
    color:  #fff;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 5%;
    text-transform: uppercase;
 } 

.nameInput, .genderDiv, .emailInput, .contactInput, .collegeInput,  
.clgstateInput, .yearInput, .addCollegeInput,  .passwordInput,
.cnfpasswordInput,.eventsInput,.refferalInput
{
    
color: rgba(255, 255, 255, 0.4);
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-bottom: 3%;

}     

.cs_div{
    min-width: 100%;
}
/* input[type=radio]:checked ~ .check {
    border: 1px solid black;
  } */
.textInput{
  border-left: 0;
  border-right: 0;
  border-top: 0;
  background: transparent;
  color:#fff;
  width: 13vw;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.54);
}

.textInput1{
    border-left: 0;
    border-right: 0;
    border-top: 0;
    width: 100%;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.54);
    background: transparent;
    color:#fff;
  }
  
.name,.email,.gender,.contact,.pass,.cnfPass,
.clgState,.branch,.events,.ref{ 
    font-family: Lato;
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    margin-bottom: 5%; 
}
.college,.clgAdd,.clgState,.branch{
    font-family:Lato;
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    margin-bottom: 2%;  
}

.label_gender{
    font-family: Lato;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #fff;

}
.collegeInput,.addCollegeInput,.clgstateInput,.yearInput{
    box-sizing: border-box;
    padding: 5px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.colDiv{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 5px;
    flex-wrap: wrap;  

}
.registerBtn{
    width: 600px;
    height: 52px;
    /* margin: 6px; */
    border: 2px solid white;
    border-radius: 4px;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    line-height: 24px;
    /* letter-spacing: 0.03em; */
/* identical to box height */
   background:white;
   color:black;
   text-transform: uppercase;
   /* background:  #252CAB; */
   cursor: pointer;
   font-style: normal;
   font-weight: bold;
}

/* .yearInput,.contactInput,
.cnfpasswordInput{
    width: 39.5%;
} */
.genderDiv{
    min-width: 42%;
}
.genderbox{
    display: flex;
}

.contactInput,.cnfpasswordInput,
.yearInput,.eventsInput{
    min-width: 42%;
}
.Register{
    display:flex;
    flex-direction: column;
   /* background:  #252CAB; */
    align-items: center;
    justify-content: center;
}
.link{
    padding-bottom: 6px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    padding-left: 12px;
    /* text-align: center; */
    display: flex;
    justify-content: center;

}
.ref{
    margin-bottom: 14%;
}

input:focus {
    outline:none !important;
}

@media screen and (max-width:768px){
    .wraper{
        padding-top:17%;
        margin-bottom: 5%;
        /* margin-top: 0; */
    }
    /* .nameInput, .genderDiv, .emailInput, .contactInput, .collegeInput{
    margin-bottom: 5%;
       } */
    .name,.email,.gender,.contact,.pass,.cnfPass,
    .college,.clgAdd,.clgState,.branch{
        font-size: 14.5px;
    }
    .box{
        width: 90%;
    }
    .collegeInput,.addCollegeInput{
        padding-left: 0px;
    }
    .colDiv2{
        flex-wrap: wrap;
    }
    .eventsInput{
        min-width: 100%;
    }
    .textInput{
        width: 77vw;
        margin-bottom: 5%;
    }
    .ref{
        margin-bottom: 5%;
    }
    .refferalInput{
        min-width: 100%;
    }


    /* .country{
        padding-right: 1%;
    } */
}

