.Backdrop1{
    width:100%;
    height:100%;
    position:fixed;
    background:rgba(100,100,100,.4);
    z-index:10;
    left:0;
    top:0;
    /* background-color:transparent} */
}
.Backdrop1>div{
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50% ,-50%)
}
@media(max-width:500px){
    .Backdrop1>img{
        width:80%;
    }
}