.night {
    position: relative;
    width: 90%;
    height: 100%;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
  
  .shooting_star {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 2px;
    background: linear-gradient(-45deg, #2ea1bc, rgba(0, 0, 255, 0));
    border-radius: 999px;
    -webkit-filter: drop-shadow(0 0 6px #699bff);
            filter: drop-shadow(0 0 6px #699bff);
    -webkit-animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
            animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
  }
  .shooting_star::before, .shooting_star::after {
    content: '';
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0),#2ea1bc, rgba(0, 0, 255, 0));
    -webkit-transform: translateX(50%) rotateZ(45deg);
            transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    -webkit-animation: shining 3000ms ease-in-out infinite;
            animation: shining 3000ms ease-in-out infinite;
  }
  .shooting_star::after {
    -webkit-transform: translateX(50%) rotateZ(-45deg);
            transform: translateX(50%) rotateZ(-45deg);
  }
  .shooting_star:nth-child(1) {
    /* top: 50vh;
    left: 18vw; */
    top: calc(50% - -159px);
    left: calc(30% - 80px);
    -webkit-animation-delay: 586ms;
            animation-delay: 586ms;
  }
  .shooting_star:nth-child(1)::before, .shooting_star:nth-child(1)::after, .shooting_star:nth-child(1)::after {
    -webkit-animation-delay: 586ms;
            animation-delay: 586ms;
  }
  .shooting_star:nth-child(2) {
    top: calc(50% - 191px);
    /* top: 27vh; */
    left: calc(60% - 51px);
    -webkit-animation-delay: 4415ms;
            animation-delay: 4415ms;
  }
  .shooting_star:nth-child(2)::before, .shooting_star:nth-child(2)::after, .shooting_star:nth-child(2)::after {
    -webkit-animation-delay: 4415ms;
            animation-delay: 4415ms;
  }
  .shooting_star:nth-child(3) {
    /* top: calc(50% - -22px);
    left: calc(70% - 284px); */
    top:11%;
    left: 87%;
    -webkit-animation-delay: 6541ms;
            animation-delay: 6541ms;
  }
  .shooting_star:nth-child(3)::before, .shooting_star:nth-child(3)::after, .shooting_star:nth-child(3)::after {
    -webkit-animation-delay: 6541ms;
            animation-delay: 6541ms;
  }
  .shooting_star:nth-child(4) {
    /* top: calc(50% - 161px);
    left: calc(50% - 117px); */
     top: 53%;
    left: 50%; 
    /* left: 31vw;
    top: 6vh; */
    -webkit-animation-delay: 6933ms;
            animation-delay: 6933ms;
  }
  .shooting_star:nth-child(4)::before, .shooting_star:nth-child(4)::after, .shooting_star:nth-child(4)::after {
    -webkit-animation-delay: 6933ms;
            animation-delay: 6933ms;
  }
  .shooting_star:nth-child(5) {
    /* top: calc(50% - 86px);
    left: 90%; */
    /* left: calc(50% - 85px); */
    left: 48vw;
    top: -24vh;
    -webkit-animation-delay: 9227ms;
            animation-delay: 9227ms;
  }
  .shooting_star:nth-child(5)::before, .shooting_star:nth-child(5)::after, .shooting_star:nth-child(5)::after {
    -webkit-animation-delay: 9227ms;
            animation-delay: 9227ms;
  }
  .shooting_star1:nth-child(6) {
    top: calc(50% - 119px);
    left: calc(50% - 92px);
    -webkit-animation-delay: 6438ms;
            animation-delay: 6438ms;
  }
  .shooting_star1:nth-child(6)::before, .shooting_star:nth-child(6)::after, .shooting_star:nth-child(6)::after {
    -webkit-animation-delay: 6438ms;
            animation-delay: 6438ms;
  }
  .shooting_star:nth-child(7) {
    top: calc(50% - -14px);
    left: calc(50% - 55px);
    -webkit-animation-delay: 3716ms;
            animation-delay: 3716ms;
  }
  .shooting_star:nth-child(7)::before, .shooting_star:nth-child(7)::after, .shooting_star:nth-child(7)::after {
    -webkit-animation-delay: 3716ms;
            animation-delay: 3716ms;
  }
 
  
  @-webkit-keyframes tail {
    0% {
      width: 0;
    }
    30% {
      width: 100px;
    }
    100% {
      width: 0;
    }
  }
  
  @keyframes tail {
    0% {
      width: 0;
    }
    30% {
      width: 100px;
    }
    100% {
      width: 0;
    }
  }
  @-webkit-keyframes shining {
    0% {
      width: 0;
    }
    50% {
      width: 30px;
    }
    100% {
      width: 0;
    }
  }
  @keyframes shining {
    0% {
      width: 0;
    }
    50% {
      width: 30px;
    }
    100% {
      width: 0;
    }
  }
  @-webkit-keyframes shooting {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(300px);
              transform: translateX(300px);
    }
  }
  @keyframes shooting {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(300px);
              transform: translateX(300px);
    }
  }
  @-webkit-keyframes sky {
    0% {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
    }
    100% {
      -webkit-transform: rotate(405deg);
              transform: rotate(405deg);
    }
  }
  @keyframes sky {
    0% {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
    }
    100% {
      -webkit-transform: rotate(405deg);
              transform: rotate(405deg);
    }
  }
  @media screen and (max-width:768px){
      .night .shooting_star1{
          display: none;
      }
      .shooting_star:nth-child(1){
        top: 34vh;
      
      }
      .shooting_star:nth-child(3) {
        top: 16vh;
        left: 2vw;
        -webkit-animation-delay: 6541ms;
                animation-delay: 6541ms;
      }
      .shooting_star:nth-child(2) {
       top: 5vh;
       left: 25vw;
        -webkit-animation-delay: 4415ms;
                animation-delay: 4415ms;
      }

  }
  
