.container{
    height: 100vh;
    background:#E5E5E5;
    width: 100%;
}

.wraper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.middle{
    display: flex;
    justify-content: center;
}

.middle img{
    height: auto;
    width:750px;
}

.head{
    display: flex;
    justify-content: center;
    padding-top: 2.5%;
}

.head > label{
    font-family: Lato;
    font-size: 48px;
    line-height: 58px;
/* identical to box height */
   letter-spacing: 0.02em;
   text-transform: capitalize;
   color: #491F65;
   font-weight: bold;
}

.para{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.para > label{
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height */
    text-align: center;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.4);
}

.btn{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 5%;
}

.submit{
      display: flex;
      justify-content: center;
      padding-top: 2%;  
  }

 .submit button{
     padding: 10px 70px 10px 70px;
    background: #491F65;
    box-shadow: 0px 4px 20px rgba(48, 4, 78, 0.3);
    border: none;
    border-radius: 4px;
    font-family: Lato;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    color: #FFFFFF;
    transition: letter-spacing .5s ease-in-out;
 } 
 .submit button:hover{
    cursor:pointer;
    letter-spacing: 1px
}
  a{
    text-decoration: none;
 }
 /* media queries*/
 @media only screen
and (min-device-width : 650px)
and (max-device-width : 975px) {

     .middle img{
         width:500px;
     }

      .head > label{
        font-size: 36px;
        line-height: 30px;
      }
     .para > label{
        font-size:24px;
        line-height:24px;
        padding: 0 10px 0 10px;
     }
    
     .submit{
        padding-top: 15px;
        
    }
     .submit button{
        font-size: 22px;
        line-height: 24px;
        padding: 15px 45px 15px 45px;
        
     }

 }

 @media only screen and (max-width:650px){
    .middle img{
        width:300px;
    }

    .head > label{
        font-size: 28px;
        line-height:25px;
      }
     .para > label{
        font-size:18px;
        line-height:20px;
        padding: 0 10px 0 10px;
     }
    .submit{
        padding-top: 15px;
    }
     .submit button{
        font-size: 18px;
        line-height: 20px;
        padding: 10px 25px 10px 25px;
     }


 }
