.outercontainer{
    display: flex;
    background: #1D1D1D;
    width: 100%;
    
    justify-content: center;
    flex-direction: column;

}
.container{
    display: flex;
    color: white;
    width: 100%;
    /* height: 60%; */
    align-items: center;
    justify-content: center;
    margin-top: 8%;
}
.contact{
    width: 67%;
}
.contactUs{
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 32px;
text-transform: uppercase;

color: #FFFFFF;
}
.contactinfo{
    display: flex;
}
.info{
    width: 30%;
}
.name{
    font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
color: #FFFFFF;
margin: auto;
}
.mob{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    
    /* text-transform: uppercase; */
    margin: auto;
    
    color: rgba(255, 255, 255, 0.9);
    
}
.email{
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
margin: auto;
color: rgba(255, 255, 255, 0.9);
}
.get{
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 32px;
text-transform: uppercase;

color: #FFFFFF;
direction: rtl;
}
.getinfo{
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 135%;
/* or 24px */
margin: auto;
text-align: right;

color: #FFFFFF;
}

.know , .see{
    background: rgba(255, 255, 255, 0.9);
    border-radius: 2px;
    width: 224px;
    height: 52px;
    border-style: none;
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 24px;
text-align: center;
cursor: pointer;
transition: all ease-in-out .3s;
color:#1d1d1d;
}
.followUs{
    display: flex;
    flex-flow: column;
    /* justify-content: center; */
    /* background-image: url(../../home/src/img/footer.png); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* min-height:172px; */
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 160px;
    /* margin: 57px; */
}
.seebutton{
    direction: rtl;
}
.icons_div1, .icons_div2, .icons_div3, .icons_div4, .icons_div5{
    width: 80px;
    padding-top:85px;
    transition: all ease .6s;
}
.icons_div1 svg{
    width: 32px;
    height:px;
}
.icons_div2 svg{
    width: 32px;
    height:px;
}
.icons_div3 svg{
    width: 32px;
    height:px;
}
.icons_div4 svg{
    width: 32px;
    height:px;
}
.icons_div5 svg{
    width: 32px;
    height:px;
}
.footerimg{
    background: #1D1D1D;

}
.footer{
    width: 100%;
}
.arrow{
    width: 20px;
    margin-left: 11px;
}
/* .icons_div1 :hover svg{
    width: 45px;
    height: 55px;
    transition: all ease .6s;
} */
.icons_div1 svg:hover path{
   fill:#dc34cefa;
   transition: all ease .6s;
   
}
.icons_div2 svg:hover path{
    fill: #3b5998;
    transition: ease-in-out .6s;
 }

 .icons_div3 svg:hover path{
    fill:#00acee;
    transition: all ease .6s;
 }
 .icons_div4 svg:hover path{
    fill:#0e76a8;
    transition: all ease .6s;
 }
 .icons_div5 svg:hover path{
    fill:#c4302b ;
    transition: all ease .6s;
 }
 
    .see a{
        text-decoration: none;
    }
    .know a{
        text-decoration: none;
    }
  .know_arrow{
      display: flex;
      justify-content: center;
      color: #1d1d1d;
      align-items: center;

  }
  .see_arrow{
      display: flex;
      direction: ltr;
      justify-content: center;
      color: #1d1d1d;
      align-items: center;
  }
  .arrow svg path{
     fill:#1d1d1d;
  }
  .know_arrow svg{
    vertical-align: unset;
  }
  .see_arrow svg{
    vertical-align: unset;
  }
  .see_button{
      direction: rtl;
  }

  .know:hover{
    background-color:#1d1d1d;
    /* color: rgba(255, 255, 255, 0.87) !important; */
    transition: all ease-in-out .3s;
    border: 1px solid  rgba(255, 255, 255, 0.87);
    transform: scale(.9,.9);
}
.know:hover .more{
    color: #FFFFFF;
}
.know:hover svg path{
    fill: white;
}
.see:hover{
    background-color:#1d1d1d;
    /* color: rgba(255, 255, 255, 0.87) !important; */
    transition: all ease-in-out .3s;
    border: 1px solid  rgba(255, 255, 255, 0.87);
    transform: scale(.9,.9);
}
.see:hover .map{
    color: #FFFFFF;
}
.see:hover svg path{
    fill: white;
}
/* canvas */


@media only screen and (max-width:700px){
    .container{
        width: 100%;
        align-items: end;
    
    }
    .btn{
        min-height:64px;
        margin: 0px;
        /* padding-top:34px; */
    }
    .knowbutton{
        padding: 0px 0px 10px 0px;
        margin-top: -13px;
    }
    .know, .see{
        width: 110px;
        height: 26px;
        font-size: 10px;
        line-height: 12px;
    }
    .contactinfo{
        flex-flow: column;
        width: 50%;
    }
    .get, .contactUs{
        font-size: 14px;
        line-height: 17px;
    }
    .getinfo{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 135%;

    }
    .name{
        font-size: 12px;
        line-height: 15px;
    }
    .mob ,.email{
        font-size: 10px;
        line-height: 12px;
        
    }
    .mob{
        margin: -10px 0px -10px 0px;
    }
    .icons_div1, .icons_div2, .icons_div3, .icons_div4, .icons_div5{
        width: 32px;
        padding-top:0;
        
    }
    .icons_div1 svg{
        width: 18px;
    }
    .icons_div2 svg{
        width: 18px;
    }
    .icons_div3 svg{
        width: 18px;
    }
    .icons_div4 svg{
        width: 18px;
    }
    .icons_div5 svg{
        width: 18px;
    }


    .info{
        width: auto;
        /* margin: auto; */
        padding: 0px 0px 15px;
    }
    .contact{
        width: 50%;
    }
    .arrow{
       
     width: 14px;
    }
    .footer{
        padding-top:13px;
    }
    .know_arrow svg{
        vertical-align: super;
    }
    .see_arrow svg{
        vertical-align: super;
    }
}
 /* @media screen and (min-width:1024px) and (max-width:2000px){ 

    .know , .see{
        text-align: center;
        cursor: pointer;
        border: none;
        padding: 0 30px;
        color: #0d314c;
        /* letter-spacing: 2px; */
        /* position: relative;
        transition: all 0.4s ease;
        display: -webkit-flex;
        display: flex; */ 
        /* justify-content: center;
        align-items: center;
        border: 0; */
       
      /* }
    .know:before, .know:after {
    content: "";
    position: absolute;
    width: 0px;
    height: 100%;
    top: 0;
    transition: all 0.6s ease;
    background-color: #0d314c;
  }
  .know:before {
    left: 0;
  }
  .know:after {
    right: 0;
  }
  .know:hover .more {
    transition: all 0.6s ease;
     letter-spacing: 2px;
    color: white !important;
  }
  .know:hover .team {
    
    color: white !important;
    z-index: 200;
  }
  .know:hover:before, .know:hover:after {
    width: 51%;
  }

  .know:hover  svg path{
      fill:white;
      z-index: 200;
  }

  .see:before, .see:after {
    content: "";
    position: absolute;
    width: 0px;
    height: 100%;
    top: 0;
    transition: all 0.6s ease;
    background-color: #0d314c;
  }
  .see:before {
    left: 0;
  }
  .see:after {
    right: 0;
  }
  .see:hover .map {
    transition: all 0.6s ease;
     letter-spacing: 2px;
    color: white !important;
  }
  .see:hover .team {
    
    color: white !important;
    z-index: 200;
  }
  .see:hover:before, .see:hover:after {
    width: 51%;
  }

  .see:hover  svg path{
      fill:white;
      z-index: 200;
  }
 } */
