
.heading
    {
        position: absolute;
        width: 100vw;
        height: 78px;
        left: 0px;
        top: 0px;
        display: flex;
        color: red;
        background: linear-gradient(155.99deg, #00ABD0 -1.94%, #5B05E8 101.02%);
    
    }
.zonals{
    position: absolute;
    width: 71px;
    height: 22px;
    left: 693px;
    top: 32px;
    
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    
    text-transform: uppercase;
    
    color: #FFFFFF;
    }
    .events{
        position: absolute;
width: 68px;
height: 22px;
left: 817px;
top: 32px;

font-family: Lato;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
/* identical to box height */

text-transform: uppercase;

color: #FFFFFF;

    }
    .associate{
        position: absolute;
width: 186px;
height: 22px;
left: 940px;
top: 32px;

font-family: Lato;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
/* identical to box height */

text-transform: uppercase;

color: #FFFFFF;
    }
    .sponsers{
        position: absolute;
width: 91px;
height: 22px;
left: 1156px;
top: 32px;

font-family: Lato;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
/* identical to box height */

text-transform: uppercase;

color: #FFFFFF;
    }
    .about{
        position: absolute;
width: 63px;
height: 22px;
left: 1301px;
top: 32px;

font-family: Lato;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
/* identical to box height */

text-transform: uppercase;

color: #FFFFFF;

    }
ul{
    list-style-type: none;
}
.logo{
    margin-left: 50px;
    margin-top: 15px;
}

@media screen and (max-width:1100px){
    .heading{
        width: 100%;
        height: 45px;
    }
   .asset{
     width: 60px;
 }
 .logo{
     margin-top: 10px;
     margin-left: 30px;
 }

}
