.input{
    display: flex;
    width: 100%;
    padding: 10px 0px;
    box-sizing: border-box;
    align-items: center;
}
.label{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    white-space: nowrap;
    text-transform: uppercase;
    width: 37.2%;
    color: #000000;
    display: block;
    /* flex: 1 */
}
.inputElement{
    /* flex: 2; */
    outline:none;
    border:1px solid black;
    background-color: white;
    font:inherit;
    padding: 6px 10px;
    display: block;
    width: 52.9%;
    border: 1px solid #272A5E;
    box-sizing: border-box;
    box-shadow: inset 0px 1px 6px rgba(0, 0, 0, 0.03);
    border-radius: 20.5px;
}
.mediaOuterWrapper{
    
}
.inputElement:focus{
    outline:none;
    background-color:#ccc
}
.invalid{
    border:1px solid red;
    background-color: #FDA49A
}   
.radioWrapper{
    width: 30%    
}