
.logo{
    z-index: 5;
}
.logo img{
    /* box-shadow: 0px 4px 8px #000; */
    width: 115px;
    padding-left: 17px;
    padding-top: 12px;
}

@media screen and (max-width:768px){
    .logo img {
        width: 57px;
        padding: 5px 7.5px;
        /* z-index:5; */
    }
}