.navbarParentDiv {
  display: flex;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0%;
  box-sizing: border-box;
  padding: 0.6% 1.47%;
  padding-bottom: 0;
  justify-content: space-between;
  align-items: center;
  /* background: #4e2d6b; */
}
.comingsoonMain {
  color: #000000 !important;
}
.caBackground{  
    background:  linear-gradient(155.99deg, #00ABD0 -1.94%, #5B05E8 101.02%);
}

ul .register>a{
  display:none;
  padding:0;
  
   /* z-index:-1; */
}
.register_button{
  display: none;
}
.navMain {
  display: flex;
  /* width:71.5%; */
}
.navMainInt {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.navMainInt > ul {
  list-style-type: none;
  /* margin: 0;
  /* padding: 0;
  overflow: hidden; */ 
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.navMainInt > ul > li > a {
  display: block;
  color: white!important;
  /*padding-top: 2px;*/
  padding-left: 14px ;
  padding-right: 16px;  
  padding-bottom: 7.5px;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  white-space: nowrap;
  /* identical to box height */
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
  display: inline-block;
}

.navMainInt > ul > li > a:hover {
  cursor: pointer;
  /*color:wheat;*/
  
  }
.active{
  cursor: pointer;
}
.navMainInt > ul > li >a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width:0;
}
.navMainInt > ul > li > a:hover:after { 
  width:45%; 
  left: 15%;
}

.active:after{
  width:45% !important; 
  left: 15% !important; 
}
@media only screen and (max-width: 768px) {
  .active:after{
    width:unset !important; 
    left: unset !important; 
  }
  .active{color: #ffffff !important;} 
  .responsiveNavbar {
    display: inline-block;
    cursor: pointer;
    z-index: 10;
  }
  .bar1,
  .bar2,
  .bar3 {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 6px 6px;
    transition: 0.4s;
  }
  .navMain{
      width:unset;
  }
  .navMainInt{
    background: #000000;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    left: 0px;
    top: 0;
    position: fixed;
  }

  .navMainInt > ul {
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    background: #000000f2;
    position: fixed;
    top: 120px;
    /* right: 0; */
    left: 0px;
    opacity: 0.85;
    justify-content: flex-start;  
  }
  
  .change 
  {
    z-index: 10;
    
  }

  .change .bar1 {
    -webkit-transform: rotate(-48deg) translate(-7px, 6px);
    transform: rotate(-48deg) translate(-7px, 6px);
  }

  .change .bar2 {
    opacity: 0;
    
  }

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
     
  }

  .showNavbar 
  {
    display: none;
  }
  .register_button{
    height: 37px;
    width: 145px;
    display: inline-block;
    background: #252525;
    color: #fff !important;
    border-radius: 4px;
    border-style: none;
    border: 1px solid white;
    cursor: pointer; 
    font-size: 17px;
    /* z-index: 100;  */
    margin-top:16px;
    /* margin-left: 15px; */
  }
  #register{
    display: none;
  }
 
}
