.navbarParentDiv{
    /* background-color:#091139;        */
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    z-index: 1000;
    /* justify-content: space-around */
}
.navbar_child{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 30%;
    width: 54%;
    z-index: 1000
}
.caBackground{  
    background:  linear-gradient(155.99deg, #00ABD0 -1.94%, #5B05E8 101.02%);
}
/* .shownavbar{
    z-index: 1;
} */
.hidenavbar{
   visibility: hidden;
}
.active_sidebar{
    color:#03dac5 !important;
    /* cursor: pointer; */
}
.active::after{
    width:100% !important;
}
.active_sidebar::after{
    width:100% !important;
}
.navbar_element,.sidebar_element{
    /* padding-left: 8%; */
    width:fit-content;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0px 4px 8px #000;
    font-family: lato;
    text-decoration: none;
    z-index: 1000;
}
.navbar_element::after{
    content: '';
    display: block;
    width: 0;
    margin-top:2px;
    height: 2px;
    background: #fff;
    transition: width .5s;
}
.navbar_element:hover::after{
    width:100%;
}
.amburger{
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
    /* background-color: #03dac5; */
    position: fixed;
    right: 30px;
}
.bar1, .bar2, .bar3{
    box-shadow: 0px 4px 6px rgba(0,0,0);
    /* color: #fff; */ height:2px;
    width:30px;
    border-radius: 2px;
    background-color: #fff;
}
.bar2{
    margin: 6px 0px;

}
/* .change .bar2{
   display: none;
} 
.change .bar1{
    -ms-transform: rotate(45deg); 
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg) translate(1px, 1px);
    transition: transform 0.3s;
    position: fixed;
}
.change .bar3{
    -ms-transform: rotate(-45deg); 
    -webkit-transform: rotate(-45deg) translate(1px, 1px);
    transform: rotate(-45deg);
    transition: transform 0.3s;
    position: fixed;
} */
.close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
  .close {
    z-index:11;
    position: absolute;
    right: 8vw;
    top: 28px;
    width: 32px;
    height: 32px;
    cursor: pointer;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color:#fff;
  }
.sidebar_parent{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #091139;
    margin-left: 70%;
    padding-left: 5%;
    width: 30%;
    padding-top: 7vh;
    min-height: 93vh;
    position: fixed;
    top: 0;
    z-index: 1000;
}
.sidebar_element::after{
    content: '';
    display: block;
    margin-top:2px;
    width: 0;
    height: 2px;
    background: #03dac5;
    transition: width .5s;   
}
.sidebar_element:hover{
    color:#03dac5;
}
.sidebar_element:hover::after {
    width: 100%;
}
.sidebarshow{
    transition:0.6s;
    transform:translate(100%);
}
.sidebarhide{
    transition: 0.6s;
    transform:translate(0);
}
@media only screen and (max-width:768px)
{
    .navbar_child{
        display: none;
    }
    .navbarParentDiv{
        justify-content: space-between;
    }
    .amburger{
        padding-right: 10px;
        right: 0px;
    }
    .sidebar_parent{
        width:70%;
        min-height: 93vh;
        margin-left: 30%;
        padding-left:10% ;
        padding-top: 7vh;
    }
    .close{
        right: 55px;
        top: 19px;
    }
    .sidebar_element{
        font-size: 12px;
    }
}