.facebookButton 
{
    display: none;
}
.popup_parent
{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.popup{
    font-size: 18px;
    color:#fff;
    text-transform: capitalize;
    background-color: #405669;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
}
.popdown{
    display:none;
}
.home_fb{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 1%;
}
.main ::-webkit-scrollbar {
    width: 8px; 
  }
.main ::-webkit-scrollbar-track { 
    border-radius: 4px;
  }
.main ::-webkit-scrollbar-thumb {
    background: #405669; 
    border-radius: 4px;
  }
  /* ::-webkit-scrollbar-thumb:hover {
    background: #405669; 
  } */
 .home_fb .home_button button{
    box-sizing: border-box;
    margin-top: 10px;
    width: 205px;
    cursor:pointer;   
    text-align: center;
    line-height: 30px;
    border-radius: 0.2em;
    border:1px solid #fff;
    font-size: 16px;
    color: #FFF;
    background-color:#405669;
    outline: none;
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}
.home_fb .home_button button:hover{
        background-color:#fff;
        color:#405669;
}
.fb_button{
  box-sizing: border-box;
  position: relative;
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  cursor:pointer;   
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  text-shadow: 0 -1px 0 #354C8C;
}
.fb_button:before{
        content: "";
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        width: 34px;
        height: 100%;
}
.fb_button:focus{
    outline: none;
}
.fb_button:active{
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}
.fb_button:before{
    border-right: #364e92 1px solid;
    background: url('../img/fb.png')  6px 6px no-repeat;
}
 .fb_button:hover , .fb_button:focus{
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
}

.update{
    color:#fff;
    font-family: lato;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin-top:-4px;
}
.maindiv{
    display:none;
}
.rec{
    overflow: auto;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 30%;
    height: 100vh;
    background-color:#405669;
    background-size: cover;
}
/*top....*/
.top{
    display:flex;
}
.top img{
    border-radius: 50%;
    height:85px;
    width:85px;
    margin-left:7.80%;
    margin-top: 5.80%;
    height:12.46%;
    width:23%;
}
.top .top_item{
    display: flex;
    flex-direction: column;
    margin-left: 5.26%;
    margin-top: 9.26%;
}
.top .top_item div{
    height:27px;
    width:auto;
    color:#fff;
    text-transform: capitalize;
    font-family: lato;
    font-style:normal;
}
.top .top_item .name{
    font-size:20px;
    font-weight:bold;
}
.top .top_item .collage{
    font-size:17px;
    font-weight: normal;
}
/*mid...*/
.mid{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 9%;
    height:60px;
}
.mid>div{
    width:30%;
    align-items: center;
    height:65px;
    width: 65px;
    background-color:  rgba(28, 54, 77, 0.5);
    border-radius: 2px;
    color:#fff;
    font-weight: bold;
    text-transform: uppercase;
    font-family: lato;
    font-style: normal;
}
.mid .likes{
    display: flex;
    flex-direction: column;
    margin-left:6.60%;
}
.mid .likes div{
    height:45%;
    margin-top: 7%; 
}
.mid .shares{
    display: flex;
    flex-direction: column;
}
.mid .shares div{
    height:45%;
    margin-top: 7%; 
}
.mid .scores{
    display: flex;
    flex-direction: column;
    margin-right: 6.60%;																																																																																																				
}
.mid .scores div{
    height:45%;
    margin-top: 7%; 
}
.num{
    font-size: 24px;
}
.text{font-size:14px;}
/*bottom...*/

.bottom p{
    color:#fff;
    text-transform: uppercase;
    font-family: lato;
    font-weight: bold;
    font-size: 16px;
}
.bottom{
    display:flex;
    flex-direction: column;
    margin-top: 6%;
}
.bottom>a{
    display: flex;
    justify-content:space-around;
    text-decoration: none;
}
.bottom a>div{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.image{
    margin-top: 3%;
}
.bottom img{
    height:24px;
    margin-left:40px;
}
.nav{
    width:56%;
    text-align: start;
}
.bottom>a:hover{
    background-color:  rgba(28, 54, 77, 0.5);
    transition: color .3s ease-in,font 10s ease-in;
}
.active{
    background-color:  rgba(28, 54, 77, 0.5);
}
.fb_log{
    height: 6%;
    width: 114px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
    margin-left: 31%;
    font-family: lato;
    align-items: center;
    margin-top: 3.5%;
}
.fb_log img{
    height:24px;
}
/*media query....*/
@media only screen and (min-width: 768px){
    .close_button{
        display: none;
    }
}
@media only screen and (max-width: 1130px)
{
    .top img{
        width:27%;
    }
    .top .top_item{
        margin-left: 5.26%;
        margin-top: 9.26%;
    }
}
@media only screen and (max-width: 855px){
    .rec{
        width: 100%;
    }
    .image{
        margin-top: 4.3%;
    }
    .popup{
        background-color:#1c364d;

    }
    .sidebarShow {
        transform: translate(-100%);
        transition: 0.5s;
    }
    .sidebarHide {
        transform: translate(0);
        transition: 0.5s;
    }
    .top .top_item .name{
        font-size: 17px;
    }
    .top .top_item .collage{
        font-size: 14px;
    }
    .top .top_item div{
        height:22px;
    }
    /* .rec{
    transform: translate(-100%);
    } */
#maindiv{
    position: fixed;
    top:0;
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.div1{
    width: 100vw;
    height: 100%;
    left: 0px;
    top: 0;
    background: #405669;
    box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.25);
    align-items: center;
    display: flex;
}
.div1 .nav{
    width:26px;
    height:50%;
    display: flex;
    justify-content: center;;
    flex-wrap: wrap;
    margin-left: 4%;
}

.bar1 {
    width: 30px;
    height: 10%;
    background-color: white;
}
.close_button p{
    color:#fff;
    font-size: 30px;
    margin:0;
} 
.close_button button{
    background:none;
    position: absolute;
    /* top:7px; */
    right:0px;
    margin: 0px;
    border:none;
}
}





