.contact_container {
    flex-direction: column;
    min-height:100vh;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:#1c364d;
}
.div{
    width: 100%;
    height: 328px;
    display: flex;
    /* margin-right: 21%; */
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.div1{
    width: 100vw;
    height: 6%;
    left: 0px;
    top: 25px;
    background: #405669;
    box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.25);
    align-items: center;
    display: flex;
}

.div2{
    width: 320px;
    height: 137px;
    background: #405669;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.div3{ width: 320px;
    height: 137px;
    background: #405669;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.div2_2{
    width: 53%;
}
.div2_3{
    width: 70%;
    margin-left: -4%;
}
.div2_4{
    width: 20%;
    margin-top: 3%;
    margin-left: 0%;
}
.div5{
    width: 100%;
}
.phone{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.mail{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.phoneicon{
    width: 20%;
    margin-top: 3%;
    margin-left: 0%;
}
.text2{
    height: 21px;
    font-weight: 500;
    font-size: 22px;
    color: #FFFFFF;
}
.text2_1{
    font-weight: normal;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}
.text2_2{
    height: 23.28px;
    top: 227.38px;
    font-weight: normal;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}

.text3{
    height: 21px;
    font-weight: 500;
    font-size: 22px;
    color: #FFFFFF;
}
.text3_1{
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.7);
}

.pic{
    display: none;
}


@media screen and (min-width: 768px)
{
    .div1
    {
        display: none;
    }
    .div_4 {
        display: none;
    }
    .phoneicon{
        display: none;
    }
    .phone{
        margin-right: -21%;
        width: 100%;
        height: 5%;
    }
    .mail{
        margin-right: -27%
    }
    .div{
        width: 500px;
        height: 100vh;
       
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    .div2{
        width: 420px;
        height: 200px;

    }
    .div2_3{
        margin-left: 38%;
    }
    .div2_2{
        width: 100%;
        margin-left: 16%;
    }
    .pic{
        width: 35%;
        height: 75%;
        margin-top: 6%;
        display: inline-flex;

    }
    .display_pic{
        border-radius: 50%;
        width: 100%;
        height: 100%;
    }

    .text2_1{
        width: 100%;
        margin-left: -54%;

    }
    .text2_2{
        margin-left: -46%;
    }
    .div3{
        width: 60%;
        margin-top: 7%;
        box-shadow: 0px 0px 0px;
    }
}
@media screen and (min-width: 769px){
    .contact_container{
        margin-left: 28%;
    }
    /* .div{
        padding:5% 0;
        height: 100vh;
        margin-top: 0%;
    } */
}

 

@media screen and (max-width: 500px){
    /* .div{
        height: 100vh;
        margin-top:56px;
    } */
.div2{
    width: 250px;
}
.text2{
    font-size: 18px;
}
.text2_2,.text2_1{
    font-size: 12px;
}
.contact_container{
    width: 100%;
}
}

