.profile_parent{
    margin-left:30%;
    background: #000406;
    box-shadow: inset 2px 0px 12px rgba(0, 0, 0, 0.12);
    min-height:100vh; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.profile{
    /*   */
    margin:0;
    text-align:center;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    /* flex:0.5; */
}
.profile h1{
    color: #FFFFFF;
    font-size:20px;
    margin:0;
}
hr{
    width:56px;
    margin:0 auto;
}
*{
    font-family: Lato;
    font-style: normal;
}
.user_details{
    display:flex;
}
.profile_image{
    width:50%;
}
.profile_image img{
    margin-left: 35%;
    height:270px;
    width:230px;
}
.division{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width:50%;
}
 #name{
    color: #FFFFFF;
font-weight: bold;
font-size: 18px;
line-height: 22px;
text-transform: capitalize;
}
 #collage{
    color: #FFFFFF;
    font-weight: normal;
    font-size: 16px;
    text-transform: capitalize;
}
.email{
    color: #FFFFFF;
    margin-top:8%;
    display:flex;
}
.contact{
    color: #FFFFFF;
    display:flex;
    margin-top:3%;
}
#email{
    margin-left:6.5%;
}
.division3{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 45%;
}
.middle{
    display:flex;
}
.add_remove_event{
    border:2px solid #fff;
    border-radius: 4px;
    height:99px;
    width:33%;
    overflow:auto;
    color:#fff;
}
.add_remove_event_element{
    height:21px;
    padding: 4px 5px;
}

.add_remove_event::-webkit-scrollbar{
    width:0px;
    /* color:#fff; */
}
#delete_button{
    height: 20px;
    width: 20px;
    float: right;
    cursor:pointer;
}
#special{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.4);
}
.address ,.thomso_id , .primary_event , .gender{
    display: flex;
    color:#fff;
    margin-left:39%;
    padding:4px 0;
}
#element{
    margin-left:12px;
}
.add_event{
    margin-left:17.5%;
    cursor: pointer;
    width:120px;
    height:30px;
    border-style:none;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 4px;
    color: #000406;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    text-decoration:none;
         color:'#000';
         padding: 8px;
}
    .payment{
        padding:12px;
        text-decoration:none;
         color:'#000';
    border-style:none;
    margin-left:40%;
    cursor: pointer;
    background: #FFFFFF;
    border-radius: 4px;
    width:230px;
    height:40px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: #1C364D;
}
@media only screen and (min-width:768px){
    .parent {
        display: none;
    }
}
@media only screen and (max-width:768px){
  .profile_parent{
      display:none;
  }
  .parent{
      background-color: #000406;
      min-height:100vh;
      padding-top:130px;
  }
  #collage{
      text-align: center;
  }
  .box{
      background-color:#313131;
      height:fit-content;
      margin:0 17px;
      border-radius:4px;
  }
  #name{
    padding: 10px;
    margin-top: -32px;
  }
  .box #profileimg{
      height:110px;
      width:110px;
      border-radius:50%;
      position: relative;
      bottom: 45px;
      border:2px solid #fff;
  }
  .address ,.thomso_id , .primary_event , .gender, .email,.contact{
      margin-left:26px;
      padding: 9px 0;
  }
  .division{
      width:100%;
      align-items: center;
  }
  .division3{
      width:auto;
      margin-top:26px;
  }
  .add_remove_event{
      width:98%;
  }
  .buttons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  }
  .payment , .add_event{
      margin:9px 0;
  }
}

