.maindiv{background-color: black;
    min-height: 100vh;
    display: flex;
    width: 70%;
    margin-left: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div5{
    width: 420px;
    height: 206px;
    background: #313131;;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
}
.div5_1{
   width: 100%;
   text-align: center;
}
.text5_1{

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    
}
.div2{
    width: 100%;
  
}
.text2{
    margin-left: 6%;
    font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;
color: #FFFFFF;

}
.line{
    width: 100%;
}
.line_{
    border: 0.5px solid rgba(0, 0, 0, 0.54);
}
.text3{font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;

    color: rgba(255, 255, 255, 0.54);
   
}

.logout_link
{
    text-decoration: none;
    color: white;
}
.div4{
   
}
.text4{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #03DAC5;
}
.div7{
    width: 100%;
    height: 25%;
}
.box{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media screen and (max-width: 768px)
{
  .maindiv{
    width: 100vw;
    margin-left: 0;
  }
  .div5{
    width: 300px;
    height: 155.26px;
    margin-bottom: 8vh;
  }
  .text5_1{
    font-size: 18px;
    line-height: 22px;
  }
  .text2{font-size: 20px;
    line-height: 24px;}
    .text3{
        font-size: 16px;
line-height: 19px;
    }
    .text4{
        font-size: 16px;
line-height: 19px;
    }
    .line{
        height: 9%;
    }
}

@media screen and (max-width:320px){
    .div5{
        width: 280px;
    }
}