
.maindiv{
    width: 100vw;
    height: fit-content;
    min-height: 100vh;
    background: #334A5F;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 
}
.text1{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FDFDFD;
    }
    .div1_1{
        width: 252px; height: 100%;
        align-items: center;
        margin-left: 22%;
        }
.div1{
width: 100vw;
height: 6%;
left: 0px;
top: 25px;
background: #405669;
box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.25);
align-items: center;
display: flex;
}
.nav{
    width:26px;
    height:50%;
    display: flex;
    justify-content: center;;
    flex-wrap: wrap;
    margin-left: 4%;
    }
    
    .bar1 {
    width: 30px;
    height: 10%;
    background-color: white;
    }

    @media screen and (min-width: 600px)
{
.div1
    {
        display: none;
    }
    #maindiv{
        align-items: center
    }
.div2_1{
    width: 100%;
    margin-left: 12%;
}
#maindiv{
    min-height: 100vh;
}
}