.div2{
    height: 60px;
    margin-top: 5%;
    width: 100%;
             /* height: 52px; */
    background: #405669;
    box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.25);
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}
.div2_1{
    width: 240px;
    margin-right: 20%;
}
.text2_1{
    font-size:18px;
    line-height: 22px;
    color: #FFFFFF;
}
.div3{
    height: 45%;
    width: 100%;

    margin-left: 12%;
    margin-right: 12%;
}
.div3_3, .div3_1, .div3_4, .div3_5, .div3_6{
    width: 100%;
}
.div8{
    width: 100%;
}
.text3_1{
    font-size: 15px; 
    color: #FFFFFF;
}

.div3_2{
    width: 100%;
    margin-top: -3%;
}
.text3_2{
    font-size: 19px; 
    color: #FFFFFF; 
    /* font-weight: bold; */
}
.text8, .text3_3{
    font-size: 15px;
     color: #FFFFFF;
     margin-top: -17px;
     font-style: normal;
    font-family: lato;
    font-weight: 100;
}
.div4{
    height: 48px;;
    width: 100%;
    background: #405669;
    box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.25);
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    margin-bottom: 5%;
    
}
.div4_1{
    width: 323px;
}
.text4_1{
    font-size:18px;
    line-height: 22px;
    color: #FFFFFF;
}
.div5{
    width: 100%;
    margin-left: 12%;
    margin-right: 12%;
    height: 9%;
}
.div6{
    width: 100%;
    height: 60px;
   background: #405669;
   box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.25);
   justify-content: center;
   flex-wrap: wrap;
   display: flex;
   margin-bottom: 5%;
}
.div6_1{
    width: 260px;
    height: 60px;
    margin-right: 16%;
}
.text6_1{
    font-size:18px;
    line-height: 22px;
    color: #FFFFFF;
}
.div7_1 ,.div7{
    width: 100%;
    height: 111pxx;
    margin-left: 12%;
    margin-right: 12%;
}
.text8{
    display: none;
}
.div3_5, .div3_4, .div7_1{
    display: none;
}
@media screen and (max-width: 425px)
{
    .text3_3{
        font-size: 12px;
    }
    .text2_1,.text4_1, .text6_1{
        font-size: 16px;
    }
}

@media screen and (min-width: 1000px)
{
.text3_3, .text3_1{
    font-size: 16px;
    font-family: lato;
    font-style: normal;
    height: 41px;
}
.div3_1, .div3_3, .div7{display: none;}

.div3_4{
    display: inline-flex;
    height: 40%;
}
.div3_6{
    margin-top: 1%;
}
.div3_5, .div7_1{
    display: inline-flex;
}
.div3_5{
    height: 14%;
}
.text3_2{
    font-size: 22px;
    font-weight: normal;
}
.div2_1, .div4_1, .div6_1{
    width: 100%;
    margin-left: 15.6%;
    
}
.text2_1, .text4_1, .text6_1{
    font-size: 22px;
}
.div3_1{
    height: 13%;
}
.div3_2{
    height: 10%;
    margin-top: -1%;
    
}
.div7_1{
    height: 8%;
}
.div8{
    height: 9%;
    margin-top: -2.5%;
}
.text8{
    display: inline-flex;
    font-size: 18px;
    font-family: lato;
    font-style: normal;
}
.div2{
    margin-top: 2%;
    margin-right: 25%;
    border-radius: 4px;
}
.div4, .div6{
    margin-bottom: 0%;
    margin-right: 25%;
    border-radius: 4px;
    height: 60px;
}
.div4{
    margin-top: 1%;
}
.div5{
    height: 0%;
    margin-bottom: 1%;
}
}