.div2{
    width: 100%;
    height: 20%;
}
.text2{
    font-family: Lato;
font-size: 26px;
line-height: 31px;
font-weight: bold;
color: #FFFFFF;
margin-left: 8%;
}
.div3{
    width: 320px;
height: 144.19px;
background: #405669;
box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.25);
border-radius: 4px;
display: flex;
flex-direction: column;
flex-wrap: wrap;
}