
.div2{
    width: 65%;
    height: 65%;
    background: #405669;
    box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.25);
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    border-radius: 4px;
}
.div3{
    
    height: 100px;
    width: 100px;
    height: 100px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-top: 10%;
}
.div4{
    width: 95vw;
    height: 75%;
    background: #405669;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.div4_1{
    width: 100%;
    margin-left: 25%;
}
.text4_1{
    height: 21px;
    font-size: 24px;
    color: #FFFFFF;
}
.div4_2{
    width: 100%;
    height: 28px;
    margin-left: 12%;
}
.text4_2{
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
}
.div4_3{
    width: 100%;
    height: 25%;
    margin-left: 38%;
}
.text4_3{
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
}
.div5{
    width: 100%;
    height: 26px;
    display: flex;
}
.div5_1{
    width: 35%;
    height: 40px;
    margin-left: 15%;
}
.text5_1{
    height: 22px;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 900;
    line-height: 17px;
}
.text5_2{
    height: 22px;
    font-size: 24px;
    color: #FFFFFF;
    font-weight: bold;
}

.div5_2{
    width: 100%;
    height: 57px;
    display: flex;
}
.div5_3{
    width: 40%;
    height: 57px;
    display: flex;
    margin-left: 16%;
}
@media screen and (max-width: 430px){

.text4_1{
    font-size: 20px;
}
.text4_2, .text4_3{
    font-size: 14px;
    
}
.text5_1, {
    font-size: 15px;
}
.text5_2{
    font-size: 16px;
}
.div5_3{
    margin-left: 20%;
}
}

@media screen and (min-width: 600px)
{
.div2{
    width: 30%;
}
.div4_1{
    margin-left: 30%;
}
.div4_2{
    margin-left: 20%;
}
}