.div2{
    width: 100vw;
    height: 50px;
    background: #334A5F;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.div2_1{
    width: 20%;
     margin-left: 20px;
}
.text2_1{
    height: 21px;
    font-weight: 500;
    font-size: 22px;
    color: #FFFFFF;
}
.div2_2{
    width: 29%;
    margin-left: 32px;
    height: 50px;
}
.text2_2{
    height: 21px;
    font-weight: 500;
    font-size: 22px;
    color: #FFFFFF;
}
.div2_3{
    width: 22%;
     margin-left: 20px;
    height: 50px;
}
.text2_3{
    height: 21px;
    font-weight: 500;
    font-size: 22px;
    color: #FFFFFF;
}
.div3{
    width: 95vw;
    height: 50px;
    background: #405669;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.div3_1{
    width: 12%;
    margin-left: 20px;
}
.text3_1{
    height: 21px;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
}
.div3_2{
    width: 30%;
    margin-left: 50px;
    height: 50px;
}
.text3_2{
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
}
.div3_3{
    width: 18%;
    margin-left: 40px;
    height: 50px;
}
.text3_3{
    height: 21px;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
}
.div4{
    width: 100%;
    height: 65%;
}
.div2_4{
    display: none;
}
.div2_5{
    display: none;
}
.div2_6{
    display: none;
}
.div3_4{
    display: none;
}
.div3_5{
    display: none;
}
.div3_6{
    display: none;
}
@media screen and (max-width: 400px){

.text3_1, .text3_2{
    font-size: 16px;
}
.text2_1, .text2_3, .text2_6,.text2_2,.text2_4,.text3_1{
    font-size:18px;
}
}
@media screen and (min-width: 600px)
{

.text2_4{
    
    height: 21px;
    font-weight: 500;
    font-size: 22px;
    color: #FFFFFF;
}
.text2_5{
    
    height: 21px;
    font-weight: 500;
    font-size: 22px;
    color: #FFFFFF;
}
.text2_6{
    
        height: 21px;
        font-weight: 500;
        font-size: 22px;
        color: #FFFFFF;
}
.div2_1{
    width: 12%;
    margin-left: 0px;
}
.div2_2{
    width: 15%;
    margin-left: 0px;
    
}
.div2_3{
    width: 12%;
    margin-left: 0px;
}
    .div2_4
    {
        display: inline-flex;
        width: 15%;
       
       height: 50px;

    }
    .div2_5{
        display: inline-flex;
        width: 12%;
  
       height: 50px;

    }
    .div2_6{
        display: inline-flex;
        width: 12%;
    
       height: 50px;

    }
    .div3{
        height: 65px;
    }
    .div3_1{
        width: 8%;
        margin-left: 2%;
        height: 100%;
    }
    .div3_2{
        width: 12%;
        margin-left: 0px;
        height: 100%;
        margin-right: 3%;
        
    }
    .div3_3{
        width: 12%;
        margin-left: 0px;
        height: 100%;
    }
        .div3_4
        {
            display: inline-flex;
            width: 18%;
           margin-left: 2%;
            height: 100%;
    
        }
        .div3_5{
            display: inline-flex;
            width: 10%;
                margin-left: 2%;
            height: 100%;
    
        }
        .div3_6{
            display: inline-flex;
            width: 12%;
            margin-left: 2%;
            height: 100%;
    
        }

}