.div5{
    width: 300px;
    height: 155.26px;
    background: #405669;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
}
.div5_1{
    width: 145px;
    margin-left: 70px;
    height: 50px;
}
.text5_1{

    height: 21px;
    font-weight: 500;
    font-size: 22px;
    color: #FFFFFF;
}
.div2{
    width: 100vw;
    height: 40px;
    margin-left: 10px;
}
.text2{
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}
.line{
    width: 100vw;
    height: 20px;
}
.line_{
    border: 1px solid rgba(0, 0, 0, 0.54);
}
.div3{
    width: 90px;
    margin-left: 5px;
}
.text3{
    font-size: 16px; color: rgba(255, 255, 255, 0.54);
}
.div4{
    width: 160px;
    margin-left: 20px;
}
.text4{
    font-size: 16px;
    color: #AB7BFF
}
.div7{
    width: 100%;
    height: 25%;
}

@media screen and (min-width: 600px)
{
    .div7{
        display: none;
    }
    .div5{
        width: 420px;
        height: 200px;
    }
    .div2{
        margin-left:30px;
    }
    .div3{
        width: 170px;
        margin-left: -5px;
    }
}