/* body{
background-color: #1C364D;;
} */
.facebookButton {
    display: none;
}
.facebook_image_div
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.facebook_image_div >img
{
    cursor: pointer;
}
.maindiv{
    display:none;
}
.rec{
    overflow: auto;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 30%;
    height: 100vh;
    background-color:#405669;
    background-size: cover;
}
/*top....*/
.top{
    display:flex;
}
.top img{
    margin-left:7.80%;
    margin-top: 5.80%;
    height:12.46%;
    width:23%;
}
.top .top_item{
    display: flex;
    flex-direction: column;
    margin-left: 5.26%;
    margin-top: 9.26%;
}
.top .top_item div{
    height:27px;
    width:auto;
    color:#fff;
    text-transform: capitalize;
    font-family: lato;
    font-style:normal;
}
.top .top_item .name{
    font-size:20px;
    font-weight:bold;
}
.top .top_item .collage{
    font-size:17px;
    font-weight: normal;
}
/*mid...*/
.mid{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 9%;
    height:60px;
}
.mid>div{
    width:30%;
    align-items: center;
    height:65px;
    width: 65px;
    background-color:  rgba(28, 54, 77, 0.5);
    border-radius: 2px;
    color:#fff;
    font-weight: bold;
    text-transform: uppercase;
    font-family: lato;
    font-style: normal;
}
.mid .likes{
    display: flex;
    flex-direction: column;
    margin-left:6.60%;
}
.mid .likes div{
    height:45%;
    margin-top: 7%; 
}
.mid .shares{
    display: flex;
    flex-direction: column;
}
.mid .shares div{
    height:45%;
    margin-top: 7%; 
}
.mid .scores{
    display: flex;
    flex-direction: column;
    margin-right: 6.60%;																																																																																																				
}
.mid .scores div{
    height:45%;
    margin-top: 7%; 
}
.num{
    font-size: 24px;
}
.text{font-size:14px;}
/*bottom...*/

.bottom p{
    color:#fff;
    text-transform: uppercase;
    font-family: lato;
    font-weight: bold;
    font-size: 16px;
}
.bottom{
    display:flex;
    flex-direction: column;
    margin-top: 6%;
}
.bottom>a{
    display: flex;
    justify-content:space-around;
    text-decoration: none;
}
.bottom a>div{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.image{
    margin-top: 3%;
}
.bottom img{
    height:24px;
    margin-left:30px;
}
.nav{
    width:56%;
    text-align: start;
}
.bottom>a:hover{
    background-color:  rgba(28, 54, 77, 0.5);
}
.fb_log{
    height: 6%;
    width: 114px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
    margin-left: 31%;
    font-family: lato;
    align-items: center;
    margin-top: 3.5%;
}
.fb_log img{
    height:24px;
}
/*media query....*/
@media only screen and (max-width: 1130px)
{
    .top img{
        width:27%;
    }
    .top .top_item{
        margin-left: 5.26%;
        margin-top: 9.26%;
    }
}
@media only screen and (max-width: 855px){
    .rec{
        width: 75.27%;
    }

    .image{
        margin-top: 7%;
    }
    .sidebarShow {
        transform: translate(-100%);
        transition: 0.5s;
    }
    .sidebarHide {
        transform: translate(0);
        transition: 0.5s;
    }
    .top .top_item .name{
        font-size: 17px;
    }
    .top .top_item .collage{
        font-size: 14px;
    }
    .top .top_item div{
        height:22px;
    }
    /* .rec{
    transform: translate(-100%);
    } */
#maindiv{
    position: fixed;
    top:0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.div1{
    width: 100vw;
    height: 6%;
    left: 0px;
    top: 0;
    background: #405669;
    box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.25);
    align-items: center;
    display: flex;
}
.div1 .nav{
    width:26px;
    height:50%;
    display: flex;
    justify-content: center;;
    flex-wrap: wrap;
    margin-left: 4%;
}

.bar1 {
    width: 30px;
    height: 10%;
    background-color: white;
}
.close_button p{
    color:#fff;
    font-size: 40px;
    margin:0;
} 
.close_button button{
    background:none;
    position: absolute;
    /* top:7px; */
    right:10px;
    margin: 0px;
    border:none;
}
}





