/* body{
    background-color: #1C364D;
} */
.container{
    width:70%;
    margin-left:30%;
    background-color:#1c364d;
    overflow: auto;
}
.buttons .component{
    margin-top: 1.4%;
}
 .buttons .img_view{
    margin-top: 1.4%;
}
.img_share img{
    margin-top: 1px;
    height:16px;
}
/*post1....*/
.post1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #405669;
    height:44.54%;
    margin:4.47% 17.17% 0 17.17%;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
    border-radius:8px;
}
 .post1 .image img{
        width:100%;
        height:auto;
}
.post1 .para{
    margin: 0 10.46%;
    color:#fff;
    font-family: lato;
    font-size: 16px; 
}
.post1 .buttons{
    display: flex;
}
.post1 .buttons>div {
    flex:1;
    margin:0 10.46%;
    padding:2.72% 0;
}
.post1 .buttons button a{
        text-decoration:none;
        font-size:14px;
        color:#fff;
        padding-left:10px;
        font-weight:bold;
        font-style: normal;
}
.post1 .buttons button{
    display:flex;
    justify-content: center;
    width:72.42%;
    height:100%;
    color: #fff;
}

.post1 .buttons .view button{
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    background: #1C364D;
    border-radius: 4px;
}
.post1 .buttons .share button{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    float:right; 
} 


/*post2....*/
.post2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #405669;
    height:44.54%;
    margin:2.80% 17.17% 0 17.17%;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
    border-radius:8px;
}
 .post2 .image img{
        width:100%;
        height:247.08px;
}
.post2 .para{
    margin: 0 10.46%;
    color:#fff;
    font-family: lato;
    font-size: 16px; 
}
.post2 .buttons{
    display: flex;
    height:14.41%;
}
.post2 .buttons>div {
    flex:1;
    margin:0 10.46%;
    padding:2.72% 0;
}
.post2 .buttons button a{
        text-decoration:none;
        font-size:14px;
        color:#fff;
        padding-left:10px;
        font-weight:bold;
        font-style: normal;
}
.post2 .buttons button{
    display:flex;
    justify-content: center;
    width:72.42%;
    height:100%;
    color: #fff;
}
.post2 .buttons .view button{
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    background: #1C364D;
    border-radius: 4px;
}
.post2 .buttons .share button{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    float:right; 
}

/*media query....*/

@media only screen and (max-width:420px){
    .container{
        width: 100vw;
        background: #1C364D;
        margin-left:0;
        margin-top:10.5%;
    }
    /*post1...*/
    .post1{
        width:100%;
        height:45.15%;
        margin-left:0;
    }
    .post1 .para{
        font-size: 10px;
        margin:0 5.56%; 
    }
    .post1 .buttons button a{
        font-size: 10px;
    }
    .post1 .buttons>div {
        margin:0 5.56%;
    }
    .post1 .buttons button{
        width:93.33%;
        height:98%;
    }
    /*post2....*/
    .post2{
        width:200%;
        height:45.15%;
        margin-left:0;
    }
    .post2 .para{
        font-size: 10px;
        margin:0 5.56%; 
    }
    .post2 .buttons button a{
        font-size: 10px;
    }
    .post2 .buttons>div {
        margin:0 5.56%;
    }
    .post2 .buttons button{
        width:93.33%;
        height:98%;
    }
}
