.Main{
    background: #1c364d;
    width:100%;
    min-height:100vh;
}
/* share ideas....  */
.text2{
    margin-left:33.47%;
    color:#fff;
    font-weight: bold;
    font-family: lato;
    font-size: 34px;
    line-height: 53px;
    padding-top:3.15%;
}
/* ul/... */
.unordered{
    margin-left: 33.47%;
    margin-bottom: 0;
    list-style: none;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top:1.37%;
    height: 143.18px;
    width:379px;
    background-color:#405669;
}
.unordered #body{
    font-size:14px;
    font-weight: normal;
}
.unordered .edit{
    display: flex;
    justify-content: space-between;
    width:89.25%;
}
.unordered .edit button{
    height:32px;
    width:112px;
    border:1px solid #fff;
    box-sizing:border-box;
    border-radius:4px;
    font-weight: bold;
    font-size:14px;
    text-transform: uppercase;
    background:#334a5f;
    color:#fff;
    outline: none;
}
.unordered .edit button:hover{
    cursor: pointer;
}
.unordered .edit #delete{
    background:#475c6f;
    font-size:16px;
    border-style:none;
}
.editing_true
{
    max-width: 89.25%;
    min-width:89.25%;
    min-height:34px;
    background: #1c364d;
    border-radius: 22px;
    max-height: 30px;
    box-shadow: inset 0px 2px 12px rgba(0,0,0,0.1);
    border-style: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    outline: none;
}

.editing_false
{
    border-style:none;
    background-color:#405669;
    outline:none;
    max-width:89.25%;
    max-height:34px;
    min-width:89.25%;
    min-height:34px;
    color:#fff;
    font-size:18px;
    font-weight: bold;
    
}

@media only screen and (max-width:420px){
    .text2{
        font-size:20px;
        width:88.88%;
        margin:0 5.56%;
        padding-top:18%;
    }
}
/* ideas form .... */
.idea_container{
    margin-left: 33.47%;
    box-shadow:0px 2px 20px rgba(0,0,0,0.5);
    background-color:#405669;
    width:410px;
    height:157.77px;
    border-radius:8px;
    margin-top:5.98%;
    padding-top: 2.37%;
    display: flex;
    flex-direction: column;
}
.idea_container>div input{
    width:89.25%;
    margin-left:5.37%;
    background: #1c364d;
    border-radius: 22px;
    height:34px;
    box-shadow: inset 0px 2px 12px rgba(0,0,0,0.1);
    border-style:none;
    color:#fff;
    font-size:18px;
    font-weight: bold;
    text-align: center;
    outline:none;
}
.idea_container .content input {
    font-size:14px;
    font-weight: normal;
}
.idea_container .submit{
    display: flex;
    justify-content: space-between;
    width:89.25%;
    margin-left:5.37%; 
}
.idea_container .submit button{
    height:32px;
    width:112px;
    border:1px solid #fff;
    box-sizing:border-box;
    border-radius:4px;
    font-weight: bold;
    font-size:14px;
    text-transform: uppercase;
    background:#334a5f;
    color:#fff;
    outline:none;
}
.idea_container .submit button:hover{
    cursor: pointer;
}
.your_ideas{
    width: 410px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 34%;
    margin-top: 3%;
}
.your_ideas p{
    font-size:18px;
    text-transform: capitalize;
    color:rgba(255,255,255,0.54);
    line-height:22px;
    font-family: lato;
    font-weight:300;
    font-style:normal;
}
.your_ideas hr{
    width:137px;
    height:0px;
    border:0.5px solid rgba(255,255,255,0.54);
    margin: 0 12px; 
}
@media only screen and (max-width:420px){
    .idea_container{
        margin:0  5.56%;
        margin-top:8%;
        padding-top: 5.37%;
        width:89.25%;
        height: 132px;
    }
    .idea_container>div input{
        height:24px;
        font-size:14px;
    } 
    .idea_container .submit button{
        font-size:12px;
        height:26px;
    }
    .your_ideas{
        width:89.25%;
        margin-left:5%;
        margin-top:10%;
    }
    .your_ideas p{
        font-size:14px;
        width:100px;
    }
    .your_ideas hr{
        width:112px;
        margin: 0 28px;
    }
}
@media only screen and (max-width:420px){
    .unordered{
        margin-left: 5.56%;
        margin-right:5.56%;
        margin-top:0;
        margin-bottom:3.5%;
        padding-top:2.37%;
        width: 79.50%;
        height: 125.18px;

    }
    .unordered .edit button{
        font-size: 12px;
        height:26px;
    }
    .unordered .edit #delete{
        font-size: 14px;
    }
    .unordered li{
        font-size:16px;
    }
    .unordered #body{
        font-size: 12px;
    }
}
