.container{
    width: 100%;
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.backgroundImage{
    background-image: url("../../common/img/Background.png");
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
}

.wraper{
    position: relative;
    margin-right: 7.5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.card{
    background: transparent;
    box-shadow: 0px 4px 16px rgba(0, 87, 218, 0.12);
    border-radius: 10px;
    width: 435px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.formCard{
    box-sizing: border-box;
    padding: 6%;
}

.header{
    display: flex;
    justify-content: center;
    text-decoration-line: underline;
    color: #4E1DE4;
 }

.header > label{
font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 22px;
/* identical to box height */
text-transform: uppercase;

color: #4E1DE4;

}
 
 .Form{
     display: flex;
     flex-direction: column;
     box-sizing: border-box;
     padding: 7.5%;
     padding-top: 10%;
     background: none;
 }
.Form input{
    display: flex;
    padding: 5px;   
    display: flex;
    padding: 5px;
    width: 100%;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    margin-bottom: 15%;
}

.heading{
font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 17.5px;
line-height: 17px;
/* identical to box height */
margin: 0;
text-transform: uppercase;

color: rgba(0,0,0,.4);

}

.submit{
    display: flex;
    justify-content: center;
    
}
.login_button {
    width: 50%;
    font-family: Lato;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    background: #0057DA;
    border-radius: 10px;
    color: #FFFFFF;
    border: none;
    color: #FFFFFF;
    padding: 10px;
    outline: 0 none;

 }
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    
}

.resend{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    color:#fff;
}

.forgotPass{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    
}

.link{
    text-decoration: none;
    font-size: 18px;
    color: blue;
}

@media screen and (max-width:768px)
{
     .container{

        display: flex;
        justify-content: center;
        flex-direction: column;
        background: linear-gradient(93.64deg, #00B9E1 0%, #5B05E8 101.18%);
     }

    .backgroundImage{
        display: none;
    }

    .wraper{
        display: flex;
        justify-content: center;
        /* flex-direction: column; */
        /* width: auto; */   
        padding:0;
        margin-right: 0;
    }

    .card{
        width: 300px;
        height: 350px;
    }

      .header > label{
          font-size: 20px;
          line-height: 20px;
      }
      .Form{
          padding-top: 17.5%;
      }

    .link{
        font-size: 14px;
    }
    
    .submit{
        padding-top: 10px;
    }
    button{
        font-size: 18px;
        line-height: 18px;
    }
    .heading{
        font-size: 15.5px;
        line-height: 0;
    }
   .footer{
       padding-top: 5%;

   }

}