.container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 300px;
    background: #FFFFFF;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    margin: 10px;
}
.container .title{
    font-size: 20px;
    font-family: Lato;
    font-style: normal;
    margin-bottom: 4vh;
    font-weight: bold;
    margin-top: 3vh;
}
.container .content{
    font-family: Montserrat;
    font-style: normal;
    font-size: 16px; 
    width: 85%;
    cursor: pointer;
    /* white-space: nowrap; */
    /* height: 4vh; */
    overflow: hidden;
    display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
     overflow: hidden;
    text-overflow: ellipsis;

}
.registerButton
     {   
    background: #272A5E;
    border: 1.5px solid #272A5E;
    box-sizing: border-box;
    border-radius: 4px;
    width: 135px;
    height: 35px;
    color: white;
    margin-bottom: 2vh;
    margin-top: 21px;
    outline: 0 ;
    /* border: 1px solid rgba(22, 76, 167, 0.6); */
    opacity: 1;
    cursor: pointer;
    
}

 .registerButton:hover
 { 
    background-color:rgb(255, 255, 255);
    color:black;
    transition: .4s;
    
}


.rulebookButton
{
    border: 1.5px solid #272A5E;
    box-sizing: border-box;
    border-radius: 4px;
    width: 135px;
    height: 35px;
    transition: all 0.5s;
    cursor: pointer;
    transition: letter-spacing 1s ease-in-out;
    margin-bottom: 3vh;
    outline: 0 none;
    /*animation: storm .7s ease-in-out;*/

}
.rulebookButton:hover{
    background-color: #272A5E;
    color: white;
    transition: .4s;
}
