@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Chilanka|Open+Sans&display=swap');

body{
    scroll-behavior: smooth;
}

@keyframes imageSlide{
    from{
        opacity: 0.6;

     
    }
    to {
        opacity: 1;
     
    }
   
}
@keyframes textSlide{
    from{
     opacity: 0.6;  
    
    }
    to {
         opacity: 1; 
     
    }
   
}
@keyframes textSlide2{
    from{
      opacity: 0.6;  
      transform:  scale(.3); 
    
    }
    to {
         opacity: 1; 
         transform:  scale(1); 
         color:red
     
    }
   
}
.flex{
    display: flex;
}
.eventContent_wrapper{
    width: 100vw;
    min-height:100vh;
    position: relative;
    background: #1C364D;
}
.left_div_wrapper{
 flex-basis:40%;

}
#rule_book{
    text-decoration: none;
    /* color:black; */
}
.left_div_wrapper>img{
    height:100vh;
    width:100%;
    animation-name: imageSlide;
    animation-duration: 2s;
    animation-timing-function:ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.right_div_wrapper{
    flex-basis:50%; 
    flex-direction: column;    
}
.event_discription1{
    flex-basis:80%;
    flex-direction: column;
    justify-content:space-around;
    color:#fff;
    margin-top:0;
    animation-name: textSlide;
    animation-duration:2s;
    /* animation-delay: .1s; */
    animation-timing-function:ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.event_discription_text{
    margin-left:60px;
    line-height: 22px;
    /* margin-right: 20px; */
    flex-basis:40%;
    flex-direction: column;
    /* flex-direction: column-reverse;
    justify-content: end;
    text-align: left; */
    /* align-items: center; */
    justify-content: center;
    padding-top:30%;
    text-align:justify;
    font-family: lato;
    font-weight: normal;
    font-style: normal;
    /* font-weight: 300; */
    font-size: 18px;
    /* line-height: 100%; */
    animation-name: textSlide;
    animation-duration:2s;
    /* animation-delay: .4s; */
    animation-timing-function:ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}
.link{
    text-decoration: none;
    color: cadetblue;
}
.event_discription_prize{
    flex-basis:30%;
    flex-direction: column;
    align-items:stretch;
    padding-top: 10px;
    padding-left: 60px;
    color:#fff;
    animation-name: textSlide;
    animation-duration:2.5s;
    /* animation-delay: .2s; */
    animation-timing-function:ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}
.event_discription_prize_worth{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    animation-name: textSlide;
    animation-duration:2.5s;
    /* animation-delay: .1s; */
    animation-timing-function:ease-in-out;
    animation-iteration-count: 1;
    /* animation-fill-mode: forwards; */
   

}
.event_discription_prize_money_value{
    width:fit-content;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 55px;
    animation-name: textSlide2;
    animation-duration:2s;
    animation-timing-function:ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


.navigation_buttons{
    justify-content: space-evenly;
    position: relative;
    margin-top: 15px;
    width:94%;
}
.button1{
    /* font-weight: bolder; */

    justify-content: center;
    align-items: center;
    width: 210px; 
    height: 50px;
    color:#1C364D;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.87);
    border-radius: 2px;
    cursor: pointer;
    font-family: lato;
    font-weight: bolder;
    animation-name: textSlide;
    animation-duration:3s;
    /* animation-delay: .1s; */
    animation-timing-function:ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transition: all ease-in-out .4s;
    

}
.button1:hover .add_event{
    color: rgba(255, 255, 255, 0.87);
    transition: all .3s ease-in-out;
}
.login_add_event{
    text-decoration:none;
    color:#1C364D;
    transition: all ease-in-out .4s;
}
.button1:hover{
    background-color: #1c364d;
    /* color: rgba(255, 255, 255, 0.87) !important; */
    transition: all ease-in-out .3s;
    border: 1px solid  rgba(255, 255, 255, 0.87);
    transform: scale(.9,.9);
}
.button1:hover .login_add_event{
    color: rgba(255, 255, 255, 0.87);
    transition: all .3s ease-in-out;
}

.button2:hover{
    background-color: #1c364d;
    /* color: rgba(255, 255, 255, 0.87) !important; */
    transition: all ease-in-out .3s;
    border: 1px solid  rgba(255, 255, 255, 0.87);
    transform: scale(.9,.9);
    color: rgba(255, 255, 255, 0.87);
}
.button2{
    transition: all ease-in-out .4s;
    font-weight: bolder;

    color:#1C364D;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    width: 210px; 
    height: 50px;
    font-family: lato;
    /* font-weight: bold; */
    background: rgba(255, 255, 255, 0.87);
    border-radius: 2px;
    cursor: pointer;
    animation-name: textSlide;
    animation-duration:2s;
    /* animation-delay: .1s; */
    animation-timing-function:ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}
.event_title{
    z-index: 0;
    position: absolute;
    /* width: 564px; */
    height: 106px;
    left:  417.05px;
    top: 62.15px;
    text-transform: uppercase;
    font-family:'playfire display';
    font-weight: bolder;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    font-size: 60px;
    line-height: 70px;
    /* letter-spacing: 0.05em; */
    color: #FFFFFF;
    animation-name: textSlide;
    animation-duration:3s;
    /* animation-delay: .1s; */
    animation-timing-function:ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    }
.cultural{
    z-index: 0;
    position: absolute;
    /* width: 564px; */
    height: 106px;
    left:  417.05px;
    top: 62.15px;
    font-family:'playfire display';
    font-weight: bolder;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    font-size: 67px;
    line-height: 70px;
    /* letter-spacing: 0.05em; */
    color: #FFFFFF;
    animation-name: textSlide;
    animation-duration:3s;
    /* animation-delay: .1s; */
    animation-timing-function:ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.sub{
    text-transform: none !important;
    font-size:30px !important;
}

 /* .event_title_description{
    z-index: 0;
    position: absolute;
    width: 416px;
    height: 36px;
    left: 33%;
    top: 153px;
    left:  417.05px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    animation-name: textSlide;
    animation-duration:3s;
    animation-delay: .1s;
    animation-timing-function:ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
} */


/* corousel */
.corousel{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 8px;
    height:100vh;
    position:fixed;
    right:4%;
    top:0;
    z-index:10;
}
.corousel .bar2{
     flex:1.5;
     background-color:#fff;
     width:1px;
     margin:0;
}
.corousel .bar1{
     flex:1.5;
     background-color:#fff;
     width:1px;
     margin:0;
}
.circle_container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 8px;
    flex: 2;
}
.circle .circle_child{
    opacity:0;
    transition: opacity ease-in .3s;
}
.circle:hover .circle_child{
        opacity:1;
}

 .circle{
        cursor:pointer;
        background-color: #fff;
        height:16px;
        width:16px;
        border-radius:50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight:bold;
        transition:all ease-in 0.3s; 
}

.corousel .circle:hover{
    height:40px;
    width:40px;
    transition:all ease-in 0.3s;    
}
.button4{
    background: #1C364D;
    z-index: 10;
    color:red;
    position:fixed;
    left:12px;
    top:11px;
    justify-content: center;
    align-items: center;
    width: 30px; 
    height: 30px;
    font-size:25px;
    border-radius: 100%;
    box-shadow: 0px 0px 0px 7px rgba(255, 255, 255, 0.3);
    cursor: pointer;

}


.team_dance_event_wrapper1{
    z-index: 200;
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    justify-content:center;
        align-items:center;
        animation-name: imageSlide;
    animation-duration: 1s;
    animation-timing-function:ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    

}
.team_dance_event_wrapper2{
    flex-direction: column;
    justify-content: center;
    width:60vw;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    height: 76vh;
    background: #1C364D;
    border-radius:20px;
    position:relative;
    animation-name: imageSlide;
    animation-duration: 1.5s;
    animation-timing-function:ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.button5{
    position: absolute;
    background: #1C364D;
    color:red;
    top:-11px;
    right:-11px;
    justify-content: center;
    align-items: center;
    width: 51px; 
    height: 50px;
    font-size:25px;
    border-radius: 110%;
    box-shadow: 0px 0px 0px 7px rgba(255, 255, 255, 0.3);
    cursor: pointer;

}
.team_dance_event_button1{
    overflow: auto
}
.team_dance_event_button1>ul{
    padding: 0px;
    font-family: 'Lato'
}

.team_dance_event_button1>ul>li{
    align-items: baseline;
    justify-content:flex-start;

    width:80%;
    padding:10px;
    border:1px dotted black;
    list-style: none;
    color:white;
    margin: 0 auto; 
    margin-bottom:20px;
}
.team_dance_event_button1>ul>li div{
    font-family: 'lato';    
    font-size:20px;
    height: 20px;
    margin-left:14px;
    line-height: 20px;
}

/* .team_dance_event_button1 input[type="radio"]{
    height: 100%;
    line-height: 100px;
    width:100%;
    
} */
.button3{
    justify-content: center;
    align-items: center;
    height: 50px;
    width:83%;
    margin:0 auto;
    margin-top:10px;
    background: rgba(255, 255, 255, 0.87);
    border-radius: 2px;
    cursor: pointer;
    color: #1C364D;
    font-weight: bolder;

    font-size: 16px;
}
.active_circle_child{
    height:40px;
    width:40px;
    cursor:pointer;
    background-color: #fff;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:bold;
    transition:all ease-in 0.3s; 
}



@media (max-width:600px){
   
    .eventContent_wrapper{
        flex-direction: column;
        height: 100vh;
        padding-top: 55px;
        
        
    }
    .left_div_wrapper{
        height: 40vh;
    }
    .left_div_wrapper>img{
        height:100%;

        max-width:100%;
    }
    .right_div_wrapper{
        position: relative;

        flex-basis:60%;
    }
    .event_discription1{
        flex-basis:60%;
        flex-direction: column;
        justify-content:flex-start;
        color:#fff; 
        margin-top:50px; 
    }
    .event_discription_text{
        display: block;
        text-align: left;
        width:95%;
        margin:0 auto;
        padding-top:0;
        /* padding-top:50px; */
        text-align:justify;
        font-family: 'Lato';
        font-style: normal;
        /* font-weight: 300; */
        font-size: 10px;
        line-height: 14px;

    }
    .event_discription_prize{
        flex-basis:30%;
        flex-direction: column;
        align-items: center;
        padding-top: 25px;
        padding-left:0px;
        color:#fff;
        margin-left:6px;

    }
    .event_discription_prize_worth{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
       
    
    }
    .event_discription_prize_money_value{
        font-family: 'Poppins';
        font-style: normal;
        font-weight:bold;
        font-size: 43px;
        color:#fff;
        line-height: 48px;
    }
    .navigation_buttons{
        width:100%;
        margin-top:20px;
        justify-content: space-evenly;
        
    }
    .button1{
        font-weight: bolder;

    color:#1C364D;
    font-size: 12px;
        justify-content: center;
        align-items: center;
        width: 150px; 
        height: 50px;
        background: rgba(255, 255, 255, 0.87);
        border-radius: 2px;
        text-align: center;
        cursor: pointer;
    
    }
    .button2{
        font-weight: bolder;

    color:#1C364D;
    font-size: 12px;
        justify-content: center;
        align-items: center;
        width: 150px; 
        height: 50px;
        background: rgba(255, 255, 255, 0.87);
        border-radius: 2px;
        cursor: pointer;
    
    }

    

    .event_title{
        z-index: 0;
        position: absolute;
        width: 95%;
        height: 106px;
        left:  5px;
        top: 41vh;   
        bottom:10px;
        text-shadow: 0px 0px 20px rgba(0,0,0,0.5);
        font-weight:bolder;
        font-family:'Lato';
        /* font-size: 40px;
        line-height: 66px; */
        /* letter-spacing: 0.05em; */
        color: #FFFFFF;
        font-size: 31px;
        line-height: 40px;
        }
        .sub{
            font-size:20px!important;
        }

/* 
 .event_title_description{
    z-index: 0;
    position: absolute;
    width: 95%;
    height: 36px;
    top: 38vh;
    left: 5px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 151px;
    color: #FFFFFF;
} */


.button5{
    position: absolute;
    right:-3%;
    top:-3%;
    background: #1C364D;
    z-index: 10;
    color:red;
   
    justify-content: center;
    align-items: center;
    width:40px; 
    height: 40px;
    font-size:25px;
    border-radius: 110%;
    box-shadow: 0px 0px 0px 7px rgba(255, 255, 255, 0.3);
    cursor: pointer;

}
.corousel{
    position:fixed;
    left:60px;
    top:33px;
    transform: rotate(270deg); 
    transform-origin: 0% 0%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 8px;
    height:100vw;
    
    z-index:10;
}
.corousel .bar2{
     flex:1.5;
     background-color:#fff;
     width:1px;
     margin:0;
}
.corousel .bar1{
     flex:1;
     background-color:#fff;
     width:1px;
     margin:0;
}
.circle_container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 8px;
    flex: 2;
}
.circle_child{
  transform:rotate(90deg);   
    
}
.circle:hover .circle_child{
        opacity:1;
        
}

 .circle{
        cursor:pointer;
        background-color: #fff;
        height:16px;
        width:16px;
        border-radius:50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight:bold;   
        transition:all ease-in 0.3s; 
}


.corousel .circle:hover{
    height:40px;
    width:40px;
    transition:all ease-in 0.3s;    
}

.team_dance_event_wrapper2{
    z-index: 20;
    flex-direction: column;
    justify-content: center;
    width:90vw;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
    height: 70vh;
    background: #1C364D;
    border-radius:20px;
    display: flex;
    
}
.team_dance_event_button1{
    overflow: auto;
    padding-top:15%;
}
.team_dance_event_button1>ul{
    padding: 0px;
    font-family: 'Lato'
}
.team_dance_event_button1>ul>li{
    align-items: baseline;
    justify-content:flex-start;

    width:80%;
    /* padding:10px; */
    border:1px dotted black;
    list-style: none;
    color:white;
    margin: 0 auto; 
    margin-bottom:4px;
}
.team_dance_event_button1>ul>li div{
    font-family: 'lato';    
    font-size:14px;
    height: 20px;
    margin-left:14px;
    line-height: 20px;
}

/* .team_dance_event_button1 input[type="radio"]{
    height: 10px;
    line-height: 100px;
    width:20px;
    
} */
.button3{
    justify-content: center;
    align-items: center;
    height: 50px;
    width:83%;
    margin:0 auto;
    /* margin-top:10px; */
    background: rgba(255, 255, 255, 0.87);
    border-radius: 2px;
    cursor: pointer;
    color: #1C364D;
    font-weight: bolder;

    font-size: 16px;
}
.left_div_wrapper{
    object-fit: fill;
}
  
}


