@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
:root{
    --offsetY:10px;

}
.navbar{
    background-color:#0F1B35;
}
.eventCard_Container{
    align-items: center;
    display: flex;
    width:100%;
    margin:0 auto;
    justify-content:center;
    flex-wrap:wrap;
    min-height: 83vh;
    padding-top:99px;
    background-color:#0F1B35;
    /* padding-bottom: 20px; */
}

.event_Card_main{
    width:auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left:0
}

.eventCardOpening_container{
    display: none;
}
.wrapper_eventcontent{
    position: relative;
    height: 100vh;
    width:100vw;
}
.wrapper{

    position: relative;
}



@media (max-width:600px){


    .eventCard_Container{
        display: flex;
        width:100%;
        margin:0 auto;
        justify-content:space-evenly;
        flex-wrap:wrap;
        background-color:#0F1B35;
    }
    .event_Card_main{
        width:auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-top: 60px;
        padding-left:0
    }
    .img_left{
        /* michael-afonso-z8Tul255kGg-unsplash */
        position: absolute;
        width:100vw; 
        height: 80vh;
        left: 0px;
        top: calc(var(--offsetY)/3);


    }
    .img_left>img{
        width:100vw;
        height: 434px;
    }
    .event_title{
        /* FOOTLOOSE */

    position: absolute;
    width: 285px;
    height: 53px;
    left: 26.81px;
    top: calc(285px + var(--offsetY));

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 47px;
    line-height: 49px;

    /* identical to box height */
    
    letter-spacing: 0.06em;

    color: #FFFFFF;

    text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);

    }

    .event_title_description {
        /* STAGE DANCE COMPETITION */

    position: absolute;
    width: 195px;
    height: 17px;
    left: 26.81px;
    top: calc(329px + var(--offsetY));


    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height */

    color: #FFFFFF;
    }



    .event_discription{

    position: absolute;
    width: 315px;
    height: 60px;
    left: 23px;
    top: calc(370px + var(--offsetY));

    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 124%;
    
    color: #FFFFFF;
    }

    .event_prize_worth{
        /* prizes worth */

    position: absolute;
    width: 86px;
    height: 18px;
    left: 137px;
    top: calc(506px + var(--offsetY)/1.3);

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height */


    color: #E40F1B;

    }
    .event_prize_money_value{
        /* 150K */

    position: absolute;
    width: 91px;
    height: 60px;
    left: 137px;
    top: calc(519px + var(--offsetY)/1.3);

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    /* identical to box height */


    color: #E40F1B;


    }

    .event_rectangle1{
        /* Rectangle */

    position: absolute;
    width: 145px;
    height: 35px;
    left: 23px;
    top: calc(599px + var(--offsetY)/1.2);

    background: rgba(255, 255, 255, 0.87);
    border-radius: 2px;

    }
    .event_rectangle2{
        /* Rectangle */

    position: absolute;
    width: 145px;
    height: 35px;
    left: 193px;
    top: calc(599px + var(--offsetY)/1.2);;

    background: rgba(255, 255, 255, 0.87);
    border-radius: 2px;

    }
    .event_addevent_button{
        /* Add event */

    position: absolute;
    width: 73px;
    height: 21px;
    left: 59px;
    top: calc(606px + var(--offsetY)/1.2);

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
   

    color: #0F1B35;



    }
    .event_rulebook_button{
        /* Rulebook */

    position: absolute;
    width: 67px;
    height: 21px;
    left: 232px;
    top: calc(606px + var(--offsetY)/1.2);

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;

    color: #0F1B35;



    }




    
}
