.flex{
    display: flex;
  }
  body{
    overflow-x: hidden;
  }

  .event_item{
    /* margin-top:40px; */
    /* width:10rem;
    height:20rem; */
    min-width: 10vw;
    width:auto;
    height: 20rem;
    padding:20px 5px 25px 15px;
    background-color:rgba(255,255,255,0.1);
    position: relative;
    border:0px ;
    margin-bottom: 5vh;  
  }
  .event_item1{
    width:100%;
    height:100%;


  }
  .event_item1 img{
    height:303px; 
    width:auto;
    margin-right:17px; 
    transform: rotate(-3deg);  

  }
  .event_item_title{
    position:absolute;
    color:white;
    top:40px;
    left:-80px;
    padding:0px;
    transform: rotate(270deg);
    
  }
  .event_item_number{
    font-family: playfire display;
    position:absolute;
    bottom:-15px;
    right:10px;
    letter-spacing: 1px;
    font-size:27px;
    /* color:#1c364d; */
    color:white;
  }
  
  
  @media (max-width:600px){
  .event_card_row{
   margin-bottom: 0px!important;
  }
  .event_item1{
    width:100%;
    height:fit-content;


  }
  .event_item{
    margin-top:40px;
    width:15rem;
    height:fit-content; 
    padding:20px 5px 25px 15px;
    background-color:rgba(255,255,255,0.1);
    position: relative;
    border:0px ;
    margin-bottom: 5vh;  
  }
  .event_item1 img{
    height:auto; 
    width: 100%;
    transform: rotate(-3px);  

  }

  }
  
  