.flex{
    /* display: flex; */
  }
  body{
    background-color: pink;
    overflow-x: hidden;
  }
 
  .event_item{
    width:13rem;
    height:fit-content;
    padding:20px 5px 25px 15px;
    background-color:azure;
    position: relative;
    border:0px ;
    margin-bottom: 5vh; 
  }
  .event_item1>img{
    height:500px;
    width:86%;
    transform:rotate(-8deg);
  }
  .event_item_title{
    position:absolute;
    color:white;
    top:40px;
    left:-80px;
    padding:0px;
    transform: rotate(270deg);
    
  }
  .event_item_number{
    position:absolute;
    bottom:-23px;
    right:0px;
    color:pink;
  }
  
  
  @media (max-width:600px){
  .event_card_row{
   margin-bottom: 0px!important ;
  }

  
  }
  
  