.container{
flex-wrap: wrap;
display: flex;
justify-content: space-around;
align-content: space-around;

position: absolute;
width: 1440px;
height: 878px;
left: 0px;
top: 879px;

background: linear-gradient(103.31deg, #00B9E1 0%, #5B05E8 101.18%);

}

.container > div{
top: 1067px;
width: 380px;
height: 380px;
left: 400px;
line-height: 75px;
background: rgba(255, 255, 255, 0.7);
box-shadow: 4px 8px 24px rgba(0, 0, 0, 0.15);
border-radius: 10px;
  
}

.container > div h2{
position: absolute;
top: 979px;
}
.container > div h3{
    font-family: roboto;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    color: #000000;
}

.container > div p{
    text-align: center;
    font-family: roboto;
    font-size: 18px;
    line-height: 19px;
    font-style: normal;
}


                        
                