.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    background:#252122;
    margin-top: -1px;

}
.containerDisplay{
    background: linear-gradient(103.31deg, #00B9E1 0%, #5B05E8 62.18%);
}

.header{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
   /* margin-top: 30px;*/
    margin:22.5px auto;
}

.heading{
font-family: Pacifico;
font-style: normal;
font-weight: normal;
font-size: 40px;
/*line-height: 70px;*/
color: #FFFFFF;
}

.cards{
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding-bottom: 45px;
   
}

.card1  {
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-sizing: border-box;
    padding: 2.5% 3.5% 2.5% 3.5%;
}
.Content1{
    display: flex;
}

.card1ContentHeader{
   font-family: Roboto;
   font-style: normal;
   font-weight: 500;
   font-size: 28px;
   /* line-height: 33px; */
   color: #000000;
}
.iconImage1 {
   height: 20px;
   margin-top: 18px;
   width: fit-content;
   /*align: middle;*/
}
.card1PhDetails
{
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 22px;
   /* line-height: 23px; */
   color: rgba(0, 0, 0, 0.7);
   margin-top: 10px;
}
.card1MailDetails
{
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 22px;
   /* line-height: 23px; */
   color: rgba(0, 0, 0, 0.7);
   margin-top: 10px;
}

.card1Img{
   display: flex;
   justify-content: flex-end;
   flex-direction: column;
}

.card1Content{
   margin-left: 30px;
   display: flex;
   flex-direction: column;
}

.card2{
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-sizing: border-box;
    padding: 2.5% 3.5% 2.5% 3.5%;
 }
 .Content2{
    display: flex;
}

.card2ContentHeader{
   font-family: Roboto;
   font-style: normal;
   font-weight: 500;
   font-size: 28px;
   /* line-height: 33px; */
   color: #000000;
}
.iconImage2 {
   height: 20px;
   margin-top: 18px;
   width: fit-content;
   /*align: middle;*/
}
.card2PhDetails
{
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 22px;
   /* line-height: 23px; */
   color: rgba(0, 0, 0, 0.7);
   margin-top: 10px;
}
.card2MailDetails
{
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 22px;
   /* line-height: 23px; */
   color: rgba(0, 0, 0, 0.7);
   margin-top: 10px;
}

.card2Img{
   display: flex;
   justify-content: flex-end;
   flex-direction: column;
}

.card2Content{
   margin-left: 30px;
   display: flex;
   flex-direction: column;
}
 
@media screen and (max-width:945px){

    .header{
        margin: 10px auto;
    }
    .header > label{
        display: none;
    }
    .cards{
        flex-wrap: wrap;
        box-sizing: border-box;
        padding-bottom: 0;
    }

    .card1 ,.card2{
        width: 85%;
        margin: 20px 20px;
    }
 /*   for card 1*/
 .card1Img{
     margin-top: 14px;
 }
  .card1Content{
      margin-left: 15px;
  }

  .card1ContentHeader{
      font-size: 20px;
  }
  .card1PhDetails{
      font-size: 16px;
  }
  .card1MailDetails{
      font-size: 16px;
      margin-top: 16px;
  }
/* for card 2*/
  .card2Img{
    margin-top: 14px;
}
 .card2Content{
     margin-left: 15px;
 }

 .card2ContentHeader{
     font-size: 20px;
 }
 .card2PhDetails{
     font-size: 15px;
 }
 .card2MailDetails{
     font-size: 15px;
     margin-top: 16px;
 }
 .munCards{
    width:390px;
    /* min-height:500px; */
    margin-left:0;
} 
}

@media screen and (max-width:320px){
 .card1,.card2{
     width: 92%;
 }
 .munCards{
    width:322px;
    min-height:500px;
    margin-left: 0px;
} 
}