.outercontainer{
    background-color:transparent;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.outerbox{
    display: flex;
    width: 80vw;
    height: 48vh;
    align-items:flex-end;
    justify-content: flex-end;
}
.box{
    width: 50vw;
    height: 40vh;
    text-align: right;
}
.heyca{
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 52px;
    line-height: 62px;
    color: #000000;
    margin:0px;
}
.heyca1{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height */

    text-align: right;
    /* text-transform: uppercase; */

    color: #000000;
}
.loginbutton{
    width: 256px;
    height: 56px;
    background: #FFFFFF;
    border-radius: 4px;
    border: none;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #0057DA;
    /* margin-right: 10%; */
    cursor: pointer;
    outline: 0 none;
    box-shadow: 0px 2px 18px rgba(0, 87, 218, 0.12);

}
.registerbutton{
    width: 256px;
    height: 56px;
    background: #0057DA;
    border-radius: 2px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    outline: 0 none;
    box-shadow: 0px 4px 18px rgba(0, 87, 218, 0.12);
    border: none;

}
.buttons{
    position: relative;
    /* display: flex;
    justify-content: flex-end; */

}
a{
    text-decoration: none;

}
a:active, a:focus{
    outline:0;
    border: none;
    outline-style: none;
    -moz-outline-style:none;
    border-color: transparent;
}
.login{
    margin-right: 80px;
}
@media only screen and (max-width:768px){

    .login{
        margin-right: 0px;
    }
    .outerbox{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content:center; 
    }
    .heyca{
        font-size: 30px;
        line-height: 40px;
        text-align: center;
    }
    .heyca1{
        font-size: 16px;
        line-height: 19px;
        text-align:center;
    }
    .box{
        text-align: center;
        width: 100%;
    }
    .loginbutton{
        width: 241px;
        height: 40px;
        border: 1px solid #1062DC;
        box-sizing: border-box;
        border-radius: 2px;
        margin: 3%;
        margin-top:8%; 
    }
    .registerbutton{
        background: #0057DA;
        border-radius: 2px;
        width: 241px;
        height: 40px;
    }
    .buttons{
        display: unset;
        justify-content: center;
        align-items: center;
    }
}
