.Input{
    width:100%;
    padding:30px;
    box-sizing:border-box;
    display: flex;
    
    flex-direction: column;
    /* align-items: center;
    align-content: center; */
    justify-content: space-between;
    box-shadow:0 2px 3px rgb(128, 124, 124);;
}
.Label{
    text-align: left;
    margin-bottom: 8px;
    font-weight: 500;
    /* color: #999999; */
}

.InputElement{
    outline:none;
    border:none;
    /* border:1px solid #ccc; */
    background-color: white;
    font: inherit;
    appearance: none;
    /* padding:6px 10px; */
    box-sizing: border-box;
    /* width:200px; */
    /* color: #555555; */
    /* color:rgba(41, 128, 185,0.4);  */
    /* box-shadow: 0 8px 6px -6px rgba(0,0,0,.5); */
    /* border-bottom: 2px solid #dbdbdb; */
    border-bottom: 2px solid rgba(41, 128, 185,0.4);
}
.DisabledText{
    color:rgba(41, 128, 185,0.4); 
}
.EnabledText{
    color:red;
}
.Invalid{
    border:1px solid red;
    background-color: #FDA49A
}
.InputElement:focus{
    outline:none;
    background-color: #ccc;
}
@media (min-width:600px){
    .Input{
        flex-direction: column;
        padding:10px; 
        box-shadow: none;
    }
}
.RadioWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    padding-right:20px;
}
.RadioWrapper>input{
    margin-right:10px 
}