.registerOuterContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: red;
}

.customForm{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}