.rolesOuterContainer{
    width: 100%;
    min-height: 100vh;
    /*height: 135vh;*/
    display: flex;
    flex-flow: column;
}
.headingContainer{
    width:100%;
    height: 18vh;
    box-sizing: border-box;
    padding:40px;
    display: flex;
}
.headingContainer>p{
    font-family: Pacifico;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 70px;
    color: #000000;    
    margin:0 auto;
}
.rolesMainContainer{
    flex:1;
    width: 85%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;

}
.imgTextContainer{
    display: flex;
    width:30%;
    box-sizing: border-box;
    padding:1% 4%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.rolesHeading{
    font-family: Lato !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 20px !important;
    line-height: 24px !important;
    /* identical to box height */
    color: #000000 !important;
}
.imgTextContainer>p{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 124.19%;
    /* or 20px */
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
}
@media screen and (max-width:768px){
    .rolesOuterContainer{
        height: fit-content;
        min-height: 100vh;
    }
    .rolesMainContainer{
        display: flex;
        flex-direction: column;
    }
    .content{
        display: none;
    }  
}