.main{
    background-color: #0f1b35;
    padding-top:7%;
    /* min-height:100vh */
}
.container{
    /* background-color:#0f1b35; */
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: auto;
}
@font-face{
    font-family: GOOD BRUSH;
    src: url(../img/GoodBrush.woff);
}
.left, .right{
    display:flex;
    justify-content: center;
    padding:22px 0;
}
.left .image{
    /* padding-left:6%; */
    cursor: pointer;
}
.left .name{
    right: 150px;
}
.name{
    height:fit-content;
    text-decoration: none;
    color:#fff;
    font-family:GOOD BRUSH;
    font-style:normal;
    text-transform: uppercase;
    font-size: 60px;
    position: relative;
    top:160px;
    cursor: pointer;
    text-shadow: 0px 4px 8px rgba(0,0,0); 
    /* line-height:52px; */
}
/* .right{
    display:flex;
    justify-content: flex-end;
    padding:22px 0;
} */
.right .image img,.left .image img{
    width:500px;
    height:250px;
}
.right .image{
    cursor: pointer;
    /* padding-right:6%; */
}
.right .name{
    cursor: pointer;
    left:150px;
}


@media only screen and (max-width :768px){
    .main{
        padding-top:10vh;
        min-height:90vh;
    }
    .container{
        justify-content:center;
    }
    .left{
        padding-left:10%;
    }
    .right{
        padding-right:6%;
    }
   .left .image img,  .right .image img{
    width: 217px;
    height: 125px;
    }
    .left .name{
        font-size:28px;
        
        right:131px;
        top: 84px;
    }
    /* .left .image{
        padding-left:10%;
    }
    .right .image{
        padding-right:10%;
    } */
    .right .name{
        
        font-size:28px;
        left:131px;
        top: 84px;
    }

}
@media only screen and (max-width:400px){
    .right .name{
        left:76px;font-size:18px;
        top: 60px;
    }
    .left .name{
        right:76px;font-size:18px;
        top: 60px;
    }
    .left .image img,  .right .image img{
        width: 162px;
        height: 87px;
        }
       .left, .right{
            display: flex;
            justify-content: center;
            padding: 12px 0;
       }
       /* .main{
           padding-top:14vh;
       } */
    
}
@media only screen and (min-width:1300px)
{
    .left, .right{
        display: flex;
        justify-content: center;
        padding: 44px 0;
    }
    .right .image img,.left .image img{
        width:600px;
        height:300px;
    }
}