.container{
    position: fixed;
    width:30%;
    background-color:#252525;
    background-size:cover;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
}
.errorMessage
{
    color: red;
    position: absolute;
    z-index: 2;
    text-align: center;
    width: 30%;
    padding: 2px;
}
.thomso_id{
    margin:0;
}
.active{
   background-color: #121212;
} 
.top{
    flex:10;
    display:flex;
    align-items: center;
    /* justify-content: space-between; */
    padding-left:6%;
}
.top .user_image{
    flex:1;
}
.top .user_image img{
    height:85px;
    width:85px;
    border-radius: 50%;
}
.top .user_details{
    flex:2.5;
    color:#fff;
    text-transform: capitalize;
}
.top .user_details .name{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
}
.top .user_details #user_name{
  margin: 0;
}
.thomso_id{
    margin:0;
    margin-bottom:10px;
}
.hamburger{
    display:none;
}
.mid{
    flex:3;
    
}
.mid_main{
    display:flex;
    line-height:50px;
    text-decoration: none;
}
.mid_main .images{
   flex:1;
   padding-left:15%;
}
.mid_main .images img{
    height:20px;
}
.mid_main .list_name{
    flex: 4;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color:#fff;
    text-transform: uppercase;
} 
.mid_main:hover{
    background: #121212;
    cursor: pointer;
} 
.active{
    background:#121212;
}
.upload{
    padding: 8px;
    background: #fff; 
    /* display: table; */
    color:#000 ;
    font-size:12px;
    border-radius:2px;
    /* height:12px; */
    cursor: pointer;
 }
input[type="file"] {
    display: none;
}
.home_button{
    display: flex;
    flex: 1.5;
    justify-content: center;
}
.home_button button{
    height: 37px;
    width: 145px;
    background: #252525;
    color: #fff;
    border-radius: 4px;
    border-style: none;
    border: 1px solid white;
    transition: all .3s ;
    cursor: pointer;
}
.home_button button:hover{
    background: #fff;
    color: #252525;
    transition: all .4s ;
}
@media only screen and (max-width:768px){
    .errorMessage{
        /* text-align: center */
            /* right: 0px; */
    left: 34%;
    top: 5px;
    }
    .container{
        width:100%;
    }
    .sidebarshow{
        transform: translate(-100%);
        transition: 0.5s;
    }
    .sidebarhide{
        transform: translate(0);
        transition: 0.5s;
        z-index:10;
    }
    .close:before {
        transform: rotate(45deg);
      }
      .close:after {
        transform: rotate(-45deg);
      }
      .close {
        position: absolute;
        right: 17px;
        top: 10px;
        width: 32px;
        height: 32px;
      }
      .close:before, .close:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color:#fff;
      }
      .hamburger{
          position:fixed;
          width:100%;
          background: #252525;
          display: flex;
          height:50px;
          z-index:1;
      }
      .hamburger_elements{
                width:34px;
                height:38.5px;;
                margin-left:8px;
                margin-top:5px;
                display:flex;
                flex-direction: column;
                justify-content: space-evenly; 
                /* align-items: center; */
      }
      .hamburger .hamburger_elements .bar{
          background-color: #fff;
          width:34px;
          height:4px;
          border-radius: 4px;
       
      }
}
