.Main {
    background-image: url(../img/backgroundimg.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    margin:  auto;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top:120px;
    z-index:20000;
  }
  .canvas{
    position: absolute;
    top:0px;
    left:0px;
    /* width:90vw; */
    /* border: 2px solid blue; */
    
  }
  #header{
    color:white;
    font-size: 53px;
    font-weight:bold;
    font-family: playfair display;
    text-transform: uppercase;
  }
  .zonalsHomeMain{
    min-height: 80vh;
    flex: none;
    align-items: flex-end !important
  }
  .header{
  
    height: 41px;
    font-family: playfair display;
    font-size: 34px;
    font-weight: bold;
    line-height: 41px;
    text-transform: uppercase;
    color:black;
    margin-top: 5%;
    margin-bottom: 6%;
  }


  .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
    background: white;
    border-radius: 8px;
    margin-top: 6.5%;
  }
  .imgContainer{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    z-index:15;
  }
  .image{
    z-index:20000;
    width:160px;
    cursor: pointer;
    /* height: 120px; */
  }
  .partners{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
  }
  .subHeader{
    width: 87px;
height: 24px;
font-family: Lato;
font-size: 20px;
line-height: 24px;
color: #000506;

  }
  @media screen and (max-width:1000px){
    .image{
      width:56px;
    }
    .header{font-size: 18px;
    line-height: 22px;
    margin-top: 4%;
    margin-bottom: 0;}
    .subHeader{
      font-size: 12px;
line-height: 14px;
width: 56px;
    }
  }
  @media screen and (max-width:500px)
  {.main{
    background-attachment:none;
  }
  .imgContainer{
    width:60%;
  }
  #header
  {
    font-size: 20px;
  }
    .image{
      width:45px;
    }
    .box{
      width: 90%;
      margin-top: 6%;
      border-radius: 2px;
    }
    .header{font-size: 13px;
    line-height: 20px;
    margin-top: 4%;
    margin-bottom: 0;}
    .subHeader{
      font-size: 12px;
line-height: 14px;
width: 56px;
    }
  }
