
  
.maindiv{
    width: 100%;;
  overflow-x: hidden;
   padding-top: 1%;
   display: flex;
   justify-content: center;
   align-items: center;

}
.sidebar{
    width: 20.6%;
}
.header{
    display: none;
}
div.scrollmenu {
    
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    margin-top: 2%;
   
  }
  .leftButton{
    position: absolute;

top: 15%;

  }
  .rightButton{
    position: absolute;
    left: 98%;
   
    top: 15%;
    
  }
  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  /* div.scrollmenu a:hover {
    background-color: #777;
    
  } */
  .mun_prizes{
    font-family: Proxima Nova Regular;
    /* text-align: center; */
    font-size: 20px;
      margin-left: 250px;
    /* padding: 0px 45px; */
    font-weight: 600;
    text-transform:uppercase;
    color: rgba(0, 0, 0, 0.7);
    /* color:#D6DBDF; */
    /* font-weight: 600; */
  }

.colorGradient{
    position: absolute;
width: 56px;
height: 31%;
    /* left: 20.4%; */
    top: 3.5%;

background: linear-gradient(90deg, #FFFFFF 0%, #FFFFFF 36.46%, rgba(255, 255, 255, 0) 100%);
}
.colorGradient2{
    position: absolute;
width: 56px;
height: 31%;
    left: 96.2%;
    top: 3.5%;
    

background: linear-gradient(90deg, #FFFFFF 0%, #FFFFFF 36.46%, rgba(255, 255, 255, 0) 100%);
transform: rotate(180deg);
}
.box{
    background: #FFFFFF;
box-shadow: 0px 1px 28px rgba(0, 0, 0, 0.1);
border-radius: 2px;
/* margin-left: 9%; */
/* margin-top: 3%; */
width: 800.61px;
height: min-content;
display: flex;
flex-direction: column;
}
.line{
    width: 200px;
height: 0px;
margin-top: 5%;
margin-left: 5%;
border: 3px solid #0DB71E;
}
.line2{
    width: 200px;
height: 0px;
margin-bottom: 5%;
margin-left: 65%;
border: 3px solid #0DB71E;
}
.firstLetter{
    width: 54px;
height: 73px;
font-family: Lato;
font-size: 56px;
line-height: 130%;
letter-spacing: 0.015em;
color: #0DB71E;
}
.content{
margin-right: 6%;
margin-left: 6%;
margin-top: 3%;
margin-bottom: 4%;
font-family: Proxima Nova Regular;
font-size: 20px;
line-height: 130%;
letter-spacing: 0.015em;
color: rgba(0, 0, 0, 0.7);
}
.div1{
width: 250.67px;
height: 200px;
background: #000000;
box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15);
border-radius: 4px;
margin-left: 40.88px;
}




@media screen and (max-width:768px){
    .maindiv{
        width: 100vw;
        min-height: 100vh;
        margin-left: 0%;
        overflow-x: hidden;
       
    }
    div.scrollmenu{overflow: auto;}
    .box{
        width: 80%;
        margin-left: 10%;
        margin-top: 10%;
        margin-bottom: 2%;
        margin-right: 10%;
    }
    .maindiv{min-height: 100vh;
    padding: 0%}
    .content{font-size: 16px;}
    .line, .line2{
        width: 110px;
    }
    .line2{margin-left: 48%;}
    .div1{
        width: 150px;
        height: 100px;
        margin-right: 30px;
        margin-left: 0%
    }
    div.scrollmenu {
        margin-left: 20px;
        width: 100%;
        margin-top: 10%;
    }
    .firstLetter{font-size: 45px;}
    .colorGradient,.colorGradient2,.leftButton,.rightButton{
        display: none;
    }
    .header{
        display: inline-flex;
        width: 100%;
        height: 54px;
        background: #353E4A;
box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.25);
    }
    .mun_prizes{
        margin-left:140px;
        font-size:14px;
    }
    .headerName{
        width: 91px;
height: 23px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;
text-transform: uppercase;
    margin-left: 35%;
    margin-top: 4%;

color: #FFFFFF;

    }
}
@media  screen and (min-width:768px) and (max-width:1367px){
    .colorGradient,.colorGradient2{height: 24%;
        top:1%;}
        .colorGradient2{left: 94.85%; top: 1%;}
        .rightButton,.leftButton{top:11%;}
        .rightButton{left: 97%}
        .div1{width: 200px;
        height: 150px;}
        .line{margin-top: 3%;}
        .line2{margin-bottom:3%; }
        .content{font-size: 18px;
        margin-top: 2%;
    margin-bottom: 2%;}
        .firstLetter{font-size: 52px;}
        div.scrollmenu{
            margin-top: 0%
        }
        .box{margin-top: 2%;
        width:709.61px;}
        
}


