@font-face {
    font-family: "Proxima Nova";
    font-display: auto;
    src:url('../fonts/ProximaNova-Bold.otf')  format('truetype');

    }
    @font-face {
        font-family: "Proxima Nova Regular";
        font-display: auto;
        src:url('../fonts/ProximaNova-Regular.otf')  format('truetype');
    
        }   
.committeeMainContainer{
    width:100%;
    min-height: 100vh;
    height: fit-content;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.cardsContainer{
    width:360px;
    display:flex;
    height:580px;
    background: black;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    flex-flow: column;
    box-sizing: border-box;
    padding:15px;
    justify-content: center;
    align-items: center;
    color: white
}
.imgContainer{
    flex: 1.7;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    display:flex; 
}
.imgContainer>img{
    width: auto;
    max-width: 100%;
}
.contentContainer{
    width: 100%;
    flex: 1 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}
.cardHeading{
    font-family: Proxima Nova;
    font-size: 28px;
    line-height: 31px;
    text-align: center;
    margin: 0;
    flex:.8;
    color: #FFFFFF;
}
.anchorContainer{
    width: 100%;
    flex:1;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center
}
.anchor{
    background: transparent;
    border: 1px solid #0DB71E;
    box-sizing: border-box;
    outline: none;
    border-radius: 2px;
    padding: 3.9% 21.4%;
    font-family: Proxima Nova Regular;
    font-size: 20px;
    text-decoration: none;
/* line-height: 20px; */
/* identical to box height */


color: #0DB71E;
}
.anchor:hover{
    cursor: pointer;
}
@media(max-width:768px){
    .committeeMainContainer{
        flex-flow: column;
        box-sizing: border-box;
        height:fit-content
    }
    .imgContainer{
        max-width: 90%;
    }
    .cardHeading{
        font-family: Proxima Nova;
        font-size: 18px;
        line-height: 134.09%;
    }
    .anchor{
        font-size: 16px;
        line-height: 16px;
    }.anchorContainer{
        box-sizing: border-box;
        border-radius: 2px;
    }
    .cardsContainer{
        width: 300px;
        height: 300px;
        background: #000000;
        box-shadow: 2px 1px 20px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}