.committeeDetailContainer{
    /* position: absolute;
    right: 0; */
    /* width:79.4%; */
    width: 100%;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.committeeDetailInnerContainer{
    /* max-width: 86.6%; */
    max-width: 863px;
    display: flex;
    align-items: center;
    background: black;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}
.infoContainer{
    flex: 1;
    box-sizing: border-box;
    padding: 50px;
    color: white;
}
.infoContainer>p:nth-of-type(1){
    font-size: 24px
}
.infoContainer>p{
    font-family: Proxima Nova Regular;
    font-style: Regular;
    font-size: 14px;
    /* width:246px; */
    line-height: 115%;
}
@media(max-width:1280px){
    .infoContainer{
        padding:10px
    }
}
@media(max-width:1036px){
    .committeeDetailInnerContainer{
        flex-flow: column;
        text-align: justify;
    }
}
@media(max-width:768px){
    .committeeDetailContainer{
        width:100%
    }
    .committeeDetailInnerContainer{
        
        max-width: 300px;
    }
    .infoContainer{
        font-family: Proxima Nova Regular;
        font-size: 14px;
        line-height: 127.52%;
    }
    .infoContainer>p:nth-child(1){
        font-size: 20px
    }
}