.outerContainer{
    width: 100%;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E5E5E5;
    min-height: 100%;
}

.wraper{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: space-evenly;

}

.card{
    min-width: 50%;
}