.container{
      display: flex;
      flex-direction: column;
 }

.wraper{
    /* width: 100%; */
    display: flex;
    flex-direction: column;

}

.header{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
   /* margin-top: 30px;*/
    margin:22.5px auto;
}

.heading{
font-family: Pacifico;
font-style: normal;
font-weight: normal;
font-size: 40px;
/*line-height: 70px;*/
color: #FFFFFF;
}

.cards{
    /* min-height: 30vh; */
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    padding-top: 40px;
   
}

.card  {
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.20);
    border-radius: 4px;
    box-sizing: border-box;
    padding: 7.5% 5% 7.5% 5%;;
    width: 475px;
}
.Content{
    display: flex;
}

.cardContentHeader{
   font-family: Roboto;
   font-style: normal;
   font-weight: 500;
   font-size: 28px;
   /* line-height: 33px; */
   color: #000000;
}
.iconImage{
   height: 20px;
   margin-top: 18px;
   width: fit-content;
}
.cardPhDetails
{
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 22px;
   color: rgba(0, 0, 0, 0.7);
   margin-top: 10px;
}
.cardMailDetails
{
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 22px;
   color: rgba(0, 0, 0, 0.7);
   margin-top: 10px;
}

.cardImg{
   display: flex;
   justify-content: flex-end;
   flex-direction: column;
}

.cardContent{
   margin-left: 30px;
   display: flex;
   flex-direction: column;
}

@media screen and (max-width:945px){

    .header{
        margin: 10px auto;
    }
    .header > label{
        display: none;
    }
    .cards{
        flex-wrap: wrap;
        box-sizing: border-box;
        padding-bottom: 0;
        padding-top: 0;
    }

    .card {
        width:320px;
        margin-top: 25px;
    }
 /*   for card 1*/
 .cardImg{
     margin-top: 14px;
 }
  .cardContent{
      margin-left: 15px;
  }

  .cardContentHeader{
      font-size: 20px;
  }
  .cardPhDetails{
      font-size: 16px;
  }
  .cardMailDetails{
      font-size: 16px;
      margin-top: 16px;
  }

 
}

@media screen and (max-width:320px){
 .card{
     width: 300px;
     padding: 5%;
 }
 
}