.executiveMainContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    box-sizing: border-box;
    padding: 8% 0%;
    flex-flow: column;
    justify-content: space-around;
}
.cardsRow{
    width: 100%;
    display:flex;
    justify-content: space-evenly;
}
.cardsContainer{
    width:480px;
    height:192px;
    display:flex;
    background: #FFFFFF;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    align-items: center;
    box-sizing: border-box;
    padding:15px;
    justify-content: space-around
}
.imgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 100%;
}
.imgContainer>img{
    border-radius: 50%;
}
.contentContainer{
    display: flex;
    height: 100%;
    justify-content: center;
    width: 60%;
    flex-flow: column
}
.cardHeading{
    font-family: Proxima Nova;
    font-size: 24px;
    line-height: 24px;
    margin:0px;
    /* identical to box height */
    color: #000000;
}
.post{
    font-size: 16px;
    line-height: 104%;
/* identical to box height, or 17px */

    text-transform: uppercase;

    color: rgba(0, 0, 0, 0.54);
}
.anchorContainer{
    width: 40.6%;
    height: 18%;
    display: flex;
    align-items: center;
    background: #0DB71E;
    border-radius: 2px;
    justify-content: center;

}
.anchorContainer>button{
    
    background: transparent;
    border:none;
    outline:none;
    font-family: Proxima Nova;
    font-size: 16px;
    text-decoration: none;
    line-height: 16px;
    /* identical to box height */
    color: #FFFFFF;
}
.anchorContainer>button:hover{
    cursor: pointer;
}
@media(max-width:768px){
    .executiveMainContainer{
        height: fit-content;
        min-height: 100vh;
        justify-content: flex-start
    }
    .cardsContainer{
        margin: auto
    }
    .imgContainer>img{
        max-width: 65%;
    }
    .cardHeading{
        font-size:16px;
        line-height: 16px
    }
    .cardsContainer{
        padding: 0px;
        margin: 10px auto 10px;
        width: 90%;
        height: 17.2vh;
        border-radius: 4px;
    }
    .showBoxShadow{
        box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
    }
    .post{
        font-size: 13px;
        line-height: 104%;
    }
    .cardsRow{
        flex-flow:column 
    }
}