.executiveDetailContainer{
    width: 100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.executiveDetailContainerIn{
    width: 480px;
    height: fit-content;
    background: #FFFFFF;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: flex;
    flex-flow: column;
}
.infoContainer{
    box-sizing: border-box;
    padding: 10px 22px;
}
.infoContainer>p{
    font-family: Proxima Nova Regular;
    font-size: 20px;
    line-height: 23px;

    color: #000000;

}