/* .heading{
    background: #353E4A;
box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.25);
display: flex;
height: 54px;
justify-content: center;
align-items: center;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;
/* text-transform: uppercase; */
/* width: 79.4vw;

color: #FFFFFF;

} */ 
.main_div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.box{
    display: flex;
    flex-direction: column;
    /* padding: 7vw; */
    margin-left: 100px;
    margin-top: 90px;
}
@media screen and (max-width:760px){
    .box{
        margin-left: 0px;
    }
}