.mainHomeContainer{
    width:100%;
    min-height:100vh;
    display:flex;
    position:relative;
    overflow-x: hidden;
}
.rightContainer{
    width: 79.4%;
    min-height: 100%;
    position: absolute;
    right: 0;
    display: flex;
}
@media(max-width:768px){
    .rightContainer{
        width: 100%;
        margin-top:48px;
    }
}