 .munHomeContainer{
    
    /* width:79.4%; */
    width: 100%; 
    min-height:100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
} 
.munHomeContainerIn{
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
.munImg{
    width: 35%;
}
.munHeading{
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 91px;
/* identical to box height */
    margin:1.5rem auto 0rem;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.munDate{
    margin:0rem;
    font-family: Pacifico;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 63px;
    color: #FFFFFF;
    white-space: nowrap;
}
.munDate>sup{
    text-transform: none;
    font-size: 24px;
}
.registerButton{
    text-decoration: none;
    background: #0DB71E;
    border-radius: 2px;
    font-family: Proxima Nova;
    font-size: 30px;
    line-height: 30px;
/* identical to box height */
    box-sizing:border-box;
    padding: 2.8% 14.23%;
    color: #FFFFFF;
}

@media screen and (max-width:768px){
    .munImg{
        width: 65%;
    }
    .munHeading{
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
    color: fff;
    }
    /* .munHomeContainer{
        background: none !important;
    } */
    .munDate{
        font-family: Pacifico;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 39px;
/* identical to box height */

        text-transform: uppercase;
        margin: 0px 0px 25px;

        color:fff;
    }
    .registerButton{
        padding:2.8% 13%;
        font-family: Proxima Nova;
        font-size: 16px;
        line-height: 16px;
        /* identical to box height */
        color: #FFFFFF;
    }
}