@font-face {
    font-family: "Proxima Nova";
    
    src:url('../fonts/ProximaNova-Bold.otf')  format('truetype');

    }
@font-face {
    font-family: "Proxima Nova Regular";
        
    src:url('../fonts/ProximaNova-Regular.otf')  format('truetype');
    
}
@font-face {
    font-family: "Proxima Nova RegularIt";
        
    src:url('../fonts/ProximaNova-RegularItalic.otf')  format('truetype');
}  
.side_drawer{
    width:100%;
} 
.navigationItems{
    margin:0;
    padding:0;
    list-style: none;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.navigationItem{
    margin:0;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    align-items: center;
    transition:background .3s ease-in
    
}
.navigationItem a{
    text-decoration: none;
    color:white;
    width: 100%;
    padding: 16px 40px;
    border-bottom: 4px solid transparent;
    box-sizing: border-box;
    display: block;
    font-family: Proxima Nova;
    font-size: 24px;
    line-height: 24px;
    transition:color .3s ease-in,font 10s ease-in;


    text-transform: uppercase;


}
/* .navigationItem:hover{
    
    
} */
.navigationItem:hover a{
    background:white;
    font-family: Proxima Nova Regular;
    color: rgba(0, 0, 0, 0.8);
}
.active{
    background: white;
    font-family: Proxima Nova Regular !important;
    color: rgba(0, 0, 0, 0.8) !important;
}
/* .home_button button{
    
    box-sizing: border-box;
    margin-top: 10px;
    width: 205px;
    cursor:pointer;   
    text-align: center;
    line-height: 30px;
    border-radius: 0.2em;
    border:1px solid #fff;
    font-size: 16px;
    color: #FFF;
    background-color:#405669;
    outline: none;
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}
.home_button button:hover{
        background-color:#fff;
        color:#405669;
} */