.container{
    background: url('../img/background.png');
    width: 100vw; 
    /* min-height:100vh; */
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.waiting{
    cursor:wait
}


.wraper{
   min-height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   box-sizing: border-box;
   margin-top: 4%;
   overflow-x: hidden;
   margin-bottom: 4%;
}
.box{
    background:white;
    width: 600px;
    /* height:700px; */
    box-shadow: 0px 4px 16px rgba(0, 87, 218, 0.12);
    display: flex;
    flex-direction: column;
    
    }
 .boxContent{
     display: flex;
     flex-direction: column;
     box-sizing: border-box;
     padding-left:3%;
     padding-right: 3%;
     padding-top: 5%;
     padding-bottom: 4%;
 }   
.mainDiv{
    display: flex;
    justify-content: center;
 }
.headline{
    font-family: Proxima Nova;
    font-size: 24px;
    line-height: 24px;
/* identical to box height */
    color: #0DB71E;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 5%;
    text-transform: uppercase;
 } 

.nameInput, .genderDiv, .emailInput, .contactInput, .collegeInput,  
.clgstateInput, .yearInput, .addCollegeInput,  .passwordInput,
.cnfpasswordInput,.cmtteDiv, .countryInput 
{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-bottom: 3%;

}     
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.textInput,.radio_cmmte1,.radio_cmmte2{
  border-left: 0;
  border-right: 0;
  border-top: 0;
}
.textInput{
    width: 13vw;
}

.textInput1{
    border-left: 0;
    border-right: 0;
    border-top: 0;
    width: 90%;
  }
.invalid{
    border-bottom-color:rgb(255,0,0,.5)
}  
.name,.email,.gender,.contact,.pass,.cnfPass,.clgState,.branch,.cmtte1,.cmtte2,.country{ 
    font-family: Proxima Nova;
    font-size: 16px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.54);
    text-transform: uppercase;
    letter-spacing: 0.02em;
    margin-bottom: 5%; 
}
.college,.clgAdd{
    font-family: Proxima Nova;
    font-size: 16px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.54);
    text-transform: uppercase;
    letter-spacing: 0.02em;
    margin-bottom: 2%;  
    
}

.label_gender,.label_cmtte1,.label_cmtte2{
    font-family: Proxima Nova;
    font-size: 16px;
    line-height: 16px;
    color: #000000a1;

}
.collegeInput,.addCollegeInput{
    box-sizing: border-box;
    padding: 5px;
}
.colDiv{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 5px;
    flex-wrap: wrap;  

}
.colDiv2{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 5px;

}

.cmtte1,.cmtte2{
    width: 100%;
    margin-bottom: 5%;
}

.registerBtn{
    width: 100%;
    height: 40px;
    text-align: center;
    font-family: Proxima Nova;
    font-size: 24px;
    line-height: 24px;
    border:none;
/* identical to box height */
color: #FFFFFF;
text-transform: uppercase;
background: #0DB71E;

}

/* .yearInput,.contactInput,
.cnfpasswordInput{
    width: 39.5%;
} */
.genderDiv{
    min-width: 42%;
}
.contactInput,.cnfpasswordInput,
.yearInput{
    min-width: 42%;
}

.countryInput1,.countryInput2{
    min-width: 42%;
    margin-bottom: 5%;
}

input:focus {
    outline:none !important;
}


@media screen and (max-width:768px){
    .wraper{
        margin-bottom: 5%;
        /* margin-top: 0; */
    }
    .name,.email,.gender,.contact,.pass,.cnfPass,
    .college,.clgAdd,.clgState,.branch,.cmtte1,.cmtte2,.country{
        font-size: 14.5px;
    }
    .box{
        width: 90%;
    }
    .colDiv2{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .textInput{
        width: 80vw;
    }
    /* .country{
        padding-right: 1%;
    } */
}

/* 
input[type='radio']:after {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:white;
    content: '';
    display: flex;
    visibility: visible;
    border: 1px solid #0DB71E;
}

input[type='radio']:checked:after {
    width: 10px;
    height: 10px;
    border-radius:50%;
    background-color:white;
    content: '';
    display: flex;
    visibility: visible;
    border: 1px solid #0DB71E;
} */