.sideDrawer{
    width: 20.6%;
    height: 100%;
    background: #353E4A;
    /* box-shadow: 2px 0px 24px rgba(0, 0, 0, 0.15); */
    position: fixed;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    z-index:100;
    box-sizing: border-box;
    transition: transform .3s ease-out
}
.navMain {
    width:100vw;
  }

@media(max-width:768px){
    .sideDrawer{
        width:100%;
        margin-top: 6.3vh;
    }
    .sidebarShow {
        transform: translateX(-100%);
        transition: 0.5s;
    }
    .sidebarHide {
        transform: translateX(0%);
        transition: 0.5s;
    }
    .responsiveNavbar {
        display: inline-block;
        padding: 3px;
      }
      .bar1,
      .bar2,
      .bar3 {
        width: 30px;
        height: 4px;
        background-color: white;
        margin: 6px 6px;
        transition: 0.4s;
      }
      .navMain{
          height:8.5vh;
          background-color: #353E4A;
          position: fixed;
          left:0;
          top:0;
          z-index:10;
      }
       
     .change 
     {
         padding:3px;
         z-index: 10;
          width:40px;
     }

     .change .bar1 {
   -webkit-transform: rotate(-48deg) translate(-7px, 6px);
    transform: rotate(-48deg) translate(-7px, 6px);
  }

  .change .bar2 {
    opacity: 0;
    
  }

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
     
  }
}