.container{
    display: flex;
    justify-content: center;
    background-color: grey;
    color: #ffffff;
    height: 10vh;
    align-items: center;
    overflow: hidden;
}
 .home, .ideas, .logout {
    text-decoration: none;
    color: white;
    padding: 3.9vw;
    font-family: Lato;
    font-style: normal;
    font-size: 25px;
    font-weight: 800;
    
}
.logout:hover{
    background-color: darkgray;
} 
.home:hover{
    background-color: darkgray;
} 
.ideas:hover{
    background-color: darkgray;
} 