
@font-face {
    font-family: "Salma";
    
    src:url('./font/Salma.ttf')  format('truetype');

    }
@font-face {
        font-family: "Poppins";
        
        src:url('./font/Poppins-Bold.otf')  format('truetype');
    
        }
    
        @font-face{
            font-family: GOOD BRUSH;
            src: url(../../ongoingevents/src/img/GoodBrush.woff);
        }
@media only screen and (min-width: 768px){
    .main-team-card-maindiv{
        padding: 100px 50px;
        height: fit-content;
        background-color:  #0F1B35;
   }
}



.main-team-wrapper{
    display:flex; 
    flex-direction: column;
    padding: 20px;
    flex-wrap: wrap;
    text-align: center;
    
}
.main-team-wrapperinnerdiv{

    margin-bottom: 10px;
    margin: 10px 72px;
    display: flex;
    flex-wrap: wrap;    
    flex-direction: row;
    justify-content:center !important;
    width:70vw;
   
}
.main-team-card-inner{ 
    position: relative;
    width: auto;
    margin: 2vw;
    margin-top:40px;
    
}
.main-team-card-innerdiv{
    position: relative;
    width: fit-content;
    margin: auto;
}

.main-team-card-inner-img{
    height:38vh;
    width:auto;
    transition: .5s;
}

.main-team-card-inner-bottom{
    width:100%;
    height: 10vh;
    margin-top: 20px;
    display: flex;
    justify-content: center;

}
.main-team-card-position{
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.3em;
    font-family: oswald;
    color:#2DCCD3;
    text-align: left;
    padding: 30px 20px 20px 20px;

}
.main-team-overlay {
    position: absolute;
    bottom: -8px;
    left: 50%;
    background-color: #071829;
    transform:translateX(-50%);
    opacity: .7;
    width: 98%;
    overflow: hidden;
    height: 0;
    transition: .5s ease;
  }
  .main-team-overlay-tech {
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    background-color: #194a50;
    box-shadow: 5px -5px 10px 10px  #194a50;
    opacity: .7;
    width: 100%;
    overflow: hidden;
    height: 0;
    transition: .5s ease;
  }
  .main-team-overlay-email{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
    transition-delay: .1s;
  }
  .main-team-card-inner-img:hover {
      height: 60vh;
  }
  .main-team-card-innerdiv:hover .main-team-card-inner-img {
      height:48vh;

  }
  .main-team-card-innerdiv:hover .main-team-overlay-email{
      width: 100%;
  }
  .main-team-card-innerdiv:hover .main-team-overlay {
    height: 99.5%;
    margin-bottom: 2.5%;
  }
  .main-team-card-innerdiv:hover .main-team-overlay-tech {
    height: 100%;
  }
  .main-team-card-innerdiv:hover .main-team-text {
    font-size: 48px;
    color: white;
    z-index: 2000000;

  }
  
  .main-team-text {
    color: white;
    font-family: GOOD BRUSH;
    font-size: 38px;
    line-height: 47px;
    position: absolute;
    top: 85%;
    left: 20px;
    white-space: nowrap;
    line-height: 1em;
    text-align: initial;
   

  }
  .main-team-info {
    z-index: 1;
    color: white;
    font-size: 15px;
    white-space: nowrap;
    position: relative;
    line-height: 1em;
    top: 30%;
    left: 56%;
    width: 90%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family:Montserrat;
    text-align: left;
  }
  .main-team-info a{
    text-decoration: none;
    color: white;
  }
  @-webkit-keyframes glow {

    from { text-shadow: 0 0 0px white; }    
    to { text-shadow: 0 0 20px #071829; }

}
.links{
    margin-right: 3px;
}


.main-team-card-innerdiv.white .line, .main-team-card-innerdiv.white::after {
	background: #fff
}
.main-team-card-innerdiv.white .line2, .main-team-card-innerdiv.white::after {
    background: #fff;
    filter: blur(6px);
}
.main-team-card-innerdiv.white .line3, .main-team-card-innerdiv.white::after {
    background: #fff;
    filter: blur(12px);
}
.main-team-card-innerdiv .line {
	position: absolute;
	background: white;
}
.main-team-card-innerdiv .line2 {
	position: absolute;
    background: white;
    filter: blur(6px)
}
.main-team-card-innerdiv .line3 {
	position: absolute;
    background: white;
    filter: blur(12px)
}
.main-team-card-innerdiv .line.left, .main-team-card-innerdiv .line.right {
	width: 3px;
	bottom: -2px;
	top: -2px;
	transform: scale3d(1, 0, 1)
}
.main-team-card-innerdiv .line2.left, .main-team-card-innerdiv .line2.right {
	width: 3px;
	bottom: -2px;
	top: -2px;
	transform: scale3d(1, 0, 1)
}
.main-team-card-innerdiv .line3.left, .main-team-card-innerdiv .line3.right {
	width: 3px;
	bottom: -2px;
	top: -2px;
	transform: scale3d(1, 0, 1)
}
.main-team-card-innerdiv .line.bottom, .main-team-card-innerdiv .line.top {
	height: 3px;
	left: -2px;
	right: -2px;
	transform: scale3d(0, 1, 1)
}
.main-team-card-innerdiv .line2.bottom, .main-team-card-innerdiv .line2.top {
	height: 3px;
	left: -2px;
	right: -2px;
	transform: scale3d(0, 1, 1)
}
.main-team-card-innerdiv .line3.bottom, .main-team-card-innerdiv .line3.top {
	height: 3px;
	left: -2px;
	right: -2px;
	transform: scale3d(0, 1, 1)
}
.main-team-card-innerdiv .line.left{
	right: -2px;
	-webkit-transition: transform .1s cubic-bezier(1, 0, .65, 1.01) .23s;
	-moz-transition: transform .1s cubic-bezier(1, 0, .65, 1.01) .23s;
	-o-transition: transform .1s cubic-bezier(1, 0, .65, 1.01) .23s;
	transition: transform .1s cubic-bezier(1, 0, .65, 1.01) .23s;
	transform-origin: top
}
.main-team-card-innerdiv  .line2.left {
	right: -2px;
	-webkit-transition: transform .1s cubic-bezier(1, 0, .65, 1.01) .23s;
	-moz-transition: transform .1s cubic-bezier(1, 0, .65, 1.01) .23s;
	-o-transition: transform .1s cubic-bezier(1, 0, .65, 1.01) .23s;
	transition: transform .1s cubic-bezier(1, 0, .65, 1.01) .23s;
	transform-origin: top
}
.main-team-card-innerdiv  .line3.left {
	right: -2px;
	-webkit-transition: transform .1s cubic-bezier(1, 0, .65, 1.01) .23s;
	-moz-transition: transform .1s cubic-bezier(1, 0, .65, 1.01) .23s;
	-o-transition: transform .1s cubic-bezier(1, 0, .65, 1.01) .23s;
	transition: transform .1s cubic-bezier(1, 0, .65, 1.01) .23s;
	transform-origin: top
}
.main-team-card-innerdiv .line.top{
	top: -2px;
	-webkit-transition: transform 80ms linear .43s;
	-moz-transition: transform 80ms linear .43s;
	-o-transition: transform 80ms linear .43s;
	transition: transform 80ms linear .43s;
	transform-origin: left
}
.main-team-card-innerdiv .line2.top {
	top: -2px;
	-webkit-transition: transform 80ms linear .43s;
	-moz-transition: transform 80ms linear .43s;
	-o-transition: transform 80ms linear .43s;
	transition: transform 80ms linear .43s;
	transform-origin: left
}
.main-team-card-innerdiv .line3.top {
	top: -2px;
	-webkit-transition: transform 80ms linear .43s;
	-moz-transition: transform 80ms linear .43s;
	-o-transition: transform 80ms linear .43s;
	transition: transform 80ms linear .43s;
	transform-origin: left
}
.main-team-card-innerdiv .line.right{
	left: -2px;
	-webkit-transition: transform 80ms linear .51s;
	-moz-transition: transform 80ms linear .51s;
	-o-transition: transform 80ms linear .51s;
	transition: transform 80ms linear .51s;
	transform-origin: bottom
}
.main-team-card-innerdiv  .line2.right{
	left: -2px;
	-webkit-transition: transform 80ms linear .51s;
	-moz-transition: transform 80ms linear .51s;
	-o-transition: transform 80ms linear .51s;
	transition: transform 80ms linear .51s;
	transform-origin: bottom
}
.main-team-card-innerdiv  .line3.right{
	left: -2px;
	-webkit-transition: transform 80ms linear .51s;
	-moz-transition: transform 80ms linear .51s;
	-o-transition: transform 80ms linear .51s;
	transition: transform 80ms linear .51s;
	transform-origin: bottom
}
.main-team-card-innerdiv .line.bottom{
	bottom: -2px;
	-webkit-transition: transform .3s cubic-bezier(1, 0, .65, 1.01) 0s;
	-moz-transition: transform .3s cubic-bezier(1, 0, .65, 1.01) 0s;
	-o-transition: transform .3s cubic-bezier(1, 0, .65, 1.01) 0s;
	transition: transform .3s cubic-bezier(1, 0, .65, 1.01) 0s;
	transform-origin: right
}
.main-team-card-innerdiv .line2.bottom{
	bottom: -2px;
	-webkit-transition: transform .3s cubic-bezier(1, 0, .65, 1.01) 0s;
	-moz-transition: transform .3s cubic-bezier(1, 0, .65, 1.01) 0s;
	-o-transition: transform .3s cubic-bezier(1, 0, .65, 1.01) 0s;
	transition: transform .3s cubic-bezier(1, 0, .65, 1.01) 0s;
	transform-origin: right
}
.main-team-card-innerdiv .line3.bottom{
	bottom: -2px;
	-webkit-transition: transform .3s cubic-bezier(1, 0, .65, 1.01) 0s;
	-moz-transition: transform .3s cubic-bezier(1, 0, .65, 1.01) 0s;
	-o-transition: transform .3s cubic-bezier(1, 0, .65, 1.01) 0s;
	transition: transform .3s cubic-bezier(1, 0, .65, 1.01) 0s;
	transform-origin: right
}

.main-team-card-innerdiv:active .line, .main-team-card-innerdiv:hover .line {
	transform: scale3d(1, 1, 1)
}
.main-team-card-innerdiv:active .line2, .main-team-card-innerdiv:hover .line2 {
	transform: scale3d(1, 1, 1)
}
.main-team-card-innerdiv:active .line3, .main-team-card-innerdiv:hover .line3 {
	transform: scale3d(1, 1, 1)
}
.main-team-card-innerdiv:active .line.right, .main-team-card-innerdiv:hover .line.right {
	-webkit-transition: transform .1s cubic-bezier(1, 0, .65, 1.01) .2s;
	-moz-transition: transform .1s cubic-bezier(1, 0, .65, 1.01) .2s;
	-o-transition: transform .1s cubic-bezier(1, 0, .65, 1.01) .2s;
	transition: transform .1s cubic-bezier(1, 0, .65, 1.01) .2s;
	transform-origin: bottom
}
.main-team-card-innerdiv:active .line2.right, .main-team-card-innerdiv:hover .line2.right {
	-webkit-transition: transform .1s cubic-bezier(1, 0, .65, 1.01) .2s;
	-moz-transition: transform .1s cubic-bezier(1, 0, .65, 1.01) .2s;
	-o-transition: transform .1s cubic-bezier(1, 0, .65, 1.01) .2s;
	transition: transform .1s cubic-bezier(1, 0, .65, 1.01) .2s;
	transform-origin: bottom
}
.main-team-card-innerdiv:active .line3.right, .main-team-card-innerdiv:hover .line3.right {
	-webkit-transition: transform .1s cubic-bezier(1, 0, .65, 1.01) .2s;
	-moz-transition: transform .1s cubic-bezier(1, 0, .65, 1.01) .2s;
	-o-transition: transform .1s cubic-bezier(1, 0, .65, 1.01) .2s;
	transition: transform .1s cubic-bezier(1, 0, .65, 1.01) .2s;
	transform-origin: bottom
}
.main-team-card-innerdiv:active .line.top, .main-team-card-innerdiv:hover .line.top {
	-webkit-transition: transform 80ms linear .4s;
	-moz-transition: transform 80ms linear .4s;
	-o-transition: transform 80ms linear .4s;
	transition: transform 80ms linear .4s;
	transform-origin: right
}
.main-team-card-innerdiv:active .line2.top, .main-team-card-innerdiv:hover .line2.top {
	-webkit-transition: transform 80ms linear .4s;
	-moz-transition: transform 80ms linear .4s;
	-o-transition: transform 80ms linear .4s;
	transition: transform 80ms linear .4s;
	transform-origin: right
}
.main-team-card-innerdiv:active .line3.top, .main-team-card-innerdiv:hover .line3.top {
	-webkit-transition: transform 80ms linear .4s;
	-moz-transition: transform 80ms linear .4s;
	-o-transition: transform 80ms linear .4s;
	transition: transform 80ms linear .4s;
	transform-origin: right
}
.main-team-card-innerdiv:active .line.left, .main-team-card-innerdiv:hover .line.left {
	-webkit-transition: transform 80ms linear .48s;
	-moz-transition: transform 80ms linear .48s;
	-o-transition: transform 80ms linear .48s;
	transition: transform 80ms linear .48s;
	transform-origin: top
}
.main-team-card-innerdiv:active .line2.left, .main-team-card-innerdiv:hover .line2.left {
	-webkit-transition: transform 80ms linear .48s;
	-moz-transition: transform 80ms linear .48s;
	-o-transition: transform 80ms linear .48s;
	transition: transform 80ms linear .48s;
	transform-origin: top
}
.main-team-card-innerdiv:active .line3.left, .main-team-card-innerdiv:hover .line3.left {
	-webkit-transition: transform 80ms linear .48s;
	-moz-transition: transform 80ms linear .48s;
	-o-transition: transform 80ms linear .48s;
	transition: transform 80ms linear .48s;
	transform-origin: top
}
.main-team-card-innerdiv:active .line.bottom, .main-team-card-innerdiv:hover .line.bottom {
	-webkit-transition: transform .5s cubic-bezier(0, .53, .29, 1) .56s;
	-moz-transition: transform .5s cubic-bezier(0, .53, .29, 1) .56s;
	-o-transition: transform .5s cubic-bezier(0, .53, .29, 1) .56s;
	transition: transform .5s cubic-bezier(0, .53, .29, 1) .56s;
	transform-origin: left
}
.main-team-card-innerdiv:active .line2.bottom, .main-team-card-innerdiv:hover .line2.bottom {
	-webkit-transition: transform .5s cubic-bezier(0, .53, .29, 1) .56s;
	-moz-transition: transform .5s cubic-bezier(0, .53, .29, 1) .56s;
	-o-transition: transform .5s cubic-bezier(0, .53, .29, 1) .56s;
	transition: transform .5s cubic-bezier(0, .53, .29, 1) .56s;
	transform-origin: left
}
.main-team-card-innerdiv:active .line3.bottom, .main-team-card-innerdiv:hover .line3.bottom {
	-webkit-transition: transform .5s cubic-bezier(0, .53, .29, 1) .56s;
	-moz-transition: transform .5s cubic-bezier(0, .53, .29, 1) .56s;
	-o-transition: transform .5s cubic-bezier(0, .53, .29, 1) .56s;
	transition: transform .5s cubic-bezier(0, .53, .29, 1) .56s;
	transform-origin: left
}





  .message_box{
      display: flex;
      flex-direction: row;
      width: 90%;
  }
  .message_box_message_icon{
      margin-right: 10px
  }
  .message_text{
      margin: 0;
  }
  .main-team-card-footer-mainIcons
{
    margin-top:2px;
    display:inline-flex;
    margin-right: 10%;
    margin-left: 5%
}


.main-team-card-footer-fbdiv, .main-team-card-footer-ytdiv , .main-team-card-footer-instadiv , .main-team-card-footer-linkediv
{
    width:40px;
    height:40px;
    margin-left:30px;
    border-radius:50%;
    transition: 0.5s;
}

.main-team-card-footer-iconsImage
{
    width:40px;
    height:40px;
}
.main-team-card-footer-mainIcons
{
    margin-top:2px;
    display:inline-flex;

}

.main-team-card-footer-icons
{
    float:right;
    position: absolute;
    top: 50%;
    left:5%;
    user-select:none;
    -webkit-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
}
   
    .main-team-card-footer-fbdiv:hover
    {
        background:black;
    }
    
    .main-team-card-footer-instadiv:hover
    {
        background:black;
    }
    .main-team-card-footer-linkediv:hover
    {
        background:black;
    }
   
    .common-cursor{
      cursor : default;
    }


    @media only screen and (max-width: 768px){

        .main-team-card-position {
            font-size: 20px;
        }
              .main-team-info {
                  font-size: 11px;
              }
        .main-team-wrapper {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            padding: 20px;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            text-align: center;
        }

        .main-team-wrapperinnerdiv {
            
            margin: 0px;
            margin-bottom: 10px;
            display: -ms-flexbox;
            display:    flex;
            -ms-flex-direction: row;
            flex-direction: column;
            -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
        }
        .main-team-card-maindiv {
            padding: 10% 5%;
            background-attachment: fixed;
            background-color: #0F1B35;
            background-size: cover;
            background-position:center center;
            background-repeat:no-repeat;
            min-height:100vh;
        }
       
        .main-team-card-inner{
            width: 100%;
        }
    }




    .maindiv{
        background-color: #000;
        color: #fff;
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
      canvas{position:absolute;top:0;left:0}