@font-face{
    font-family: BRUX;
    src: url(../img/brux-regular-webfont.woff);
}
@font-face{
    font-family: PlayFair Display;
    src:url(../img/PlayfairDisplay-Regular.woff);
}
.whythomso_main{
    background-color: #000002;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.top{ 
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding-bottom: 15%;
}
.mid{
    background-image:url(../img/midBackground.png);
    background-size:cover;
    background-repeat: no-repeat;
    top:0;
    /* position: absolute; */
}
.top_content{
    width: 84%;
    padding-top:290px;
    position:relative;
}
.top_content #head{
    text-shadow: 0px 4px 6px rgba(0,0,0); 
    color: #fff;
    font-size: 60px;
    line-height: 75px;
    font-family: PlayFair Display;
    /* font-weight:bold; */
    text-transform: uppercase;
    margin:0;
}
.top_content #component{
    margin:0;
    text-shadow: 0px 4px 6px rgba(0,0,0); 
    color:#fff;
    font-size:20px;
    font-family: lato;
    line-height: 40px;
}
.heading{
    color: #fff;
    font-family:PlayFair Display;
    font-size: 40px;
    padding-left:8.5vw;
    line-height: 19vh;
    margin: 0;
    position: relative;
    /* font-weight:bold; */
    text-transform: uppercase;
}
.attraction_child{
    /* border: 2px solid #fff; */
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 82%;
    /* width:100%; */
}
.recentmedia_child{
    width: 80%;
    display: flex;
    justify-content: center;
    position: relative;
}
.blogs_child,.celebrities_child{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.celebrities_child{
    width: 100%;
    background-color: #000!important;
}
.attraction_head{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    font-weight: bold;
    position: relative;
    width: 17vw;
    z-index: 10;
    margin: 0 36px;
    border-radius: 4px;
}
.content_overlay{
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  .content_details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    font-weight:normal;
    width: 80%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .attraction_head:hover .content_details{
    top: 50%;
    left: 50%;
    opacity: 1;
  }
  .content_details {
    color: #fff;
    font-size: 0.8em;
  }
  
  .fadeIn_bottom{
    top: 80%;
  }
.attraction_head:hover .content_overlay{
    opacity: 1;
  }
.iframe{
    height: 36vh;
    width: 30vw;
    margin: 0 1vw;
}
.more{
    height: 60px;
    width:60px;
    position: absolute;
    top:48vh;
    right:3vw;
    transition: transform 0.5s;
}
.less{
    height: 60px;
    width:60px;
    transform:rotate(180deg);
    position: absolute;
    bottom: 2vh;
    right: 3vw;
    transition: transform 0.5s;
}
.blogs_component{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 16vw;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    margin: 0px 33px;
    border-radius: 4px;
}
.celebrity_name{
    color: #fff;
    font-family: brux;
    font-size: 28px;
    position: relative;
    bottom: 11vh;
    width: 11vw;
    text-shadow: 0px 4px 8px rgba(0,0,0);
    left: -2.5vw;
}
.celebrities_component{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    margin: 10px 33px;
    /* border-radius: 4px; */
}
.faqs_elements{
    /* background-color: #000027;    */
    padding-bottom:5%;
}
.faqs_details{
    display:flex;
    flex:1;
    width: 50%;
    margin-left: 7%;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content:flex-start;
}
.faqs2_details{
    display:flex;
    flex:1;
    width: 50%;
    margin-right: 7%;
    margin:0 4%;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content:flex-start;
}
.faqs_component{
    min-width:500px;
    transition:0.5s;
    margin: 20px ;
    cursor: pointer;
    height:fit-content;
    border:2px solid #000;
    background-color: #fff;
    border-radius: 4px;
}
#question{
    display: flex;
    padding:18px;
    font-family: lato;
    /* font-weight:bold; */
    align-items: center;
    text-align: left;
    color: #000;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: none;
    white-space: normal;
    transition: ease-in 0.3s;

}
.answer{
    padding-top: .5rem!important;
    padding: 1.25rem;   
     font-size: 16px; 
      font-family: lato;
    padding-left: 18px;
    line-height: 20px;
    padding-bottom:12px;
}
.plus{
    transition:  ease-in 1s;
    height:20px;
    width:20px;
    margin-top: 5px;
    padding: 0 4px;
    padding-right: 10px;

}
.showanswer{
    transition: max-height  1s, visibility 1s ;
    max-height: 400px;
    padding-bottom:12px;
}
.hideanswer{
    transition: max-height  1s, visibility  1s;
    visibility: hidden;
    max-height:0;
    padding-bottom: 0;
    padding-left: 18px;
}
.faqs_elements{
    display:flex;
    flex-wrap: wrap;
}
.show_celebrities{
    transition: all  1s ease-in;
    max-height: 120vh;
}
.hide_celebrities{
    transition: all  1s ease-in;
    display: none;
    max-height:0;
}
.popupMaindiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    height: 30vh;
    width: 15vw;
    padding: 41px;
    position: absolute;
    transition: all 0.5s ease-in;
    bottom: 0;
    transform: translateY(0);
}

.cancleText{
    cursor: pointer;
    color:#fff;
    position: relative;
    font-family: lato;
    font-size: 24px;
    bottom: 2vh;
    right: -114px;
}
.popupContent1{
    font-weight: bold;
    font-size: 22px;
    font-family: lato;
}
.popupContent2{
    font-size: 15px;
    text-shadow: 0px 4px 6px rgba(0,0,0,0.5);
}
.hide{
    transform: translatey(-100%);
    transition: all 0.5s ease-in;
    opacity:0;
    position: relative;
}

@media only screen and (max-width:500px){
    /* .whythomso_main{
        min-width:100vw;
        min-height:100vh;
    } */
    .content_details{
        display: none;
    }
    .content_overlay{
        background:none;
    }
    .top_content{
        width:auto;
        padding-top:35%;
    }
    .top{
        background-size: cover!important;
        background-image: url(../img/topMobileBackground.png)!important;
    }
    .top_content #head{
        font-size: 24px;
        line-height: 45px;
        margin-left: 27px;
    }
    .top_content #component{
        margin-left: 27px;
        font-size:14px;
        line-height: 20px;
    }
    .heading{
        font-size: 20px;
        padding-left: 8vw;
        padding-top: 1vh!important;
        line-height: 6vh;
    }
    .recentmedia_child{
        display: flex;
        justify-content: center;
        width:100%;
    }
    .attraction_child{
        justify-content: right;
    width: 90vw;
    margin: 0 5vw;
    }
    .show_attractions{
        transition: all  0.5s ease-in;
        max-height: 120vh;
    }
    .hide_attractions{
        transition: all  0.5s ease-in;
        display: none;
        max-height:0;
    }
    .attraction_head{
        margin: 6px 14px;
        height: 133px;
        width: 98px;
    }
    .attraction_head>p{
        margin:0;
        font-size:12px;
        text-align: center;
    }
    .attraction_head>iframe{
        height:100px!important;
    }
    
    .blogs_child{
        justify-content: center;
        width: 90vw;
        margin: 0 5vw;
    }
    .celebrities_child{
        width:100%;
    }
    .more{
        height: 40px;
        width:40px;
        position: absolute;
        top:37vh;
        right:24vw;
    }
    .less{
        height: 40px;
        width:40px;
        position: absolute;
        bottom:0;
        right:5vw;
    }
    .celebrities_component>img{
        height: 20vh!important;
        width: 25vw!important;
    }
    .celebrity_name{
        font-family: brux;
        font-size: 12px;
        position: relative;
        left: -7vw;
        bottom: 7vh;
    }
    .celebrities_component{
        margin:10px 10px;
    }
    .blogs_component{
        margin: 7px 14px;
        height: 136px;
        width: 113px;
    }
    .blogs_component>img{
        width: 113px!important;
        height:100px!important;
    }
    .paragraph{
        margin:0;
        text-align: center;
    }
    .iframe{
        height: 18vh;
        width: 42vw;
        margin: 10px 1vw;
    }
    .faqs_elements{
        display: none;
    }
    .faqs{
        background-color: #000027;
    }
    .faqs2_details{
        flex-direction: column;
        width:80vw;
        margin:0 20px;
       
    }
    #question{
        padding:12px;
        font-size:14px;
    }
    .answer{
        font-size:12px;
    }
    .plus{
        height:16px;
        width:16px;
    }
    .faqs_component{
        min-width:74vw;
        background-color: #fff;
        border-radius:4px;
    }
   .show_faq{
    transition: max-height  1s, visibility 1s;
    max-height: 100vh;
    }
.hide_faq{
    transition: max-height  0.5s, visibility  0.5s;
    display: none;
    max-height:0;
    }
}

