.payment_main_container
{   background-color: black;
   min-height: 100vh;
    width: 70%;
    margin-left: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.maindiv{background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.headerText{
    font-family: Lato;
font-size: 30px;
line-height: 36px;
text-transform: uppercase;
color: #FFFFFF;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin-top: 3%;
    margin-bottom: 3%;
    
}
.contentText{
    font-family: Lato;
font-size: 20px;
line-height: 24px;

color: rgba(255, 255, 255, 0.8);

}

.pay{
    height: 65px;
    width: 294.25px;
    text-decoration: none;
}

.terms{
    display: flex;
    justify-content: center;
    align-items:center;
    cursor: pointer;
    color: white;
    line-height: 14px;

}
.pay_button{
    width: 150px;
    height: 39px;
    cursor: pointer;
    font-size: 21px;
    border-radius: 4px;
    border-style: none;
}

.checkbox{
    width: 51px;
    margin: 0;
    height: 19px;
}
.buttonDiv{
    margin-top: 2%;
}
.adsDiv{
    background-color: #000;
    margin-left:30%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    padding:5px;
    min-height: 100vh;
}
.adsImage{
    width:50%;
    height:100%;
}
.oyo{
    color:#fff;
    font-size:20px;
}
@media screen and (max-width:1400px) and (min-width:768px){
    .content{
        width: 80%;
        margin-bottom: 0%;
        margin-top: 0%;
    }
}
@media screen and (max-width:768px){
    .payment_main_container{
        width: 100vw;
        margin-left: 0%;
    }
    .oyo{
        font-size: 15px;
    }
    .maindiv{
        margin-top:10vh;
    }
    .contentText{
        font-size: 14px;
        line-height: 17px;
    }
    .terms{
        font-size: 14px;
    }
    .checkbox{
        height:14px;
        width:35px;
    }
    .maindiv{
        height: fit-content;
        margin-top: 20px;
    }
    .content{width: 80%;
        margin-top: 0;
        margin-bottom: 0;}
    .button{
        width: 235px;
        height: 40px;
    }
    .button_text{
        font-size: 16px;
    }
    .header{
        display: none;
    }
    .adsDiv{
        margin-left:0;
        width:100%;
        padding-top:10vh;
    }
    .adsImage{
        width: 90%;
    }
}




/* .button{
    width: 294.25px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 65px;
    background: rgba(255, 255, 255, 0.8);
box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}
.buttonDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
    background-color:#000;
height: 100vh;
}
@media only screen and (max-width:768px){
    .buttonDiv{
        margin-left: 0;
    }
} */