.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.background{
    background-image: url("../../common/img/Background.png");
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
}
.wraper{
    margin-right: 7.5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.card{
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 87, 218, 0.12);
    border-radius: 10px;
    width: 435px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.formCard{
    box-sizing: border-box;
    padding: 5%;
}


.Form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 7.5%;
    padding-top: 15%;
}
.Form input{
   display: flex;
   padding: 5px;   
   display: flex;
   padding: 5px;
   width: 100%;
   border-top: 0;
   border-right: 0;
   border-left: 0;
   margin-bottom: 15%;
}

.header{
    display: flex;
    justify-content: center;
    /* text-decoration-line: underline;
    color: #4E1DE4;    */
 }

.header > label{
font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 20px;
text-transform: uppercase;
color: #4E1DE4;

}

.heading{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 17.5px;
    line-height: 17px;
    /* identical to box height */
    margin: 0;
    text-transform: uppercase;
   margin-bottom: 5%;
    color: rgba(0, 0, 0, 0.4);
    
    }
    
    .submit{
        display: flex;
        justify-content: center;
        
    }
     .forgotpassButton{
        width: 50%;
        font-family: Lato;
        font-style: normal;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        background: #0057DA;
        border-radius: 10px;
        color: #FFFFFF;
        border: none;
        color: #FFFFFF;
        padding: 10px;
        outline: 0 none;
    
    }
    
     @media screen and (max-width:768px)
     {
          .container{
     
             display: flex;
             justify-content: center;
             flex-direction: column;
             background: linear-gradient(93.64deg, #00B9E1 0%, #5B05E8 101.18%);
          }
     
          .background{
            display: none;
          }
         .wraper{
             margin: 0;
             display: flex;
             justify-content: center;
             /* flex-direction: column; */
             /* width: auto; */   
        
         }
     
         .card{
             width: 300px;
             height: 350px;
         }
     
           .header > label{
               font-size: 20px;
               line-height: 20px;
           }

           .Form{
               padding-top: 17.5%;
           }
         
         .submit{
             padding-top: 10px;
         }
         button{
             font-size: 18px;
             line-height: 18px;
         }
         .heading{
             font-size: 15.5px;
             line-height: 0;
         }
     
     }    
