.maindiv{
    margin-left:30%;
    background-color:#1c364d;
    color:#fff;
    font-family:lato;
    padding:3% 0;
    font-size:16px;
}

.sec_heading{
    background-color: #405669;
    box-shadow: 0,2px,20px rgba(0,0,0,0.05);
    height:32px;
    padding-left:4%;
    font-weight:bold;
    padding-top:0.8%;
    width: 64%;
    margin-top:1.5%;;
}
.sec_subhead{
    padding-left:4%;
    width: 64%;
}
.content{  
    width: 87%;
    padding-left:4%;
}
.rule{
    font-weight:bold;
}
.para{
    padding-left:4%;
    width: 87%;
    margin-bottom:0;
}
@media only screen and (max-width:850px){
    .maindiv{
        width:100%;
        margin-top:10%;
        margin-left:0%;
        font-size: 14px;
    }
    .sec_heading{
        margin-top:7.5%;
        width:94%;
        height:43px;
        padding-left:6%;
    }
    #rules{
        height:26px;
    }
    .sec_subhead{
        padding-left:6%;
    }
    .content{
        padding-left:6%;
    }
    .para{
        padding-left:6%;
    }
}