.container{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    width: 849.53px;
    height: 142.57px;
    background: #FFFFFF;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    padding: 34px;
    
}
.container .question{
    font-family: Proxima Nova;
    font-size: 24px;
    line-height: 24px;
    /* text-transform: uppercase; */
    
    color: #000000;
    margin-bottom: 15px;
}
.container .answer{
    font-family: Proxima Nova Regular;
    font-size: 20px;
    line-height: 110%;
    /* //or 22px */
    
    /* text-transform: uppercase; */
    
    color: rgba(0, 0, 0, 0.54);
    
    
}
@media screen and (max-width:770px){
    .container{
        width: 86%;
        height: 136px;
        padding: 5px;
    }
    .container .question{
        font-size: 14px;
        line-height: 14px;
        margin-left: 9px;
    }
    .container .answer{
        font-size: 14px;
        line-height: 110%;
        margin-left: 9px;
    }
}