.boxcontainer{
    background: black;
    display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
}
.box{
    color: white;
    font-style: normal;
    font-family: Lato;
    font-size: 22px;
}
@media only screen and (max-width:700px){
    .box{
        font-size: 13px;
    }
}