.container{
    /* background: url('../../../img/background.png'); */
    background: url('../../../../associatewithus/Common/img/background.png');

    width: 100%; 
    min-height:100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-attachment: fixed;
}
.main_div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.box{
    display: flex;
    flex-direction: column;
    /* padding: 7vw; */
    /* margin-left: 100px; */
    margin-top: 90px;
    justify-content: center;
    height: 80%;
}
.outerbox{
    height: 85%;
}

.outercontainer{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}
@media screen and (max-width:760px){
    .box{
        margin-left: 0px;
    }
}